<div class="splash">
  <p class="splash__catchcopy">飛び出せ日本！海外転職応援メディア</p>
  <!-- <svg class="splash__logo">
        <title>ASIA CAREER LABO</title>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#logotype_splash"
        ></use>
    </svg> -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="257.997"
    height="100"
    viewBox="0 0 257.997 100"
    class="splash__logo"
  >
    <defs>
      <style>
        .splash__path {
          fill: transparent;
          stroke: transparent;
          stroke-dasharray: 2000px;
          animation: svg 5s ease-in forwards infinite;
        }
        @keyframes svg {
          0% {
            fill: transparent;
            stroke: #101010;
            stroke-dashoffset: 2000px;
          }
          40% {
            stroke-dashoffset: 0;
            fill: #101010;
          }
          60% {
            fill: #101010;
            stroke: #101010;
          }
        }
      </style>
    </defs>
    <g transform="translate(-59 -242)">
      <path
        class="splash__path"
        d="M2947.743-740.535H2942.2l-7.348,34.491-3.936,3.793h10.4l4.918-29.3,4.319,25.718-3.712,3.578h11.584l-8.156-38.284Zm-27.785,0h-6.739v38.285h16.05v-6.125h-9.311Zm64.374,27.321c0,6.554-3.062,10.964-10.964,10.964H2964.3v-38.285h8.944c7.474,0,10.352,3.92,10.352,9.985,0,4.348-1.593,7.228-4.472,8.514C2982.189-720.689,2984.333-717.443,2984.333-713.215Zm-13.354-11.027h.674c3.431,0,5.023-1.47,5.023-5.206,0-3.369-1.408-5.023-4.41-5.023h-1.287Zm6.371,10.6c0-3.676-1.776-5.023-5.513-5.023h-.858v10.353h1.532C2975.88-708.315,2977.35-710.153,2977.35-713.645Zm24.53,12.249c7.411,0,12.006-6.555,12.006-19.969,0-14.273-4.655-20.031-12.067-20.031s-12.005,6.555-12.005,19.969C2989.813-707.154,2994.468-701.4,3001.88-701.4Zm-.062-6.065c-3.43,0-5.022-4.043-5.022-14.211,0-9.74,1.531-13.66,5.084-13.66,3.43,0,5.023,4.043,5.023,14.212C3006.9-711.381,3005.371-707.46,3001.818-707.46Z"
        transform="translate(-2775.219 1043.396)"
        fill="#101010"
      />
      <path
        class="splash__path"
        d="M2657.114-740.535l8.156,38.285h-11.584l3.712-3.578-4.317-25.718-4.92,29.3h-10.4l3.936-3.793,7.348-34.492h8.068Zm64.985,0h-5.544l-7.348,34.492-3.934,3.793h10.4l4.918-29.3,4.319,25.718-3.712,3.578h11.584l-8.156-38.285Zm62.253,0h-5.544l-7.347,34.492-3.936,3.793h10.4l4.919-29.3,4.317,25.718-3.712,3.578h11.584l-8.156-38.285Zm-102.79,16.355c-3.8-2.45-5.146-4.288-5.146-6.8,0-2.573,1.531-4.227,4.043-4.227,2.083,0,4.226,1.348,6.187,3.246l1.593-6.37a12.941,12.941,0,0,0-8.454-3.063c-5.819,0-10.229,4.226-10.229,10.658,0,5.207,2.879,8.882,7.289,11.577,3.615,2.206,5.085,4.411,5.085,7.106a4.121,4.121,0,0,1-4.227,4.472c-2.451,0-4.349-1.348-6.493-3.369l-1.593,6.37a13.234,13.234,0,0,0,8.576,3.185c6.248,0,10.6-4.471,10.6-10.9C2688.79-717.32,2686.463-721.056,2681.562-724.18Zm14.025,21.93h6.738v-38.286h-6.738Zm64.315-5.329c-4.1,0-6.126-4.472-6.126-14.028,0-9.065,1.776-13.6,6.065-13.6,2.083,0,3.8,1.286,5.33,2.94l1.776-6.125a11.18,11.18,0,0,0-7.841-3c-7.718,0-12.313,6.554-12.313,19.969,0,14.273,4.778,20.031,12.5,20.031a11.243,11.243,0,0,0,7.6-3.063l-1.714-6.065C2763.516-708.56,2761.862-707.579,2759.9-707.579Zm62.478,5.329h-12.146l3.771-3.634-3.57-10.21-2.695.368v13.476h-10.4l3.661-3.528v-34.757h9.065c7.841,0,11.21,4.656,11.21,11.761,0,4.962-1.837,8.882-4.778,10.659Zm-8.086-26.218c0-4.41-1.837-6-5.391-6h-1.163v12.741l1.041-.061C2812.64-722.036,2814.294-724,2814.294-728.469Zm81.465,26.218h-12.146l3.77-3.634-3.569-10.21-2.7.368v13.476h-10.4l3.661-3.528v-34.757h9.065c7.841,0,11.21,4.656,11.21,11.761,0,4.962-1.838,8.882-4.778,10.659Zm-8.086-26.218c0-4.41-1.838-6-5.391-6h-1.163v12.741l1.041-.061C2886.019-722.036,2887.673-724,2887.673-728.469Zm-59.843,26.218h16.844v-6.125h-10.107v-10.107h7.841v-6h-7.841v-9.924h10.107v-6.126h-16.844Zm22.663,0h16.845v-6.125h-10.107v-10.107h7.84v-6h-7.84v-9.924h10.107v-6.126h-16.845Z"
        transform="translate(-2578.762 983.393)"
        fill="#101010"
      />
    </g>
  </svg>
  <p class="splash__name">アジラボ</p>
</div>
