@use "../_setting" as *;

.tab {

}
.tab__list {
    @include reset-list;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: calc(100% + max(8.5333vw, 32px));
    transform: translateX(min(-4.2666vw, -16px));
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
    position: relative;
    @include sm-landscape {
        width: calc(100% + 32px);
        transform: translateX(-16px);
    }
    @include tb-screen {
        width: calc(100% + 48px);
        transform: translateX(-24px);
    }
    @media screen and (min-width: 800px) {
        width: unset;
        transform: unset;
    }
    @include pc-screen {
        width: unset;
        transform: unset;
    }
}
.tab__list::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display: none;
}
.tab__item {
    margin-right: max(3.2vw,12px);
    &:first-child {
        margin-left: max(4.2666vw, 16px);
    }
    &:last-child {
        margin-right: max(4.2666vw, 16px);
    }
    &:first-child {
        margin-left: 16px;
    }
    &:last-child {
        margin-right: 16px;
    }
    @include tb-screen {
        margin-right: 12px;
        &:first-child {
            margin-left: 24px;
        }
        &:last-child {
            margin-right: 24px;
        }
    }
    @media screen and (min-width: 800px) {
        margin-left: 0;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    @include pc-screen {
        margin-left: 0;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &.is-current {
        margin-top: max(2.4vw,9px);
        @include tb-screen {
            margin-top: 8px;
        }
    }
}
.tab__anchor {
    background-color: $color-pale-gray;
    border-radius: max(2.1333vw,8px);
    color: $color-base-black;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: bottom;
    transition: $transiton-base;
    @include tb-screen {
        border-radius: 6px;
    }
    @include pc-screen {
        &:hover {
            opacity: .75;
        }
    }
    .is-current & {
        border-radius: max(2.1333vw,8px) max(2.1333vw,8px) 0 0;
        @include tb-screen {
            border-radius: 6px 6px 0 0;
        }
    }
}