@use "../_setting" as *;

@keyframes splash {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 0;
        pointer-events: none
    }
}

.splash {
    @include font-noto-sans;
    animation: splash 1.5s ease-in 3s forwards;
    align-items: center;
    background-color: $color-theme-yellow;
    color: $color-base-black;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 40;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: $transiton-base;
    transform-origin: top left;
}

.splash__catchcopy {
    font-size: max(4vw,15px);
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 max(4.8vw,18px);
    @include sm-landscape {
        font-size: 1.5rem;
        margin-bottom: 18px;
    }
    @include tb-screen {
        font-size: 1.5rem;
        margin-bottom: 18px;
    }
}

.splash__logo {
    display: block;
    width: max(68.8vw,258px);
    height: max(26.6666vw,100px);
    margin-bottom: max(10.1333vw,38px);
    @include sm-landscape {
        width: 258px;
        height: 100px;
        margin-bottom: 38px;
    }
    @include tb-screen {
        width: 300px;
        height: 116px;
        margin-bottom: 38px;
    }
}

.splash__name {
    font-size: max(6.4vw,2rem);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .08em;
    margin: 0;
    @include sm-landscape {
        font-size: 2rem;
    }
    @include tb-screen {
        font-size: 2rem;
    }
}

