@use "../_setting" as *;

.youtuve-frame-wrap {
    @include sm-screen {
        margin-left: max(4.2666vw,16px);
    }
    @include sm-landscape {
        margin-left: 16px;
    }
    @include tb-screen {
        overflow: hidden;
        margin-left: 24px;
    }
    & + .button-primary {
        margin-top: max(8.5333vw,32px);
        @include sm-landscape {
            margin-top: 32px;
        }
        @include tb-screen {
            margin-top: 32px;
        }
    }
}

.youtube-frame {
    @include reset-list;
    display: flex;
}

.youtube-frame__item {
    flex: none;
    margin-right: max(4.2666vw,16px) !important;
    width: max(65.3333vw,245px) !important;
    &:last-child {
        margin-right: 0;
    }
    @include sm-landscape {
        margin-right: 16px !important;
        width: 245px !important;
    }
    @include tb-screen {
        margin-right: 16px !important;
        width: 245px !important;
    }
}

.youtube-frame__video-wrap {
    border-radius: max(2.1333vw,8px);
    height: max(36.8vw,138px);
    margin-bottom: max(3.2vw,12px);
    overflow: hidden;
    width: inherit;
    @include sm-landscape {
        border-radius: 8px;
        height: 138px;
        margin-bottom: 12px;
    }
    @include tb-screen {
        border-radius: 8px;
        height: 138px;
        margin-bottom: 12px;
    }
}

  /* 動画を囲うdiv */
  .youtube-frame__video {
    position: relative;
    width:100%; /* 横幅は100%で固定 */
    height:0; /* 高さは0にしておく(padding-topで高さを指定するため) */
    padding-top: 56.25%; /* 高さを指定(16:9) */
  }
  
  /* YouTube埋め込み用のiframe */
  .youtube-frame__video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .youtube-frame__title {
      @include reset-anchor;
      @include font-noto-sans;
      font-weight: 700;
      font-size: max(3.7333vw,1.4rem);
      color: #fff;
      line-height: 1.5;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      @include sm-landscape {
          font-size: 1.4rem;
      }
      @include tb-screen {
          font-size: 1.4rem;
      }
  }