<meta charset="utf-8" />
<title>タイ求人・タイ就職・移住情報サイト | 海外就職メディア | アジラボ</title>
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, viewport-fit=cover"
/>
<meta
  name="description"
  content="タイ求人・タイ就職メディア|アジラボ  タイ移住/タイ就職・転職情報を中心に、海外で働く・生活するために役立つ情報をお届けします。「海外で生きるをもっと身近に」をテーマに、アデコタイランドのキャリアコンサルタント、Webマーケター、転職エージェント等、多様なメンバーで運営しています。"
/>
<link rel="canonical" href="" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="" />
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary" />
<meta property="og:type" content="website" />
<meta property="og:image" content="/img/ogp.jpg" />
<meta content="#FFF734" name="theme-color" />
<meta content="#FFF734" name="msapplication-TileColor" />
<meta content="#FFF734" name="theme-color" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="./img/apple-touch-icon.png"
/>
<link rel="icon" href="./img/favicon.ico" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
  rel="stylesheet"
/>
