@use "./_setting" as *;

.aside-nav {
    box-sizing: border-box;
    display: block;
    width: 100%;
    @include sm-screen {
        background-color: $color-pale-gray;
        padding: max(10.6666vw,40px) max(4.2666vw,16px);
    }
    @include sm-landscape {
        padding: 40px 16px;
    }
    @include tb-screen {
        padding: 40px 24px;
    }
    @include pc-screen {
        margin-left: min(3.125vw,40px);
        padding: 0;
        width: 30%;
        max-width: 340px;
    }
    &.js-scroll {
        overflow-y: scroll;
        -ms-overflow-style: none;    /* IE, Edge 対応 */
        scrollbar-width: none;       /* Firefox 対応 */
    }
}
.aside-nav.js-scroll::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display: none;
}
.aside-nav__sticky {
    padding-top: max(5.8666vw,22px);
    @include tb-screen {
        padding-top: 22px;
    }
    @include pc-screen {
        position: sticky;
        top: 0;
        left: 0;
    }
}
