@use "./_setting" as *;

.author-list-wrap {
    @include tb-screen {
        overflow: hidden;
        margin-left: 24px;
    }
}

.author-list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    &--author {
        justify-content: space-between;
        margin-top: min(-10.6666vw, -40px);
        @include sm-landscape {
            margin-top: -40px;
        }
        @include tb-screen {
            justify-content: flex-start;
            margin-top: -40px;
        }
        @include pc-screen {

        }
    }
    &--slide {
        flex-wrap: unset;
    }
    &--card {
        flex-direction: column;
        margin-top: max(6.4vw,24px);
        margin-bottom: max(10.6666vw,40px);
        width: calc(100% + max(8.5333vw, 32px));
        transform: translateX(min(-4.2666vw, -16px));
        @include sm-landscape {
            margin-top: 24px;
            margin-bottom: 40px;
            width: calc(100% + 32px);
            transform: translateX(-16px);
        }
        @include tb-screen {
            flex-direction: row;
            justify-content: space-between;
            margin-top: 32px;
            margin-bottom: 60px;
            width: 100%;
            transform: unset;
        }
    }
    &--vertical\@sm {
        align-items: center;
        flex-direction: column;
        @include tb-screen {
            align-items: baseline;
            flex-direction: row;
            justify-content: center;
        }
    }
}

.author {
    &--list-item {
        margin: 0 0 max(8.5333vw,32px);
        width: 47.8134%;
        @include sm-landscape {
            margin-bottom: 32px;
        }
        @include tb-screen {
            margin-bottom: 40px;
            width: 25%;
        }
        @include pc-screen {
            width: 20%;
        }
    }
    &--list-item\@about {
        margin: 0 0 max(10.6666vw,40px);
        width: max(68vw,255px);
        text-align: center;
        @include sm-landscape {
            margin-bottom: 40px;
            width: 255px;
        }
        @include tb-screen {
            margin-bottom: 0;
            margin-right: 4.529vw;
            width: calc((100% - 9.058vw) / 3);
        }
        @include pc-screen {
            width: 255px;
            margin-right: 50px;
        }
        &:last-child {
            margin-bottom: 0;
            margin-right: 0;
        }
    }
    &--in-modal {
        display: flex;
        flex-direction: column;
        width: 100%;
        & + .button-primary {
            margin-top: max(6.4vw,24px);
            @include sm-landscape {
                margin-top: 24px;
            }
            @include tb-screen {
                margin-top: 24px;
            }
        }
    }
    &--slide-item {
        margin-right: max(4.2666vw,1.6rem) !important;
        width: max(3.2vw,120px) !important;
        @include sm-landscape {
            margin-right: 16px !important;
            width: 120px !important;
        }
        @include tb-screen {
            margin-right: 16px !important;
            width: 120px !important;
        }
    }
    &--single {
        margin: 0 auto;
        padding: max(10.6666vw,40px) 0 max(4.2666vw,16px);
        text-align: center;
        width: max(65.3333vw,245px);
        @include sm-landscape {
            padding: 40px 0 16px;
        }
        @include tb-screen {
            display: flex;
            margin: unset;
            padding: 60px 40px 44px;
            text-align: unset;
            width: unset
        }
    }
    &--single-align-center {
        align-items: center;
    }
}
.author__anchor {
    @include reset-anchor;
    color: $color-base-black;
    display: block;
}
.author__avater-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    .author--single & {
        @include reset-anchor;
        color: $color-base-black;
        display: inline-flex;
        @include tb-screen {
            margin-right: 32px;
        }
    }
}
.author__avater {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: block;
    width: max(37.3333vw,140px);
    height: max(37.3333vw,140px);
    margin-bottom: max(2.6666vw,10px);
    object-fit: cover;
    @include sm-landscape {
        margin-bottom: 10px;
    }
    @include tb-screen {
        width: min(20.8333vw,160px);
        height: min(20.8333vw,160px);
        margin-bottom: 12px;
    }
    @include pc-screen {
        width: 160px;
        height: 160px;
    }
    .author--slide-item & {
        width: max(3.2vw,120px);
        height: max(3.2vw,120px);
        @include sm-landscape {
            width: 120px;
            height: 120px;
        }
        @include tb-screen {
            width: 120px;
            height: 120px;
        }
    }
    .author--single & {
        @include tb-screen {
            width: 140px;
            height: 140px;
        }
    }
}
.author--single__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.author--single__placeholder {
    display: flex;
    flex-direction: column;
    @include tb-screen {
        align-items: flex-end;
        flex-direction: row;
    }
}
.author--single__name-wrap {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    @include tb-screen {
        justify-content: flex-start;
    }
}
.author__degree {
    font-size: max(2.6666vw,1rem);
    margin-bottom: max(0.5333vw,2px);
    @include sm-landscape {
        font-size: 1rem;
        margin-bottom: 2px;
    }
    @include tb-screen {
        font-size: min(1.5625vw,1.2rem);
        margin-bottom: 6px;
    }
    @include pc-screen {
        font-size: 1.2rem;
    }
    .author--slide-item & {
        @include tb-screen {
            font-size: 1rem;
            margin-bottom: 2px;
        }
    }
    .single & {

    }
}
.author__name {
    @include font-noto-sans;
    font-weight: 700;
    font-size: max(4.2666vw,1.6rem);
    line-height: 1.5;
    letter-spacing: .02em;
    @include sm-landscape {
        font-size: 1.6rem;
    }
    @include tb-screen {
        font-size: min(2.34375vw,1.8rem);
        line-height: 1.35;
    }
    @include pc-screen {
        font-size: 1.8rem;
    }
    .author--slide-item & {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        width: max(3.2vw,120px);
        @include sm-landscape {
            width: 120px;
        }
        @include tb-screen {
            font-size: 1.6rem;
            line-height: 1.5;
            width: 120px;
        }
    }
    .author--single & {
        @include reset-anchor;
        color: $color-base-black;
    }
}
.author__sns {
    @include reset-list;
    display: inline-flex;
    justify-content: center;
    margin-top: max(3.7333vw,14px);
    @include sm-landscape {
        margin-top: 14px;
    }
    @include tb-screen {
        margin-top: 14px;
    }
    .author--single & {
        @include tb-screen {
            justify-content: flex-start;
            margin-left: auto;
        }
    }
}
.author__sns-item {
    margin-right: max(3.7333vw,14px);
    &:last-child {
        margin-right: 0;
    }
    @include sm-landscape {
        margin-right: 14px;
    }
    @include tb-screen {
        margin-right: 14px;
    }
}
.author__sns-icon {
    display: block;
    fill: $color-base-black;
    width: max(5.3333vw,20px);
    height: max(5.3333vw,20px);
    @include sm-landscape {
        width: 20px;
        height: 20px;
    }
    @include tb-screen {
        width: 20px;
        height: 20px;
    }
}
.author__info {
    font-size: max(3.7333vw,1.4rem);
    line-height: 1.6071;
    margin-top: max(6.4vw,24px);
    text-align: left;
    @include sm-landscape {
        font-size: 1.4rem;
        margin-top: 24px;
    }
    @include tb-screen {
        font-size: 1.5rem;
        line-height: 1.75;
        margin-top: 24px;
    }
    p {
        margin: 0;
    }
    ul, ol {
        margin: 0 0 0 1.5em;
        padding: 0;
    }
    li {

    }
    .author--single & {
        font-size: max(3.2vw,1.2rem);
        line-height: 1.75;
        @include sm-landscape {
            font-size: 1.2rem;
        }
        @include tb-screen {
            font-size: 1.4rem;
        }
    }
    .author--list-item\@about & {
        font-size: max(3.2vw, 1.2rem);
        @include tb-screen {
            font-size: 1.4rem;
        }
    }
}

.author-card {
    width: 100%;
    @include sm-screen {
        margin-bottom: max(8.5333vw,32px);
    }
    @include sm-landscape {
        margin-bottom: 32px;
    }
    @include tb-screen {
        width: calc((100% - 4.529vw) / 2);
    }
    @include pc-screen {
        width: calc((100% - 50px) / 2);
    }
    &:last-child {
        @include sm-screen {
            margin-bottom: 0;
        }
        @include tb-screen {
            margin-top: 24px;
        }
        @include pc-screen {
            margin-top: 50px;
        }
    }
}
.author-card__avater {
    margin: 0;
}
.author-card__image {
    aspect-ratio: 16 / 9;
    display: block;
    object-fit: cover;
    width: max(100vw,375px);
    height: max(56.2666vw,211px);
    @include sm-landscape {
        width: 375px;
        height: 211px;
    }
    @include tb-screen {
        width: 100%;
        height: auto;
    }
}
.author-card__detail {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: max(5.3333vw,20px) max(4.2666vw,16px);
    @include sm-landscape {
        padding: 20px 16px;
    }
    @include tb-screen {
        align-items: flex-end;
        padding: 24px 0;
    }
}
.author-card__account {
    display: inline-flex;
    flex-direction: column;
}
.author-card__degree {
    font-size: max(3.2vw,1.2rem);
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: max(0.5333vw,2px);
    @include sm-landscape {
        font-size: 1.2rem;
        margin-bottom: 2px;
    }
    @include tb-screen {
        font-size: 1.4rem;
        margin-bottom: 2px;
    }
}
.author-card__name {
    @include font-noto-sans;
    font-size: max(4.8vw,1.8rem);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .02em;
    @include sm-landscape {
        font-size: 1.8rem;
    }
    @include tb-screen {
        font-size: 2rem;
    }
}
.author-card__sns {
    display: inline-flex;
}
.author-card__list {
    @include reset-list;
    display: inline-flex;
    @include tb-screen {
        margin-bottom: 5px;
    }
}
.author-card__item {
    width: 20px;
    height: 20px;
    margin-right: max(3.7333vw,1.4rem);
    &:last-child {
        margin-right: 0;
    }
    @include sm-landscape {
        margin-right: 14px;
    }
    @include tb-screen {
        margin-right: 14px;
    }
}
.author__anchor {
    @include reset-anchor;
}
.author-card__icon {
    width: max(5.3333vw,20px);
    height: max(5.3333vw,20px);
    @include sm-landscape {
        width: 20px;
        height: 20px;
    }
    @include tb-screen {
        width: 20px;
        height: 20px;
    }
}
.author-card__text {
    font-size: max(3.7333vw,1.4rem);
    font-weight: 400;
    line-height: 1.75;
    margin: 0;
    padding: 0 max(4.2666vw,16px);
    @include sm-landscape {
        font-size: 1.4rem;
        padding: 0 16px;
    }
    @include tb-screen {
        font-size: 1.5rem;
        padding: 0;
    }
}