@use "./_setting" as *;

.break-sm {
    @include sm-screen {
        display: block;
    }
    @include tb-screen {
        display: none;
    }
    @include pc-screen {
        display: none;
    }
}
.break-tb {
    @include sm-screen {
        display: none;
    }
    @include tb-screen {
        display: block;
    }
    @include pc-screen {
        display: none;
    }
}
.break-pc {
    @include sm-screen {
        display: none;
    }
    @include tb-screen {
        display: none;
    }
    @include pc-screen {
        display: block;
    }
}
.break-sm-and-tb {
    display: block;
    @include pc-screen {
        display: none;
    }
}
.break-tb-and-pc {
    display: none;
    @include tb-screen {
        display: block;
    }
}