@use "./_setting" as *;

.button-primary {
    @extend %button-primary;
}

.button-set {
    display: flex;
    flex-direction: column;
    gap: max(5.3333vw,20px);
    width: calc(100% - max(8.5333vw,32px));
    margin: max(10.6666vw,40px) auto 0;
    @include sm-landscape {
        gap: 20px;
        margin-top: 40px;
        width: calc(100% - 32px);
    }
    @include tb-screen {
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
        margin-top: 40px;
        width: 640px;
    }
}
.button-prev {
    @extend %button-prev;
    order: 2;
    @include sm-landscape {

    }
    @include tb-screen {
        order: 1;
    }
}
.button-next {
    @extend %button-next;
    order: 1;
    @include sm-landscape {

    }
    @include tb-screen {
        order: 2;
    }
}

.close-button {
    @extend %close-button;
    .modal & {
        position: absolute;
        top: -8px;
        right: -8px;
    }
}
.arrow-button {
    @include reset-button;
    border-radius: 50%;
    box-shadow: 0 max(0.5333vw,2px) max(2.1333vw,8px) rgba(0,0,0,.15);
    display: block;
    width: max(10.6666vw,40px);
    height: max(10.6666vw,40px);
    @include tb-screen {
        box-shadow: 0 2px 8px rgba(0,0,0,.15);
        width: 40px;
        height: 40px;
    }
    &--page-scroll {
        position: fixed;
        bottom: max(24.5333vw,92px);
        right: max(5.3333vw,20px);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: $transiton-base;
        @include pc-screen {
            &:hover {
                opacity: .75;
            }
        }
        &.js-show {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
        @include sm-landscape {
            bottom: 92px;
            right: 20px;
        }
        @include tb-screen {
            bottom: 92px;
            right: 20px;
        }
        @include pc-screen {
            bottom: 20px;
            right: 20px;
        }
        .js-modal-open & {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
    }
    &.js-loading {
        box-shadow: none;
        .form & {
            margin: 0 auto;
        }
    }
    &.js-hide {
        display: none;
    }
    &--next {
        #swiper-hero & {
            display: none;
            @include tb-screen {
                display: block;
                transform: translateY(-50%);
                position: absolute;
                top: 50%;
                right: 20px;
                z-index: 1;
            }
            @include pc-screen {
                right: calc(50% - 417px - 88px);
            }
        }
        #swiper-author & {
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            right: 0;
            z-index: 1;
            @include tb-screen {
                right: -20px;
            }
        }
        #swiper-event & {
            display: none;
            @include tb-screen {
                display: block;
                transform: translateY(-50%);
                position: absolute;
                top: 50%;
                right: -20px;
                z-index: 1;
            }
        }
        #swiper-youtube & {
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            right: 0;
            z-index: 1;
            @include tb-screen {
                right: -20px;
            }
        }
    }
    &--prev {
        #swiper-hero & {
            display: none;
            @include tb-screen {
                display: block;
                transform: translateY(-50%);
                position: absolute;
                top: 50%;
                left: 20px;
                z-index: 1;
            }
            @include pc-screen {
                left: calc(50% - 417px - 88px);
            }
        }
        #swiper-author & {
            display: none;
            @include tb-screen {
                display: block;
                transform: translateY(-50%);
                position: absolute;
                top: 50%;
                left: -20px;
                z-index: 1;
            }
        }
        #swiper-event & {
            display: none;
            @include tb-screen {
                display: block;
                transform: translateY(-50%);
                position: absolute;
                top: 50%;
                left: -20px;
                z-index: 1;
            }
        }
        #swiper-youtube & {
            display: none;
            @include tb-screen {
                display: block;
                transform: translateY(-50%);
                position: absolute;
                top: 50%;
                left: -20px;
                z-index: 1;
            }
        }
    }
}
.arrow-button__icon {
    border: 0 !important;
    cursor: pointer;
    width: inherit !important;
    height: inherit !important;
    &::before {
        border-top-width: max(0.8vw,3px) !important;
        border-right-width: max(0.8vw,3px) !important;
        width: max(2vw,7.5px) !important;
        height: max(2vw,7.5px) !important;
    }
    @include tb-screen {
        &::before {
            border-top-width: 3px !important;
            border-right-width: 3px !important;
            width: 7.5px !important;
            height: 7.5px !important;
        }
    }
    .js-loading & {
        display: none;
    }
    .arrow-button--top & {
        @extend %arrow-button-vertical;
        transform: scale(1, -1);
    }
    .arrow-button--bottom & {
        @extend %arrow-button-vertical;
    }
    .arrow-button--next & {
        @extend %arrow-button-horizontal;
        &::before {
            margin-left: -2.5px;
        }
    }
    .arrow-button--prev & {
        @extend %arrow-button-horizontal;
        transform: scale(-1, -1);
        &::before {
            margin-left: -2.5px;
        }
    }
    &[data-infinite] {
        overflow: hidden;
    }
}
@keyframes spiner {
  0% { background-color: $color-base-black; }
  100% { background-color: #fff; }
}
.arrow-button__loading {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateX(-1.5px);
    backface-visibility: hidden;
    transform-origin: 0 0;
    .js-loading & {
        display: block;
    }
    i {
        position: absolute;
        left: 50%;
        top: 0;
        animation: spiner linear 1s infinite;
        background-color: $color-base-black;
        box-sizing: content-box;
        width: 3px;
        height: 10px;
        transform-origin: 1.5px 20px;
        &:nth-child(1) {
            transform: rotate(0deg);
            animation-delay: -0.875s;
            background-color: $color-base-black;
          }
          &:nth-child(2) {
            transform: rotate(45deg);
            animation-delay: -0.75s;
            background-color: $color-base-black;
          }
          &:nth-child(3) {
            transform: rotate(90deg);
            animation-delay: -0.625s;
            background-color: $color-base-black;
          }
          &:nth-child(4) {
            transform: rotate(135deg);
            animation-delay: -0.5s;
            background-color: $color-base-black;
          }
          &:nth-child(5) {
            transform: rotate(180deg);
            animation-delay: -0.375s;
            background-color: $color-base-black;
          }
          &:nth-child(6) {
            transform: rotate(225deg);
            animation-delay: -0.25s;
            background-color: $color-base-black;
          }
          &:nth-child(7) {
            transform: rotate(270deg);
            animation-delay: -0.125s;
            background-color: $color-base-black;
          }
          &:nth-child(8) {
            transform: rotate(315deg);
            animation-delay: 0s;
            background-color: $color-base-black;
          }
    }
}
.card-list + .arrow-button--bottom {
    margin: max(10.1333vw,38px) auto 0;
    @include tb-screen {
        margin-top: 16px;
    }
}
