@use "./_setting" as *;

.card-vertical {
    background-color: #fff;
    border-radius: max(2.1333vw,8px);
    box-shadow: 0 3px 15px rgba(0,0,0,.1);
    margin-bottom: max(5.3333vw,20px);
    width: 100%;
    overflow: hidden;
    @include sm-screen {
        &:last-child {
            margin-bottom: 0;
        }
    }
    @include tb-screen {
        border-radius: 8px;
        margin-bottom: 24px;
        width: 48.3333%;
    }
}
.card-vertical__anchor {
    @include reset-anchor;
    color: $color-base-black;
    display: block;
}
.card-vertical__image-wrap {
    margin: 0;
    position: relative;
}
.card-vertical__image {
    aspect-ratio: 16 / 9;
    display: block;
    width: max(91.4666vw,343px);
    height: max(51.4666vw,193px);
    object-fit: cover;
    @include tb-screen {
        width: 100%;
        height: auto;
    }
}
.card-vertical__summary {
    @extend %reset-definition;
    padding: max(3.2vw,12px) max(3.7333vw,14px) max(3.7333vw,14px) max(3.7333vw,14px);
    @include tb-screen {
        padding:  12px 14px 14px 14px;
    }
}
.card-vertical__term {
    align-items: center;
    display: flex;
    margin-bottom: max(2.1333vw, 8px);
    @include tb-screen {
        margin-bottom: 8px;
    }
}
.card-vertical__avater {
    @include reset-avater;
    width: max(11.7333vw,44px);
    height: max(11.7333vw,44px);
    margin-right: max(3.2vw,12px);
    @include tb-screen {
        width: 44px;
        height: 44px;
        margin-right: 13px;
    }
}
.card-vertical__title {
    @include font-noto-sans;
    font-weight: 700;
    font-size: max(4.2666vw,1.6rem);
    letter-spacing: .02em;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include tb-screen {
        font-size: 1.6rem;
    }
}
.card-vertical__description {
    display: flex;
    &::before {
        content: '';
        display: block;
        margin-right: max(3.2vw,12px);
        width: max(11.7333vw,44px);
        @include tb-screen {
            margin-right: 13px;
            width: 44px;
        }
    }
}
.card-vertical__author {
    font-size: max(3.2vw,1.2rem);
    margin-right: 1em;
    @include tb-screen {
        font-size: 1.2rem;
    }
}
.card-vertical__date {
    font-size: max(3.2vw,1.2rem);
    @include tb-screen {
        font-size: 1.2rem;
    }
}

.card-horizontal {
    border-bottom: 1px solid $color-light-gray;
    padding: max(3.7333vw,14px) 0;
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }
    @include tb-screen {
        padding: 14px 0;
    }
}
.card-horizontal--popular {
    counter-increment: wpp-count;
}
.card-horizontal__anchor {
    @include reset-anchor;
    align-items: flex-start;
    color: $color-base-black;
    display: flex;
    @include tb-screen {
        align-items: center;
    }
    @include pc-screen {
        align-items: flex-start;
    }
    .card-horizontal--popular & {
        position: relative;
    }
    .card-horizontal--popular__badge {
        @include font-heebo;
        font-size: max(4vw,1.5rem);
        font-style: normal;
        font-weight: 800;
        align-items: center;
        box-sizing: border-box;
        background-color: #fff;
        display: flex;
        justify-content: center;
        width: max(5.0666vw,19px);
        height: max(5.0666vw,19px);
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        @include tb-screen {
            font-size: 1.5rem;
            width: 19px;
            height: 19px;
        }
        &::before {
            content: counter(wpp-count);
        }
    }
    .card-horizontal--popular:nth-of-type(-n+3) & {
        .card-horizontal--popular__badge {
            align-items: flex-end;
            background-color: transparent;
            // background-image: url('/img/icon_rank.svg');
            background-image: url('../img/icon_rank.svg'); // for mock
            background-repeat: no-repeat;
            background-size: 100%;
            width: max(8.5333vw,32px);
            height: max(8.5333vw,32px);
            padding-bottom: max(1.0666vw,4px);
            top: min(-3.2vw,-12px);
            left: min(-2.4vw,-9px);
            @include tb-screen {
                width: 32px;
                height: 32px;
                padding-bottom: 4px;
                top: -12px;
                left: -9px;
            }
        }
    }
}
.card-horizontal__image-wrap {
    margin: 0 max(3.2vw,12px) 0 0;
    @include sm-landscape {
        margin-right: 12px;
    }
    @include tb-screen {
        margin-right: 13px;
    }
}
.card-horizontal__image {
    aspect-ratio: 16 / 9;
    display: block;
    width: max(31.7333vw,119px);
    height: max(17.8666vw,67px);
    object-fit: cover;
    @include sm-landscape {
        width: 119px;
        height: 67px;
    }
    @include tb-screen {
        width: 119px;
        height: 67px;
    }
}
.card-horizontal__summary {
    @extend %reset-definition;
}
.card-horizontal__term {
    @include font-noto-sans;
    font-size: max(3.7333vw,1.4rem);
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include tb-screen {
        font-size: 1.4rem;
    }
}
.card-horizontal__description {
    align-items: center;
    display: flex;
    font-size: max(2.6666vw,1rem);
    @include tb-screen {
        font-size: 1rem;
    }
}
.card-horizontal__avater-wrap {
    align-items: center;
    display: flex;
    margin: 0;
    margin-right: max(1.3333vw,5px);
    width: max(5.3333vw,20px);
    height: max(5.3333vw,20px);
    @include sm-landscape {
        margin-right: 5px;
    }
    @include tb-screen {
        font-size: 1rem;
        margin-right: 5px;
        width: 20px;
        height: 20px;
    }
}
.card-horizontal__avater {
    @include reset-avater;
    width: inherit;
    height: inherit;
}
.card-horizontal__author-wrap {
    display: flex;
    flex-wrap: wrap;
}
.card-horizontal__author {
    display: block;
    margin-right: .5em;
}
.card-horizontal__date {
    display: block;
    font-size: max(2.6666vw,1rem);
    transform: scale(.9);
    @include tb-screen {
        font-size: 1rem;
    }
}

.card-event {
    background-color: $color-pale-gray;
    border-radius: max(2.1333vw,8px);
    box-sizing: border-box;
    margin-bottom: max(5.3333vw,20px);
    padding: max(2.6666vw,10px) max(4.2666vw,16px);
    position: relative;
    width: 100%;
    @include sm-landscape {
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 16px;
    }
    @include tb-screen {
        border-radius: 8px;
        margin-bottom: 24px;
        padding: 8px 24px;
    }
    &--slide-item {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
        // @include tb-screen {
        //     padding: 10px 16px;
        // }
        @include tb-screen {
            margin-bottom: 0;
            margin-right: 16px !important;
            padding: 10px 16px;
            width: 343px !important;
        }
    }
}
.card-event__anchor {
    @include reset-anchor;
    align-items: center;
    color: $color-base-black;
    display: flex;
    .card-event--slide-item & {

    }
}
.card-event__schedule {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex: none;
    height: max(19.2vw, 72px);
    transform: translateY(2%);
    @include sm-landscape {
        height: 72px;
    }
    @include tb-screen {
        display: block;
        height: unset;
    }
    .card-event--slide-item & {
        @include tb-screen {
            display: flex;
            height: 80px;
        }
    }
}
.card-event__month {
    @include font-heebo;
    display: inline-flex;
    font-weight: 500;
    font-size: max(5.8666vw,2.2rem);
    line-height: 1;
    &::after {
        content: '/';
        display: inline-block;
    }
    @include sm-landscape {
        font-size: 2.2rem;
    }
    @include tb-screen {
        font-size: 3rem;
        letter-spacing: .03em;
    }
    .card-event--slide-item & {
        @include tb-screen {
            font-size: 2.2rem;
        }
    }
}
.card-event__placeholder-date {
    display: inline-block;
    .card-event--slide-item & {
        
    }
}
.card-event__date {
    @include font-heebo;
    font-weight: 500;
    font-size: max(7.4666vw,2.8rem);
    line-height: 1;
    letter-spacing: .03em;
    padding-right: .1071em;
    @include sm-landscape {
        font-size: 2.8rem;
    }
    @include tb-screen {
        font-size: 3rem;
        padding-right: .2333em;
    }
    .card-event--slide-item & {
        @include tb-screen {
            font-size: 2.8rem;
            padding-right: .1071em;
        }
    }
}
.card-event__dateofweek {
    @include font-noto-sans;
    font-size: max(4.2666vw,1.6rem);
    font-weight: 700;
    line-height: 1.6875;
    line-height: 1;
    letter-spacing: .03em;
    @include sm-landscape {
        font-size: 1.6rem;
    }
    @include tb-screen {
        font-size: 1.7rem;
        letter-spacing: .02em;
    }
    .card-event--slide-item & {
        @include tb-screen {
            font-size: 1.6rem;
            line-height: 1.6875;
            letter-spacing: .03em;
        }
    }
}
.card-event__placeholder-time {
    display: block;
    .card-event--slide-item & {
        
    }
}
.card-event__start-time {
    @include font-heebo;
    display: inline-flex;
    font-size: max(4vw,1.5rem);
    font-weight: 700;
    line-height: 1;
    letter-spacing: .03em;
    &::after {
        content: '～';
        display: inline-block;
    }
    @include sm-landscape {
        font-size: 1.5rem;
    }
    @include tb-screen {
        font-size: 1.5rem;
        line-height: 1.5333;
    }
    .card-event--slide-item & {
        @include tb-screen {
            line-height: 1;
        }
    }
}
.card-event__finish-time {
    @include font-heebo;
    display: none;
    font-size: max(4vw,1.5rem);
    font-weight: 700;
    line-height: 1;
    letter-spacing: .03em;
    @include sm-landscape {
        font-size: 1.5rem;
    }
    @include tb-screen {
        display: inline;
        font-size: 1.5rem;
        line-height: 1.5333;
    }
    .card-event--slide-item & {
        @include tb-screen {
            display: none;
        }
    }
}
.card-event__image-wrap {
    align-items: center;
    display: flex;
    flex: none;
    margin: 0 max(2.1333vw,8px);
    @include sm-landscape{
        margin: 0 8px;
    }
    @include tb-screen {
        margin: 0 16px;
    }
    .card-event--slide-item & {
        @include tb-screen {
            margin: 0 8px;
        }
    }
}
.card-event__image {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: block;
    width: max(20.2666vw,76px);
    height: max(20.2666vw,76px);
    object-fit: cover;
    @include sm-landscape {
        width: 70px;
        height: 70px;
    }
    @include tb-screen {
        width: 100px;
        height: 100px;
    }
    .card-event--slide-item & {
        width: 70px;
        height: 70px;
    }
}
.card-event__sumarry {
    @extend %reset-definition;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .card-event--slide-item & {}
}
.card-event__title {
    @include font-noto-sans;
    font-size: max(4.2666vw,1.6rem);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .02em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include sm-landscape {
        font-size: 1.5rem;
    }
    @include tb-screen {
        font-size: 2.2rem;
        line-height: 1.409;
        letter-spacing: .03em;
    }
    .card-event--slide-item & {
        @include tb-screen {
            font-size: 1.5rem;
            line-height: 1.5;
            letter-spacing: .02em;
        }
    }
}
.card-event__place {
    font-size: max(3.2vw,1.2rem);
    line-height: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-top: .6666em !important;
    overflow: hidden;
    &::before {
        content: '@';
        display: inline;
    }
    @include sm-landscape {
        font-size: 1.2rem;
    }
    @include tb-screen {
        font-size: 1.4rem;
        line-height: 1.5;
        margin-top: .5714em !important;
    }
    .card-event--slide-item & {
        @include tb-screen {
            font-size: 1.2rem;
            line-height: 1;
            margin-top: .6666em !important;
        }
    }
}