@use "./_setting" as *;

.card-list-header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.card-list-wrap {
    @include tb-screen {
        overflow: hidden;
        margin-left: 24px;
    }
}
.card-list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    &--main {
        justify-content: space-between;
        @include tb-screen {
            margin-bottom: 0;
        }
        + .button-primary {
            margin-top: max(8.5333vw,32px);
            @include tb-screen {
                margin-top: 16px;
            }
        }
    }
    &--event-vertical {
        flex-direction: column;
        margin-top: min(-10.6666vw, -40px);
        @include sm-landscape {
            margin-top: 40px;
        }
        @include tb-screen {
            margin-top: -40px;
        }
    }
    &--slide {
        @include sm-screen {
            transform: unset !important;
        }
        @include tb-screen {
            flex-wrap: unset;
        }
    }
    &--aside-nav {
        background-color: #fff;
        border-radius: 0 max(2.1333vw,8px) max(2.1333vw,8px) max(2.1333vw,8px);
        box-shadow: 0 3px 15px rgba(0,0,0,.1);
        flex-direction: column;
        margin-bottom: 24px;
        padding: max(3.7333vw,14px);
        &:last-child {
            margin-bottom: 0;
        }
        @include tb-screen {
            border-radius: 0 8px 8px 8px;
            padding: 14px;
        }
    }
}