@use "./_setting" as *;

.footer {
    background-color: $color-base-black;
    margin: 0;
    @include pc-screen {
        margin-left: auto;
        width: calc(100% - 80px);
    }
    &--about {
        position: relative;
    }
}
.footer__top {
    border-bottom: max(0.2666vw,1px) solid  $color-light-gray;
    padding: max(10.6666vw,40px) max(4.2666vw,16px);
    @include tb-screen {
        border-bottom-width: 1px;
        padding: 40px 65px;
    }
}
.footer__anchor {
    @include reset-anchor;
    color: #fff;
    display: block;
    &--logo {
        display: inline-block;
        margin-bottom: max(5.3333vw,20px);
        @include tb-screen {
            margin-bottom: 20px;
            text-align: unset;
        }
    }
}
.footer__banners {
    @include reset-list;
    display: flex;
    flex-direction: column;
    @include tb-screen {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    @include pc-screen {
        justify-content: space-between;
        max-width: 1100px;
    }
}
.footer__banner {
    margin-bottom: 20px;
    width: 100%;
    &:last-child {
        margin-bottom: 0;
    }
    @include tb-screen {
        margin-bottom: 0;
        width: calc((100% - 20px) / 2);
        &:first-child {
            margin-right: auto;
        }
        &:last-child {
            margin-top: 20px;
        }
    }
    @include pc-screen {
        width: calc((100% - 40px) / 3);
        &:first-child {
            margin-right: 0;
        }
        &:last-child {
            margin-top: 0;
        }
    }
}
.footer__banner-image {
    height: auto;
    vertical-align: bottom;
    width: 100%;
}
.footer__bottom {
    padding: max(8.5333vw,32px) max(4.2666vw,16px) max(6.4vw,24px);
    text-align: center;
    @include tb-screen {
        padding: 24px 40px;
        text-align: unset;
    }
}
.footer__logo {
    @include reset-icon;
    fill: #fff;
    width: max(60vw,225px);
    @include tb-screen {
        width: 225px;
    }
}
.footer__list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto max(8.5333vw,32px);
    width: max(61.3333vw,248px);
    @include sm-screen {
        justify-content: space-around;
    }
    @include tb-screen {
        justify-content: space-between;
        margin: 0;
        width: 248px;
    }
}
.footer__item {
    @include font-noto-sans;
    font-size: max(3.2vw,1.2rem);
    &:last-child {
        margin-top: max(2.9333vw,11px);
    }
    @include tb-screen {
        font-size: 1.2rem;
        &:last-child {
            margin-top: 11px;
        }
    }
}
.footer__sns {
    @include reset-list;
    display: flex;
    margin: 0 auto max(6.4vw,24px);
    width: max(25.6vw,96px);
    @include tb-screen {
        margin: -24px 0 24px auto;
        width: 96px;
    }
}
.footer__sns-item {
    margin-right: max(3.2vw,12px);
    &:last-child {
        margin-right: 0;
    }
    @include tb-screen {
        margin-right: 12px;
    }
}
.footer__icon {
    @include reset-icon;
    fill: #fff;
}

.footer__copyright {
    @include font-heebo;
    color: #fff;
    display: block;
    font-size: max(3.2vw,1.2rem);
    font-weight: 800;
    letter-spacing: .03em;
    text-align: center;
    text-transform: uppercase;
    @include tb-screen {
        font-size: 1.2rem;
        text-align: right;
    }
}
