@use "./_setting" as *;

.menu-toggle {
    display: none;
}
.menu-button {
    align-items: center;
    background-color: $color-theme-yellow;
    border-radius: 50%;
    box-shadow: 0 max(0.5333vw,2px) max(2.1333vw,8px) rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max(16vw,60px);
    width: max(16vw,60px);
    position: fixed;
    bottom: max(6.4vw,24px);
    right: max(2.6666vw,10px);
    z-index: 31;
    transition: $transiton-base;
    @include sm-landscape {
        box-shadow: 0 2px 8px rgba(0,0,0,.15);
        height: 60px;
        width: 60px;
        bottom: 24px;
        right: 10px;
    }
    @include tb-screen {
        box-shadow: 0 2px 8px rgba(0,0,0,.15);
        height: 60px;
        width: 60px;
        bottom: 24px;
        right: 10px;
    }
    @include pc-screen {
        display: none;
    }
    .js-modal-open & {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}
.menu-button__icon {
    margin: max(2.1333vw,8px) 0 max(1.0666vw,4px);
    height: max(5.3333vw,20px);
    width: max(5.8666vw,22px);
    position: relative;
    i {
        background-color: $color-base-black;
        display: block;
        height: max(0.8vw,3px);
        width: 100%;
        transition: $transiton-base;
        position: absolute;
        left: 0;
        &:first-child {
            top: 0;
        }
        &:nth-child(2) {
            top: max(2.2666vw,8.5px);
        }
        &:last-child {
            bottom: 0;
        }
    }
    @include sm-landscape {
        margin: 8px 0 4px;
        height: 20px;
        width: 22px;
        i {
            height: 3px;
            &:nth-child(2) {
                top: 8.5px;
            }
        }
    }
    @include tb-screen {
        margin: 8px 0 4px;
        height: 20px;
        width: 22px;
        i {
            height: 3px;
            &:nth-child(2) {
                top: 8.5px;
            }
        }
    }
}
.menu-button__text {
    align-items: center;
    display: flex;
    justify-content: center;
    &::before {
        @include font-heebo;
        font-size: max(2.6666vw,1rem);
        font-weight: 800;
        content: 'menu';
        display: inline-block;
        line-height: 1;
        letter-spacing: .05em;
        text-transform: uppercase;
        transform: scale3d(.8,.8,.8);
    }
    @include sm-landscape {
        &::before {
            font-size: 1rem;
        }
    }
    @include tb-screen {
        &::before {
            font-size: 1rem;
        }
    }
}
.menu-toggle:checked ~ .menu-button {
    .menu-button__text {
        &::before {
            content: 'close';
        }
    }
    .menu-button__icon {
        i {
            &:first-child {
                transform: translateX(min(-0.56568vw,-2.1213px)) translateY(max(2.2666vw,8.5px)) rotate(-34deg);
                width: max(7.1005vw,26.627px);
            }
            &:nth-child(2) {
                opacity: 0;
                visibility: hidden;
            }
            &:last-child {
                transform: translateX(min(-0.56568vw,-2.1213px)) translateY(min(-2.2666vw,-8.5px)) rotate(34deg);
                width: max(7.1005vw,26.627px);
            }
        }
        @include sm-landscape {
            i {
                &:first-child {
                    transform: translateX(-2.1213px) translateY(8.5px) rotate(-34deg);
                    width: 26.627px;
                }
                &:last-child {
                    transform: translateX(-2.1213px) translateY(-8.5px) rotate(34deg);
                    width: 26.627px;
                }
            }
        }
        @include tb-screen {
            i {
                &:first-child {
                    transform: translateX(-2.1213px) translateY(8.5px) rotate(-34deg);
                    width: 26.627px;
                }
                &:last-child {
                    transform: translateX(-2.1213px) translateY(-8.5px) rotate(34deg);
                    width: 26.627px;
                }
            }
        }
    }
}
.menu-toggle:checked ~ .global-nav {
    transform: translate3d(0,0,0);
}
.global-nav {
    background-color: $color-theme-yellow;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    position: fixed;
    transition: $transiton-base;
    z-index: 30;
    box-sizing: border-box;
    width: 100%;
    padding: max(8.5333vw,32px);
    bottom: 0;
    left: 0;
    transform: translate3d(0,100%,0);
    @include sm-landscape {
        height: auto;
        max-height: 100vh; // TODO JS
        overflow-y: scroll;
        padding: 32px;
    }
    @include tb-screen {
        height: auto;
        max-height: 100vh; // TODO JS
        overflow-y: scroll;
        padding: 32px;
    }
    @include pc-screen {
        border-radius: 0 0 0 8px;
        height: unset;
        max-height: unset;
        overflow-y: unset;
        box-sizing: unset;
        padding: unset;
        bottom: unset;
        left: unset;
        transform: unset;
        width: unset;
        top: 0;
        right: 0;
        &.js-hide {
            transform: translate3d(0,-100%,0);
        }
    }
}
.global-nav__inner {
    position: relative;
    @include pc-screen {
        width: 666px;
        height: 44px;
        position: static;
    }
}
.global-nav__list {
    @include reset-list;
    @include pc-screen {
        align-items: center;
        display: flex;
        height: inherit;
        width: 100%;
    }
}
.global-nav__item {
    @include font-heebo;
    color: $color-base-black;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: max(6.9333vw,2.6rem);
    margin-bottom: max(1.5vw,5.625px);
    &:last-child {
        margin-bottom: 0;
    }
    @include sm-landscape {
        font-size: 2.6rem;
        margin-bottom: 5.625px;
    }
    @include tb-screen {
        font-size: 2.6rem;
        margin-bottom: 10px;
    }
    @include pc-screen {
        align-items: center;
        display: flex;
        font-size: 1.6rem;
        height: inherit;
        margin-right: 24px;
        margin-bottom: unset;
        &:first-child {
            margin-left: 24px;
        }
        &:last-child {
            margin-bottom: unset;
        }
    }
    &--category {
        cursor: pointer;
    }
}
.global-nav__anchor {
    @include reset-anchor;
    color: $color-base-black;
    .global-nav__item > & {
        position: relative;
        &::after {
            background-color: $color-base-black;
            content: '';
            display: block;
            height: max(0.5333vw,2px);
            width: 0;
            transition: $transiton-base;
            position: absolute;
            left: 0;
            bottom: 0;
            @include sm-landscape {
                height: 2px;
            }
            @include tb-screen {
                height: 2px;
            }
        }
        &:hover {
            opacity: unset;
            @include pc-screen {
                &::after {
                    width: 100%;
                }
            }
        }
    }
    &--categories {
        display: inline-block;
        @include sm-screen {
            // margin-bottom: 10px;
        }
        @include tb-screen {

        }
        @include pc-screen {
            margin-right: .25em;
        }
    }
    &--category {
        @include font-noto-sans;
        font-weight: 700;
        white-space: nowrap;
    }
    &--sns {

    }
}
.global-nav__arrow {
    @extend %arrow-button-vertical;
    display: none;
    @include pc-screen {
        display: flex;
    }
    .global-nav__item--category:hover & {
        @include tb-screen {
            &::before {
                margin-top: 2.5px;
                transform: rotate(315deg);
            }
        }
    }
}
.accordion-placeholder {
    @include pc-screen {
        pointer-events: none;
    }
}
.accordion-toggle {
    display: none;
}
.accordion-button {
    @extend %arrow-button-vertical;
    vertical-align: 7px;
    @include pc-screen {
        display: none;
    }
}
.accordion-toggle:checked ~ .accordion-button {
    vertical-align: 4.5px;
    &::before {
        margin-top: max(0.6666vw,2.5px);
        transform: rotate(315deg);
        @include sm-landscape {
            margin-top: 2.5px;
        }
        @include tb-screen {
            margin-top: 2.5px;
        }
    }
}
.accordion-toggle:checked ~ .global-nav__categories {
    height: max-content;
    margin-top: max(1.5vw,5.625px);
    opacity: 1;
    visibility: visible;
    @include sm-landscape {
        height: 158px; // TODO JS
        margin-top: 5.625px;
    }
    @include tb-screen {
        height: 158px; // TODO JS
        margin-top: 10px;
    }
    @include pc-screen {
        height: 40px;
        margin-top: 0;
    }
}
.global-nav__categories {
    @include reset-list;
    display: grid;
    height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    padding-left: .75em;
    transition: $transiton-base;
    @include tb-screen {

    }
    @include pc-screen {
        display: unset;
        overflow: unset;
        visibility: unset;
        padding-left: unset;
        align-items: center;
        background-color: #fff;
        border-radius: 0 0 0 8px;
        box-shadow: 0 2px 8px rgba(0,0,0,.15);
        display: flex;
        height: 40px;
        position: fixed;
        right: 0;
        top: 44px;
        pointer-events: none;
    }
    .global-nav__item--category:hover & {
        @include tb-screen {
            opacity: 1;
            pointer-events: all;
        }
    }
}
.global-nav__category {
    font-size: max(5.333vw, 2rem);
    margin-bottom: max(1.5vw, 5.625px);
    &:last-child {
        margin-bottom: 0;
    }
    @include sm-landscape {
        font-size: 2rem;
        margin-bottom: 5.625px;
    }
    @include tb-screen {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    @include pc-screen {
        font-size: 1.5rem;
        letter-spacing: .05em;
        margin-bottom: 0;
        margin-right: 24px;
        &:first-child {
            margin-left: 24px;
        }
    }
}
.global-nav__sns {
    @include reset-list;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    @include pc-screen {
        display: none;
    }
}
.global-nav__sns-item {
    margin-bottom: 16px;
    @include tb-screen {
        margin-bottom: 16px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.global-nav__icon {
    display: block;
    height: max(8.5333vw,32px);
    width: max(8.5333vw,32px);
    @include sm-landscape {
        height: 32px;
        width: 32px;
    }
    @include tb-screen {
        height: 32px;
        width: 32px;
    }
}
