@use "./_setting" as *;

.header {
    align-items: flex-end;
    background-color: $color-theme-yellow;
    box-sizing: border-box;
    display: flex;
    height: max(16vw,60px);
    padding: 0 max(4.2666vw,16px);
    width: 100%;
    &--simple {
        align-items: center;
        justify-content: center;
    }
    &--transparent {
        background-color: transparent;
        mix-blend-mode: difference;
        position: relative;
        z-index: 2;
        @include pc-screen {
            background-color: $color-theme-yellow;
            mix-blend-mode: normal;
        }
    }
    @include tb-screen {
        height: 60px;
    }
    @include pc-screen {
        align-items: unset;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        width: 80px;
        padding: 20px 0 32px;
        position: fixed;
        top: 0;
        left: 0;
        &--simple {
            align-items: unset;
        }
    }
}
.header__anchor {
    @include reset-anchor;
    color: $color-base-black;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    top: max(4.2666vw,16px);
    left: max(4.2666vw,16px);
    z-index: 20;
    .header--simple & {
        top: max(5.0666vw,19px);
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }
    @include tb-screen {
        top: 16px;
        left: 16px;
        .header--simple & {
            top: 19px;
        }
    }
    @include pc-screen {
        position: static;
        top: unset;
        left: unset;
        z-index: unset;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 16px;
        .header--simple & {
            top: unset;
            left: unset;
            transform: unset;
        }
    }
}
.header__catchcopy {
    @include font-noto-sans;
    font-size: max(2.6666vw,1rem);
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 1.5;
    margin: 0;
    white-space: nowrap;
    margin-bottom: max(1.6vw,6px);
    .header--simple & {
        display: none;
    }
    .header--transparent & {
        color: #fff;
        @include pc-screen {
            color: unset;
        }
    }
    @include tb-screen {
        font-size: 1rem;
        margin-bottom: 6px;
    }
    @include pc-screen {
        font-size: 1.2rem;
        letter-spacing: .24em;
        line-height: 1.25;
        order: 2;
        writing-mode: vertical-rl;
        margin-bottom: unset;
        .header--simple & {
            display: block;
        }
    }
}
.header__logo {
    display: block;
    @include pc-screen {
        margin-right: 10px;
        order: 1;
    }
}
.header__image {
    height: auto;
    vertical-align: bottom;
    width: max(64vw,240px);
    .header--simple & {
        width: max(55.2vw,207px);
    }
    .header--transparent & {
        filter: invert(1);
        @include pc-screen {
            filter: unset;
        }
    }
    @include tb-screen {
        width: 240px;
        .header--simple & {
            width: 207px;
        }
    }
    @include pc-screen {
        width: 35px;
        .header--simple & {
            width: 35px;
        }
    }
}
.header__sns {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    @include pc-screen {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 24px;
    }
}
.header__sns-item {
    margin-bottom: max(4.2666vw,16px);
    &:last-child {
        margin-bottom: 0;
    }
    @include tb-screen {
        margin-bottom: 16px;
    }
    @include pc-screen {
        width: 24px;
        height: 24px;
        margin-bottom: 16px;
    }
}
.header__icon {
    @include reset-icon;
}
