@use "./_setting" as *;

.heading-primary {
    @extend %heading-primary;
}

.heading-secondary {
    @extend %heading-secondary;
    .section--home-author & {
        @include tb-screen {
            padding: 0 24px;
        }
    }
    .section--home-event & {
        @include tb-screen {
            padding: 0 24px;
        }
    }
    .section--home-youtube & {
        @include sm-screen {
            padding: 0 max(4.2666vw,16px);
        }
        @include sm-landscape {
            padding: 0 16px;
        }
        @include tb-screen {
            padding: 0 24px;
        }
    }
}

.heading-with-avater {
    @extend %heading-with-avater;
}
