@use "./_setting" as *;

.label {
    @include font-noto-sans;
    background-color: $color-pale-gray;
    color: $color-base-black;
    display: inline-block;
    font-size: max(3.7333vw,1.4rem);
    font-weight: 700;
    line-height: 1.5;
    padding: .4285em .8571em;
    white-space: nowrap;
    @include tb-screen {
        font-size: 1.4rem;
    }
    &.label--green {
        background-color: $color-emerald-green;
        color: #fff;
    }
    &.label--blue {
        background-color: $color-blue;
        color: #fff;
    }
    &.label--pink {
        background-color: $color-salmon-pink;
        color: #fff;
    }
    &.label--violet {
        background-color: $color-violet;
        color: #fff;
    }
    &.label--attention {
        background-color: $color-attention-red;
        color: #fff;
    }
    .card-list-header & {
        border-radius: max(2.1333vw,8px) max(2.1333vw,8px) 0 0;
        margin-top: max(2.1333vw,8px);
        @include tb-screen {
            border-radius: 8px 8px 0 0;
            margin-top: 8px;
        }
    }
    .card-vertical__image-wrap & {
        @include font-default;
        font-weight: 400;
        border-radius: 0 max(1.6vw,6px) 0 0;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: max(3.2vw,1.2rem);
        @include tb-screen {
            border-radius: 0 6px 0 0;
            font-size: 1.2rem;
        }
    }
    .card-event & {
        @include font-default;
        border-radius: max(2.1333vw,8px) 0 max(2.1333vw,8px) 0;
        font-size: max(3.2vw,1.2rem);
        position: absolute;
        bottom: 0;
        right: 0;
        @include sm-landscape {
            border-radius: 8px 0 8px 0;
            font-size: 1.2rem;
        }
        @include tb-screen {
            border-radius: 8px 0 8px 0;
            font-size: 1.2rem;
        }
    }
    .slider__card & {
        border-radius: max(2.1333vw,8px) max(2.1333vw,8px) 0 0;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        @include sm-landscape {
            border-radius: 8px 8px 0 0;
        }
        @include tb-screen {
            border-radius: 8px 8px 0 0;
        }
    }
    .hero__image-wrap & {
        @include reset-anchor;
        border-radius: 0 max(2.1333vw,8px) 0 0;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: max(3.2vw,1.2rem);
        @include sm-screen {
            border-radius: 0 8px 0 0;
            font-size: 1.2rem;
        }
        @include tb-screen {
            border-radius: 0 8px 0 0;
            font-size: 1.2rem;
        }
    }
}