@use "./_setting" as *;

.main {
    box-sizing: border-box;
    display: block;
    width: 100%;
    @include sm-screen {
        overflow-x: hidden;
        padding: 0 max(4.2666vw,16px);
    }
    @include tb-screen {
        padding: 0 24px;
    }
    @include pc-screen {
        width: 56.25vw;
        max-width: 720px;
        padding: 0;
    }
    &--author {
        @include pc-screen {
            width: 81.9531vw;
            max-width: 1049px;
        }
    }
    &--about {
        @include tb-screen {
            margin: 0 auto 0 0;
            padding: 0 4.529vw;
            width: 80vw;
            max-width: 720px;
        }
    }
}