@use "./_setting" as *;

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.modal {
    display: none;
    &.js-open {
        display: block;
    }
}
.modal__content {
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 max(0.8vw,3px) max(4vw,15px) rgba(0,0,0,.1);
    width: 100%;
    border-radius: max(2.1333vw,8px);
    margin: auto max(4.2666vw,16px);
    position: relative;
    @include sm-landscape {
        border-radius: 8px;
        box-shadow: 0 3px 15px rgba(0,0,0,.1);
        margin: auto 16px;
    }
    @include tb-screen {
        border-radius: 8px;
        box-shadow: 0 3px 15px rgba(0,0,0,.1);
        margin: auto 24px;
        max-width: 720px;
    }
}
.modal__inner {
    box-sizing: border-box;
    padding: max(7.4666vw,28px) max(6.4vw,24px);
    width: 100%;
    max-height: inherit;
    overflow-y: scroll;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
    @include sm-landscape {
        padding: 28px 24px;
    }
    @include tb-screen {
        padding: 28px 24px;
    }
}
.modal__inner::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display: none;
}
.modal[aria-hidden="false"] .overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.modal[aria-hidden="false"] .modal__content {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}
.modal[aria-hidden="true"] .overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.modal[aria-hidden="true"] .modal__content {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}
.modal .modal__content,
.modal .overlay {
  will-change: transform;
}