@use "./_setting" as *;

.overlay {
    background-color: rgba(255,255,255,.0025);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    z-index: 30;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    transition: $transiton-base;
    .modal.js-open & {
        align-items: flex-start;
        display: flex;
        justify-content: center;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        z-index: 30;
    }
}
/* Firefox */
@-moz-document url-prefix() {
    .overlay {
        background-color: rgba(255,255,255,.5);
    }
}
.menu-toggle:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    @include pc-screen {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}