@use "./_setting" as *;

.section {
    padding: max(10.6666vw,40px) 0;
    @include tb-screen {
        padding: 40px 0;
    }
    @include pc-screen {
        padding: 0;
    }
    &--home-latest {
        @include pc-screen {
            margin-bottom: 60px;
        }
    }
    &--home-author {
        position: relative;
        @include sm-screen {
            background-color: $color-pale-gray;
            box-sizing: border-box;
            width: calc(100% + calc(max(4.2666vw,16px) * 2));
            padding: max(10.6666vw,40px) max(4.2666vw,16px);
            transform: translateX(min(-4.2666vw,-16px));
        }
        @include tb-screen {
            background-color: transparent;
            border-radius: 8px;
            box-shadow: 0 3px 15px rgba(0,0,0,.1);
            margin-bottom: 32px;
            padding: 24px 0 32px;
        }
    }
    &--home-event {
        position: relative;
        @include tb-screen {
            border-radius: 8px;
            box-shadow: 0 3px 15px rgba(0,0,0,.1);
            margin-bottom: 32px;
            padding: 24px 0 32px;
        }
    }
    &--home-youtube {
        background-color: $color-base-black;
        position: relative;
        @include sm-screen {
            width: calc(100% + calc(max(4.2666vw,16px) * 2));
            transform: translateX(min(-4.2666vw,-16px));
        }
        @include tb-screen {
            border-radius: 8px;
            box-shadow: 0 3px 15px rgba(0,0,0,.1);
            margin-bottom: 32px;
            padding: 24px 0 32px;
            transform: unset;
        }
        @include pc-screen {
            margin-bottom: 0;
        }
    }
    &--single {
        padding-top: 0;
    }
    &--about {
        border-bottom: 1px solid #fff;
        position: relative;
        &:first-child, &:nth-child(2) {
            @include sm-screen {
                width: max(74.1333vw,278px);
                box-sizing: content-box;
            }
        }
        &:nth-child(2) {
            border-bottom: 0;
        }
        &:nth-child(3) {
            border-top: 1px solid #fff;;
        }
        &:last-child {
            border-bottom: 0;
            z-index: 1;
        }
        @include tb-screen {
            padding: 60px 0;
        }
    }
    &--404 {
        padding-bottom: 0;
        @include pc-screen {
            padding: 56px 0 50px;
        }
    }
    &--form {
        padding-bottom: 0;
        @include pc-screen {
            padding: 56px 0 50px;
        }
    }
}
.section__inner {
    padding-top: max(10.6666vw,40px);
    @include tb-screen {
        padding-top: 40px;
    }
    @include pc-screen {
        padding-top: 60px;
    }
    &--tag {
        @include pc-screen {
            padding-top: 40px;
        }
    }
    &--form {
        padding-top: 0;
    }
}
