// color
$color-base-black: #101010;
$color-dark-gray: #464646;
$color-light-gray: #C7C7C7;
$color-pale-gray: #F0F0F0;
$color-theme-yellow: #FFF734;
$color-pale-yellow: #FFFCBA;
$color-attention-red: #FF6753;
$color-emerald-green: #3AC6CC;
$color-blue: #58A7E2;
$color-salmon-pink: #FF9D8B;
$color-violet: #825EA7;

// font
@mixin font-default {
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Yu Gothic Medium","Yu Gothic","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    font-weight: 400;
}
@mixin font-noto-sans {
    font-family: 'Noto Sans JP', sans-serif;
}
@mixin font-heebo {
    font-family: 'Heebo', sans-serif;
}

// transition
$transiton-base: all .3s ease-in-out;
$transiton-short: all .1s ease-in-out;
$transiton-long: all .5s ease-in-out;

// box-shadow
$box-shadow-base: 0 3px 15px rgba(0,0,0,.1);

// breakpoint
$breakpoint-sm: 599px;
$breakpoint-tb: 600px;
$breakpoint-pc: 1105px;

// media query
@mixin sm-screen {
    @media screen and (max-width: $breakpoint-sm) {
        @content;
    }
}
@mixin sm-portrait {
    @media screen and (max-width: $breakpoint-sm) and (orientation: portrait) {
        @content;
    }
}
@mixin sm-landscape {
    @media screen and (max-width: $breakpoint-sm) and (orientation: landscape) {
        @content;
    }
}
@mixin tb-screen {
    @media screen and (min-width: $breakpoint-tb) {
        @content;
    }
}
@mixin pc-screen {
    @media screen and (min-width: $breakpoint-pc) {
        @content;
    }
}
@mixin portrait {
    @media screen and (orientation: portrait) {
        @content;
    }
}
@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

// base screen size for vw
$sm-viewpoint: 375px;
$tb-viewpoint: 768px;
$pc-viewpoint: 1280px;

// mixin
@mixin reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
@mixin reset-anchor {
    text-decoration: none;
    transition: $transiton-base;
    @include pc-screen {
        &:hover {
            opacity: .75;
        }
    }
}
@mixin reset-button {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    padding: 0;
}
@mixin reset-icon {
    display: block;
    width: max(6.4vw,24px);
    height: max(6.4vw,24px);
    @include sm-landscape {
        width: 24px;
        height: 24px;
    }
    @include tb-screen {
        width: 24px;
        height: 24px;
    }
}
@mixin reset-avater {
    border-radius: 50%;
    display: inline-block;
}
@mixin reset-arrow($deg) {
    content: '';
    display: block;
    width: max(1.3333vw,5px);
    height: max(1.3333vw,5px);
    border-top: max(0.5333vw,2px) solid $color-base-black;
    border-right: max(0.5333vw,2px) solid $color-base-black;
    transition: $transiton-base;
    transform: rotate($deg);
    @include sm-landscape {
        width: 5px;
        height: 5px;
        border-top-width: 2px;
        border-right-width: 2px;
    }
    @include tb-screen {
        width: 5px;
        height: 5px;
        border-top-width: 2px;
        border-right-width: 2px;
    }
}

// extend
%reset-definition {
    margin: 0;
    dd {
        margin: 0;
    }
}
%heading-primary {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max(14.4vw,54px);
    margin: 0 0 max(6.9333vw, 26px);
    text-transform: uppercase;
    @include tb-screen {
        height: 68px;
        margin-bottom: 40px;
    }
    @include pc-screen {
        margin-bottom: 48px;
    }
    .heading-primary__main {
        @include font-heebo;
        font-weight: 700;
        letter-spacing: .05em;
        line-height: 1.25;
        font-size: max(6.9333vw,2.6rem);
        @include tb-screen {
            font-size: 3.2rem;
        }
    }
    .heading-primary__sub {
        font-size: max(3.2vw,1.2rem);
        line-height: 1.5;
        @include tb-screen {
            font-size: 1.6rem;
        }
    }
    &.heading-primary--category-page {
        height: max(13.8666vw,52px);
        margin-bottom: max(9.0666vw,34px);
        @include tb-screen {
            align-items: flex-start;
            height: 73px;
            margin-bottom: 34px;
        }
        @include pc-screen {
            margin-bottom: 50px;
        }
        .heading-primary__sub {
            @include font-heebo;
            font-size: max(3.7333vw,1.4rem);
            font-weight: 700;
            letter-spacing: .03em;
            line-height: 1.5;
            @include tb-screen {
                font-size: 2rem;
                line-height: 1.2;
            }
        }
        .heading-primary__main {
            @include font-noto-sans;
            font-size: max(5.3333vw,2rem);
            font-weight: 700;
            letter-spacing: .02em;
            line-height: 1.5;
            @include tb-screen {
                font-size: 2.6rem;
                line-height: 1.6153;
            }
        }
    }
    &.heading-primary--tag-page {
        height: max(13.8666vw,52px);
        margin-bottom: max(8.5333vw,32px);
        @include tb-screen {
            align-items: flex-start;
            height: 73px;
            margin-bottom: 32px;
        }
        @include pc-screen {
            margin-bottom: 43px;
        }
        .heading-primary__sub {
            @include font-heebo;
            font-size: max(3.7333vw,1.4rem);
            font-weight: 700;
            letter-spacing: .03em;
            line-height: 1.5;
            @include tb-screen {
                font-size: 2rem;
                line-height: 1.2;
            }
        }
        .heading-primary__main {
            @include font-noto-sans;
            font-size: max(5.3333vw,2rem);
            font-weight: 700;
            letter-spacing: .02em;
            line-height: 1.5;
            &::before {
                content: '#';
                padding-right: .2em;
            }
            @include tb-screen {
                font-size: 2.6rem;
                line-height: 1.6153;
            }
        }
    }
}
%heading-secondary {
    align-items: center;
    color: $color-base-black;
    display: flex;
    line-height: 1;
    margin: 0 0 max(5.3333vw,20px);
    @include tb-screen {
        margin: 0 0 20px;
    }
    @include pc-screen {
        margin: 0 0 22px;
    }
    .heading-secondary__main {
        @include font-heebo;
        font-size: max(6.9333vw,2.6rem);
        font-weight: 700;
        letter-spacing: .05em;
        margin-right: .3846em;
        transform: translateY(6%);
        @include tb-screen {
            font-size: 3.2rem;
        }
    }
    .heading-secondary__sub {
        @include font-noto-sans;
        font-size: max(3.2vw,1.2rem);
        font-weight: 700;
        @include tb-screen {
            font-size: 1.6rem;
        }
    }
    &.heading-secondary--with-button {
        .button-primary--in-heading {
            margin-left: auto;
        }
    }
    &.heading-secondary--aside-nav {
        margin: 0 0 20px;
        .heading-secondary__main {
            font-size: max(6.9333vw,2.6rem);
            @include tb-screen {
                font-size: 3.2rem;
            }
            @include pc-screen {
                font-size: 2.6rem;
            }
        }
        .heading-secondary__sub {
            font-size: max(3.2vw,1.2rem);
            @include tb-screen {
                font-size: 1.6rem;
            }
            @include pc-screen {
                font-size: 1.2rem;
            }
        }
    }
    &.heading-secondary--invert {
        color: #fff;
    }
    &.heading-secondary--vertical\@sm {
        @include sm-screen {
            flex-direction: column;
        }
        .heading-secondary__main {
            @include sm-screen {
                margin: 0 0 max(3.2vw,12px) 0;
            }
            @include sm-landscape {
                margin: 0 0 12px 0;
            }
        }
    }
}
%heading-with-avater {
    display: flex;
    margin: min(4.2666vw,-16px) 0 max(6.4vw,24px);
    @include tb-screen {
        margin-top: -16px;
        margin-bottom: 24px;
    }
    @include pc-screen {
        margin-top: -31px;
        margin-bottom: 35px;
    }
    .heading-with-avater__anchor {
        @include reset-anchor;
        color: $color-base-black;
    }
    .heading-with-avater__image {
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        display: block;
        flex: none;
        width: max(32vw,120px);
        height: max(32vw,120px);
        object-fit: cover;
        @include tb-screen {
            width: 160px;
            height: 160px;
        }
    }
    .heading-with-avater__inner {
        @include font-noto-sans;
        font-size: max(4.2666vw,1.6rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        letter-spacing: .02em;
        line-height: 1.5;
        width: 100%;
        @include tb-screen {
            font-size: 2rem;
        }
    }
    .heading-with-avater__degree {
        font-size: max(3.7333vw,1.4rem);
        font-weight: 700;
        @include tb-screen {
            font-size: 1.5rem;
        }
    }
    .heading-with-avater__author {
        font-size: max(4.2666vw,1.6rem);
        font-style: normal;
        margin-left: .25em;
        @include tb-screen {
            font-size: 2rem;
        }
        .heading-with-avater__anchor {
            font-size: max(5.3333vw,2rem);
            @include tb-screen {
                font-size: 2.8rem;
            }
        }
    }
}

%arrow-icon-bottom {
    @include reset-arrow(135deg);
}
%arrow-icon-right {
    @include reset-arrow(45deg);
}
%arrow-button-vertical {
    align-items: center;
    background-color: $color-theme-yellow;
    border: max(0.2666vw,1px) solid $color-base-black;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    height: max(7.4666vw,28px);
    width: max(7.4666vw,28px);
    &::before {
        @include reset-arrow(135deg);
        margin-top: min(-0.6666vw,-2.5px);
    }
    @include sm-landscape {
        border-width: 1px;
        height: 28px;
        width: 28px;
        &::before {
            margin-top: -2.5px;
        }
    }
    @include tb-screen {
        border-width: 1px;
        height: 24px;
        width: 24px;
        &::before {
            margin-top: -2.5px;
        }
    }
}
%arrow-button-horizontal {
    align-items: center;
    background-color: $color-theme-yellow;
    border: max(0.2666vw,1px) solid $color-base-black;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    height: max(7.4666vw,28px);
    width: max(7.4666vw,28px);
    &::before {
        @include reset-arrow(45deg);
    }
    @include sm-landscape {
        border-width: 1px;
        height: 28px;
        width: 28px;
    }
    @include tb-screen {
        border-width: 1px;
        height: 24px;
        width: 24px;
    }
}
%close-button {
    @include reset-anchor;
    @include reset-button;
    cursor: pointer;
    width: max(10.6666vw,40px);
    height: max(10.6666vw,40px);
    @include sm-landscape {
        width: 40px;
        height: 40px;
    }
    @include tb-screen {
        width: 40px;
        height: 40px;
    }
    i {
        align-items: center;
        background-color: $color-theme-yellow;
        border-radius: 50%;
        box-shadow: 0 max(0.5333vw,2px) max(2.1333vw,8px) rgba(0,0,0,.15);
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        width: inherit;
        height: inherit;
        position: relative;
        pointer-events: none;
        &::before {
            background-color: $color-base-black;
            content: '';
            display: block;
            width: max(4.5333vw,17px);
            height: max(0.8vw,3px);
            transform: translateY(-50%) rotate(45deg);
            position: absolute;
            top: 50%;
            @include sm-landscape {
                width: 17px;
                height: 3px;
            }
            @include tb-screen {
                width: 17px;
                height: 3px;
            }
        }
        &::after {
            background-color: $color-base-black;
            content: '';
            display: block;
            width: max(4.5333vw,17px);
            height: max(0.8vw,3px);
            transform: translateY(-50%) rotate(135deg);
            position: absolute;
            top: 50%;
            @include sm-landscape {
                width: 17px;
                height: 3px;
            }
            @include tb-screen {
                width: 17px;
                height: 3px;
            }
        }
        @include tb-screen {
            box-shadow: 0 2px 8px rgba(0,0,0,.15);
        }
    }
}
%button-primary {
    @include reset-anchor;
    @include reset-button;
    @include font-noto-sans;
    background-color: transparent;
    border: max(0.2666vw,1px) solid $color-base-black;
    border-radius: 50px;
    color: $color-base-black;
    display: block;
    font-size: max(4vw,1.5rem);
    font-weight: 700;
    line-height: 1.5;
    margin: 0 auto;
    padding: .6666em 1em .6666em;
    position: relative;
    text-align: center;
    width: calc(1% * (260 / 343 * 100));
    &::after {
        @extend %arrow-icon-right;
        width: .4166em;
        height: .4166em;
        position: absolute;
        top: 50%;
        right: 1em;
        transform: rotate(45deg) translate3d(0,-50%,0);
    }
    @include tb-screen {
        border-width: 1px;
        font-size: 1.5rem;
        width: 460px;
    }
    @include pc-screen {
        cursor: pointer;
        &:hover {
            &::after {
                right: .8em;
            }
        }
    }
    &.is-disabled, &:disabled {
        border-color: $color-light-gray;
        color: $color-light-gray;
        pointer-events: none;
        cursor: default;
        user-select: none;
        &::after {
            border-color: $color-light-gray;
        }
    }
    &.button-primary--in-heading {
        display: inline-block;
        font-size: max(3.2vw,1.2rem);
        text-align: left;
        margin: unset;
        padding: .3333em 2em .3333em 1em;
        width: auto;
        @include tb-screen {
            font-size: 1.2rem;
        }
    }
    &.button-primary--with-icon {
        &::after {
            display: none;
        }
        .button-primary--with-icon__image {
            display: block;
            fill: $color-base-black;
            width: max(5.3333vw,20px);
            height: max(5.3333vw,20px);
            position: absolute;
            top: 50%;
            right: 1em;
            transform: translate3d(0,-50%,0);
            @include tb-screen {
                width: 20px;
                height: 20px;
            }
        }
    }
    &.button-primary--invert {
        border-color: #fff;
        color: #fff;
        .button-primary--with-icon__image {
            fill: #fff;
        }
    }
    &.js-hide {
        display: none;
    }
}
%button-prev {
    @include reset-anchor;
    @include reset-button;
    @include font-noto-sans;
    align-items: center;
    background-color: transparent;
    border: max(0.2666vw,1px) solid $color-base-black;
    border-radius: 50px;
    box-sizing: border-box;
    color: $color-base-black;
    display: flex;
    font-size: max(3.7333vw,1.4rem);
    font-weight: 700;
    line-height: 1.5;
    margin: 0 auto;
    padding: .6428em 1.6em .7857em 6.7857em;
    position: relative;
    width: 100%;
    span {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    i {
        align-items: center;
        display: inline-flex;
        font-style: normal;
        position: absolute;
        top: 50%;
        left: 1.4285em;
        transform: translate3d(0,-50%,0);
        &::before {
            @extend %arrow-icon-right;
            width: .4166em;
            height: .4166em;
            margin-right: .5em;
            transform: rotate(45deg) translate3d(0,calc(50% - 2.5px),0) scale(-1, -1);
        }
    }
    @include sm-landscape {
        font-size: 1.4rem;
    }
    @include tb-screen {
        border-width: 1px;
        font-size: 1.5rem;
        width: 48.4375%;
        i {
            left: 1.3333em;
        }
    }
    @include pc-screen {
        &:hover {
            i::before {
                margin-left: -.2em;
            }
        }
    }
    &.is-disabled {
        border-color: $color-light-gray;
        color: $color-light-gray;
        pointer-events: none;
        cursor: default;
        user-select: none;
        i::before {
            border-color: $color-light-gray;
        }
    }
}
%button-next {
    @include reset-anchor;
    @include reset-button;
    @include font-noto-sans;
    align-items: center;
    background-color: transparent;
    border: max(0.2666vw,1px) solid $color-base-black;
    border-radius: 50px;
    box-sizing: border-box;
    color: $color-base-black;
    display: flex;
    font-size: max(3.7333vw,1.4rem);
    font-weight: 700;
    line-height: 1.5;
    margin: 0 auto;
    padding: .6428em 6.7857em .7857em 1.6em;
    position: relative;
    width: 100%;
    i {
        align-items: center;
        display: inline-flex;
        font-style: normal;
        position: absolute;
        top: 50%;
        right: calc(1.4285em - 2.5px);
        transform: translate3d(0,-50%,0);
        &::after {
            @extend %arrow-icon-right;
            width: .4166em;
            height: .4166em;
            margin-left: .5em;
            transform: rotate(45deg) translate3d(0,calc(50% - 2.5px),0);
        }
    }
    span {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    @include sm-landscape {
        font-size: 1.4rem;
    }
    @include tb-screen {
        border-width: 1px;
        font-size: 1.5rem;
        width: 48.4375%;
        i {
            right: calc(1.3333em - 2.5px);
        }
    }
    @include pc-screen {
        &:hover {
            i::after {
                margin-right: -.2em;
            }
        }
    }
    &.is-disabled {
        border-color: $color-light-gray;
        color: $color-light-gray;
        pointer-events: none;
        cursor: default;
        user-select: none;
        i::after {
            border-color: $color-light-gray;
        }
    }
}

// input
@mixin input {
    @include font-default;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgba( 255 , 255 , 255 , .85 );
    border: 0;
    border-radius: max(2.1333vw,8px);
    box-sizing: border-box;
    box-shadow: 0;
    color: $color-base-black;
    display: block;
    font-size: max(4.2666vw,1.6rem);
    padding: 1em;
    width: 100%;
    transition: $transiton-base;
    @include landscape {
        border-radius: 8px;
        font-size: 1.6rem;
    }
    @include tb-screen {
        border-radius: 8px;
        font-size: 1.6rem;
    }
    &:focus {
        outline: 0;
    }
    &:-webkit-autofill {
        box-shadow: 0 0 0px 100px #fff inset;
    }
    &::placeholder {

    }
    &.js-error {
        border: 1px solid $color-attention-red;
        color: $color-attention-red;
        &::placeholder {
            color: $color-attention-red;
        }
    }
}


// element
html {
    font-size: 62.5%;
}
body {
    @include font-default;
    color: $color-base-black;
    margin: 0;
    width: 100%;
}