@use "./_setting" as *;

/* HOME */
.slider {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    @include pc-screen {
        width: calc(100% - 80px);
        margin-left: 80px;
        padding: 104px 0 60px;
    }
}

.slider__list {
    @include reset-list;
}

.slider__item {
    width: 100vw !important;
    @include tb-screen {
        width: 100% !important; // WIP
        max-width: 834px;
    }
    @include pc-screen {
        width: 834px !important;
    }
}

.slider__anchor {
    @include reset-anchor;
    color: $color-base-black;
    display: block;
    @include pc-screen {
        &:hover {
            opacity: 1;
        }
    }
}

.slider__image-wrap {
    margin: 0;
}

.slider__image {
    aspect-ratio: 1 / 1;
    display: block;
    width: 100vw;
    height: 100vw;
    object-fit: cover;
    @include tb-screen {
        aspect-ratio: 16 / 9;
        width: 100%; // WIP
        max-width: 834px;
        height: auto;
    }
    @include pc-screen {
        //aspect-ratio: unset;
        width: 834px;
        height: 450px;
    }
}

// swiper override
.slider__pagination {
    margin: max(3.2vw,12px) 0;
    position: static;
    @include sm-landscape {
        margin: 12px 0;
    }
    @include tb-screen {
        display: inline-block;
        margin: unset;
        position: absolute;
        bottom: 27px !important;
        left: unset !important;
        right: max(3.125vw,24px);
        width: auto !important;
    }
    @include pc-screen {
        bottom: 87px !important;
        left: calc(50% + 417px) !important;
        right: unset !important;
        transform: translateX(-100%);
    }
    .swiper-pagination-bullet {
        background-color: $color-base-black;
        opacity: 1;
        @include tb-screen {
            width: 10px;
            height: 10px;
            margin: 0 5.5px;
        }
    }
    .swiper-pagination-bullet-active {
        background-color: #fff;
    }
}

.slider__card {
    box-sizing: border-box;
    box-shadow: $box-shadow-base;
    margin: 0 auto;
    width: calc(100% - max(8.5333vw,32px));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: $transiton-long;
    @include tb-screen {
        margin-left: 24px;
        margin-top: -57px;
        width: 420px;
    }
    @include pc-screen {
        margin-left: -78px;
    }
    .swiper-slide-active & {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}
.slider__card-inner {
    background-color: #fff;
    border-radius: 0 max(2.1333vw,8px) max(2.1333vw,8px) max(2.1333vw,8px);
    display: flex;
    padding: max(3.2vw,12px) max(4.2666vw,16px) max(4.8vw,18px) max(4.2666vw,16px);
    position: relative;
    margin-top: min(-2.6666vw,-10px);
    @include sm-landscape {
        border-radius: 0 8px 8px 8px;
        padding: 12px 16px 18px 16px;
        margin-top: -10px;
    }
    @include tb-screen {
        border-radius: 0 8px 8px 8px;
        padding: 12px 16px 18px 16px;
        margin-top: unset;
    }
}
.slider__avater-wrap {
    flex: none;
    margin: 0 max(3.2vw,12px) 0 0;
    @include sm-landscape {
        margin-right: 12px;
    }
    @include tb-screen {
        margin-right: 12px;
    }
}
.slider__avater {
    border-radius: 50%;
    display: block;
    width: max(11.7333vw,44px);
    height: max(11.7333vw,44px);
    @include sm-landscape {
        width: 44px;
        height: 44px;
    }
    @include tb-screen {
        width: 44px;
        height: 44px;
    }
}
.slider__summary {
    @extend %reset-definition;
}
.slider__term {
    @include font-noto-sans;
    font-size: max(4.8vw,1.8rem);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .03em;
    margin-bottom: max(2.6666vw,10px);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include sm-landscape {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    @include tb-screen {
        font-size: 2rem;
        margin-bottom: 12px;
    }
}
.slider__description {
    color: $color-base-black;
    font-size: max(3.2vw,12px);
    font-weight: 700;
    line-height: 1.5;
    @include sm-landscape {
        font-size: 1.2rem;
        margin-top: 10px;
    }
    @include tb-screen {
        font-size: 1.2rem;
        margin-top: 12px;
    }
}
.slider__author {
    padding-right: 1em;
}
.slider__date {

}

/* ABOUT */
.slider-about {
    background: linear-gradient(0deg, rgba(0,0,0,1) 33%, rgba(245,245,245,1) 100%);
    overflow-x: hidden;
    margin-top: min(-16vw,-60px);
    position: relative;
    width: 100%;
    z-index: 1;
    @include tb-screen {
        margin-top: -60px;
    }
    @include pc-screen {
        width: calc(100% - 80px);
        margin-left: 80px;
        margin-top: 0;
    }
}

.slider-about__inner {

}

.slider-about__list {
    @include reset-list;
    width: 100% !important;
    height: 100vh;
}

.slider-about__item {
    width: inherit;
    height: inherit;
    overflow: hidden;
}

.slider-about__image-wrap {
    margin: 0;
    width: inherit;
    height: inherit;
}

.slider-about__image {
    width: inherit;
    height: inherit;
    object-fit: cover;
    opacity: .8;
}

.slider-about__catchcopy {
    @include font-noto-sans;
    font-weight: 700;
    position: absolute;
    bottom: max(10.6666vw,40px);
    left: max(4.2666vw,16px);
    z-index: 2;
    color: #fff;
    @include sm-landscape {
        bottom: 40px;
        left: 16px;
    }
    @include tb-screen {
        bottom: 100px;
        left: 4.529vw;
        @media screen and (max-height: 414px) {
            bottom: 40px;
            left: 16px;
        }
    }
}

.slider-about__heading {
    font-size: max(11.7333vw,4.4rem);
    line-height: 1.3068;
    letter-spacing: .03em;
    margin: 0 0 max(6.4vw,24px);
    @include sm-landscape {
        font-size: 4.4rem;
        margin-bottom: 24px;
    }
    @include tb-screen {
        font-size: 7.2rem;
        line-height: 1.25;
        margin-bottom: 24px;
        @media screen and (max-height: 414px) {
            font-size: 4.4rem;
            line-height: 1.3068;
        }
    }
}

.slider-about__text {
    font-size: max(4.2666vw,1.6rem);
    line-height: 1.75;
    letter-spacing: .02em;
    margin: 0;
    @include sm-landscape {
        font-size: 1.6rem;
    }
    @include tb-screen {
        font-size: 2rem;
        line-height: 2;
        letter-spacing: 0;
        @media screen and (max-height: 414px) {
            font-size: 1.6rem;
            line-height: 1.75;
        }
    }
}