@use "./_setting" as *;

.tag-box {
    margin-top: max(21.3333vw,80px);
    @include sm-landscape {
        margin-top: 80px;
    }
    @include tb-screen {
        margin-top: 60px;
    }
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    @include reset-anchor;
    background-color: $color-pale-gray;
    border-radius: max(5.3333vw,20px);
    color: $color-base-black;
    display: inline-block;
    font-size: max(3.2vw,1.2rem);
    text-decoration: none;
    margin: 0 max(1.0666vw,4px) max(2.1333vw,8px) 0;
    padding: .5em .8333em;
    &::before {
        content: '#';
        padding-right: .2em;
    }
    &:last-child {
        margin-right: 0;
    }
    @include sm-landscape {
        border-radius: 20px;
        font-size: 1.2rem;
        margin: 0 4px 8px 0;
    }
    @include tb-screen {
        border-radius: 20px;
        font-size: 1.2rem;
        margin: 0 4px 8px 0;
    }
    &--bg-white {
        background-color: #fff;
    }
}