@use "./_setting" as *;

.text {
    font-size: max(3.7333vw,14px);
    line-height: 1.75;
    margin: 0;
    @include tb-screen {
        font-size: 1.5rem;
    }
    &--white {
        color: #fff;
    }
    + .text {
        margin-top: 1em;
    }
}