@use "./_setting" as *;

.wrapper  {
    width: 100%;
    &--home {
        background-image: linear-gradient(to bottom, $color-theme-yellow 0, $color-theme-yellow max(167.7333vw,629px), #fff max(251.7333vw,944px), #fff max(613.3333vw,2300px), $color-theme-yellow max(720vw,2700px), #fff max(720vw,2700px), #fff 100%);
        @include tb-screen {
            background-image: linear-gradient(to bottom, $color-theme-yellow 0, $color-theme-yellow 607px, #fff 1007px, #fff calc(100% - 400px), $color-theme-yellow 100%);
        }
    }
    &--about {
        background-color: #000;
    }
    &--pages {
        background-image: linear-gradient(to bottom, #fff 0, #fff max(32vw,120px),$color-pale-gray max(32vw,120px),$color-pale-gray 100% );
        @include tb-screen {
            background-image: linear-gradient(to bottom, #fff 0, #fff 148px,$color-pale-gray 148px,$color-pale-gray 100% );
        }
        @include pc-screen {
            background-image: linear-gradient(to bottom, #fff 0, #fff 220px,$color-pale-gray 220px,$color-pale-gray 100% );
        }
    }
    &--author-posts {
        background-image: linear-gradient(to bottom, #fff 0, #fff max(44.8vw,168px),$color-pale-gray max(44.8vw,168px),$color-pale-gray 100% );
        @include tb-screen {
            background-image: linear-gradient(to bottom, #fff 0, #fff 208px,$color-pale-gray 208px,$color-pale-gray 100% );
        }
        @include pc-screen {
            background-image: linear-gradient(to bottom, #fff 0, #fff 268px,$color-pale-gray 268px,$color-pale-gray 100% );
        }
    }
    &--category-posts {
        background-image: linear-gradient(to bottom, #fff 0, #fff max(44.8vw,168px),$color-pale-gray max(44.8vw,168px),$color-pale-gray 100% );
        @include tb-screen {
            background-image: linear-gradient(to bottom, #fff 0, #fff 187px,$color-pale-gray 187px,$color-pale-gray 100% );
        }
        @include pc-screen {
            background-image: linear-gradient(to bottom, #fff 0, #fff 268px,$color-pale-gray 268px,$color-pale-gray 100% );
        }
    }
    &--new-arrival-posts {
        background-image: linear-gradient(to bottom, #fff 0, #fff max(32.5333vw,122px),$color-pale-gray max(32.5333vw,122px),$color-pale-gray 100% );
        @include tb-screen {
            background-image: linear-gradient(to bottom, #fff 0, #fff 146px,$color-pale-gray 146px,$color-pale-gray 100% );
        }
        @include pc-screen {
            background-image: linear-gradient(to bottom, #fff 0, #fff 220px,$color-pale-gray 220px,$color-pale-gray 100% );
        }
    }
    &--tag-posts {
        background-image: linear-gradient(to bottom, #fff 0, #fff max(32.5333vw,122px),$color-pale-gray max(32.5333vw,122px),$color-pale-gray 100% );
        @include tb-screen {
            background-image: linear-gradient(to bottom, #fff 0, #fff 146px,$color-pale-gray 146px,$color-pale-gray 100% );
        }
        @include pc-screen {
            background-image: linear-gradient(to bottom, #fff 0, #fff 220px,$color-pale-gray 220px,$color-pale-gray 100% );
        }
    }
}
.wrapper__inner {
    padding: 0 0 max(10.6666vw,40px);
    @include tb-screen {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 0 40px;
    }
    @include pc-screen {
        box-sizing: border-box;
        margin: 0 0 0 80px;
        max-width: unset;
        width: calc(100% - 80px);
        display: flex;
        justify-content: center;
        padding: 104px min(4.1666vw,50px) 56px;
    }
    &--home {
        @include pc-screen {
            padding-top: 0;
            align-items: flex-start;
        }
        &.js-flex-stretch {
            @include pc-screen {
                align-items: stretch;
            }
        }
    }
    &--about {
        display: block;
        overflow-x: hidden;
        position: relative;
        padding-bottom: 0;
        @include tb-screen {
            max-width: unset;
        }
        @include pc-screen {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    &--pages {
        padding-bottom: 0;
        @include pc-screen {
            padding-bottom: 56px;
        }
    }
    &--single {
        @include pc-screen {
            align-items: flex-start;
        }
        &.js-flex-stretch {
            @include pc-screen {
                align-items: stretch;
            }
        }
    }
    &--category {
        // @include pc-screen {
        //     align-items: flex-start;
        // }
        // &.js-flex-stretch {
        //     @include pc-screen {
        //         align-items: stretch;
        //     }
        // }
    }
    &--tag {
        // @include pc-screen {
        //     align-items: flex-start;
        // }
        // &.js-flex-stretch {
        //     @include pc-screen {
        //         align-items: stretch;
        //     }
        // }
    }
}

.wrapper--about__placeholder {
    @include pc-screen {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
}

.wrapper--about__logo {
    fill: $color-theme-yellow;
    width: max(14.4vw,54px);
    height: max(135.4666vw,508px);
    position: absolute;
    top: max(10.1333vw,38px);
    right: 0;
    @include sm-landscape {
        // width: 54px;
        // height: 508px;
        top: 38px;
        transform: translateY(-40px);
    }
    @include tb-screen {
        top: 60px;
        width: min(13.122vw, 145px);
        height: min(123.529vw, 1365px);
        right: min(50px, 4.529vw);
    }
    @include pc-screen {
        top: 60px;
        right: 0;
    }
}
