@use "../_setting" as *;

.about-post-lead {
    @include font-noto-sans;
    color: #fff;
    letter-spacing: .02em;
    font-weight: 700;
    @include sm-landscape {

    }
    @include tb-screen {

    }
    ul {
        @include reset-list;
        font-size: max(4.8vw,1.8rem);
        line-height: 1.5;
        margin-bottom: max(8.5333vw,32px);
        @include sm-landscape {
            font-size: 1.8rem;
            margin-bottom: 32px;
        }
        @include tb-screen {
            font-size: 3.1rem;
            margin-bottom: 60px;
        }
    }
    li {
        margin-bottom: .25em;
        text-decoration: underline;
        text-underline-offset: max(0.8vw,3px);
        text-decoration-thickness: max(0.8vw,3px);
        &:first-child {
            margin-bottom: .8888em;
        }
        &:last-child {
            margin-bottom: 0;
            &::first-line {
                line-height: 2.7777;
            }
        }
        @include sm-landscape {
            margin-bottom: 16px;
            text-underline-offset: 3px;
            text-decoration-thickness: 3px;
        }
        @include tb-screen {
            text-decoration-thickness: 6px;
            &:first-child {
                margin-bottom: 1.0322em;
            }
        }
    }
    p {
        @include font-noto-sans;
        font-size: max(4.2666vw,1.6rem);
        line-height: 1.75;
        margin: 0;
        @include sm-landscape {
            font-size: 1.6rem;
        }
        @include tb-screen {
            font-size: 2rem;
            line-height: 2;
        }
    }
    br + br {
        display: none;
    }
}

.about-post-mission {
    @include tb-screen {
        margin-top: 32px;
    }
    ol {
        @include reset-list;
    }
    li {
        @include font-noto-sans;
        font-size: max(3.7333vw,1.4rem);
        font-weight: 400;
        counter-increment: num;
        color: #fff;
        line-height: 1.75;
        margin-bottom: max(4vw,15px);
        &:last-child {
            margin-bottom: 0;
        }
        @include sm-landscape {
            font-size: 1.4rem;
            margin-bottom: 15px;
        }
        @include tb-screen {
            font-size: 1.6rem;
            line-height: 2;
            margin-bottom: 24px;
            position: relative;
            padding-left: 80px;
        }
        &::before {
            @include font-heebo;
            font-size: max(10.6666vw,4rem);
            font-weight: 700;
            content: '0' counter(num);
            color: $color-theme-yellow;
            display: block;
            line-height: 1.5;
            letter-spacing: .03em;
            @include sm-landscape {
                font-size: 4rem;
            }
            @include tb-screen {
                font-size: 4.8rem;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        strong {
            font-size: max(4.8vw,1.8rem);
            font-weight: 700;
            color: #fff;
            display: block;
            line-height: 1.6666;
            letter-spacing: .02em;
            margin-bottom: max(2.1333vw,8px);
            @include sm-landscape {
                font-size: 1.8rem;
                margin-bottom: 8px;
            }
            @include tb-screen {
                font-size: 2rem;
                margin-bottom: 8px;
            }
            & + br {
                display: none;
            }
        }
    }
    br + br {
        display: none;
    }
}

.about-mission {
    @include tb-screen {
        max-width: 620px;
        margin: 0 auto;
    }
    br + br {
        display: none;
    }
}

.about-mission__heading {
    @include font-noto-sans;
    font-size: max(4.8vw,1.8rem);
    font-weight: 700;
    color: #fff;
    line-height: 1.6666;
    letter-spacing: .02em;
    margin: 0 0 max(6.4vw,24px);
    text-align: center;
    @include sm-landscape {
        font-size: 1.8rem;
        margin-bottom: 24px;
    }
    @include tb-screen {
        font-size: 2rem;
        margin-bottom: 24px;
    }
}

.about-baloon {
    @extend %reset-definition;
    background-color: $color-theme-yellow;
     border-radius: 8px;
    box-sizing: border-box;
    width: calc(100% - max(4.2666vw, 16px));
    margin-bottom: max(5.6vw,21px);
    padding: max(4.2666vw, 16px) max(4.2666vw, 16px) max(4.2666vw, 16px) max(11.7333vw, 44px);
    position: relative;
    @include sm-landscape {
        margin-bottom: 21px;
        padding: 14px 16px 14px 44px;
        width: calc(100% - 16px);
    }
    @include tb-screen {
        margin-bottom: 21px;
        padding: 16px 16px 16px 54px;
        width: 100%;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &::after {
        background-color: $color-theme-yellow;
        content: "";
        display: inline-block;
        position: absolute;
        top: max(2.1333vw,8px);
        right: max(0.2666vw,1px);
        height: max(5.0666vw,19px);
        width: max(7.2vw,27px);
        transform: skewX(-60deg);
        @include sm-landscape {
            top: 8px;
            right: 1px;
            height: 19px;
            width: 27px;
        }
        @include tb-screen {
            top: 8px;
            right: 1px;
            height: 19px;
            width: 27px;
        }
    }
    br + br {
        display: none;
    }
}

.about-baloon__term {
    @include font-heebo;
    font-size: max(6.4vw,2.4rem);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .05em;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    position: absolute;
    top: max(5.3333vw, 20px);
    left: max(0.5333vw,2px);
    @include sm-landscape {
        font-size: 2.4rem;
        top: 12px;
        left: 2px;
    }
    @include tb-screen {
        font-size: 2.4rem;
        top: 20px;
        left: 8px;
    }
}

.about-baloon__desc {
    @include sm-landscape {

    }
    @include tb-screen {

    }
}

.about-baloon__heading {
    @include font-noto-sans;
    font-size: max(4.2666vw,1.6rem);
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 max(3.2vw,12px);
    text-decoration: underline;
    text-underline-offset: max(0.5333vw,2px);
    text-decoration-thickness: max(0.5333vw,2px);
    @include sm-landscape {
        font-size: 1.6rem;
        margin-bottom: 12px;
        text-underline-offset: 2px;
        text-decoration-thickness: 2px;
    }
    @include tb-screen {
        font-size: 1.8rem;
        margin-bottom: 12px;
        letter-spacing: .02em;
        text-underline-offset: 2px;
        text-decoration-thickness: 2px;
    }
}

.about-post-before, .about-post-after {
    ul {
        @include reset-list;
        list-style-type: disc;
        margin-left: 1.5em;
    }
    li {
        @include font-noto-sans;
        font-size: max(3.7333vw,1.4rem);
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: max(2.6666vw,10px);
        &:last-child {
            margin-bottom: 0;
        }
        @include sm-landscape {
            font-size: 1.4rem;
            margin-bottom: 10px;
        }
        @include tb-screen {
            font-size: 1.6rem;
            letter-spacing: .02em;
            margin-bottom: 10px;
        }
    }
    br + br {
        display: none;
    }
}

.about-post-message {
    @include tb-screen {
        margin-top: 32px;
    }
    p {
        @include font-noto-sans;
        font-size: max(4vw,1.5rem);
        font-weight: 700;
        color: #fff;
        line-height: 2;
        margin: 0;
        @include sm-landscape {
            font-size: 1.5rem;
        }
        @include tb-screen {
            font-size: 1.8rem;
        }
        + p {
            margin-top: 1em;
        }
    }
    br + br {
        display: none;
    }
}

.about-member {
    background-color: #fff;
    box-sizing: border-box;
    margin-top: max(21.3333vw,80px);
    padding: 0 max(4.2666vw, 16px) max(10.6666vw,40px);
    position: relative;
    width: 100%;
    @include sm-landscape {
        margin-top: 80px;
        padding: 0 16px 40px;
    }
    @include tb-screen {
        margin-top: 80px;
        padding: 0 4.529vw 100px;
    }
    @include pc-screen {
        width: calc(100% + 100px);
        margin-top: 120px;
        margin-left: -50px;
        padding: 0 50px 100px;
    }
    &::before {
        background-image: linear-gradient(to bottom, transparent 0, transparent 50%, $color-theme-yellow 100%);
        content: '';
        display: block;
        width: 100%;
        height: 400px;
        position: absolute;
        left: 0;
        top: -400px;
        //transform: translateY(2px); // 開発ツールで表示される隙間削除
    }
    &::after {
        background-color: #fff;
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        top: -1px;
    }
    br + br {
        display: none;
    }
}
.about-member__inner {
    @include pc-screen {
        max-width: 1200px;
        margin: 0 auto;
    }
}
.about-member__bg-triangle {
    display: block;
    position: absolute;
    left: 0;
    z-index: 1;
    border-bottom: max(21.3333vw,80px) solid #fff;
    top: min(-21.3333vw,-80px);
    border-right: 100vw solid transparent;
    //transform: translateY(2px); // 開発ツールで表示される隙間削除
    @include sm-landscape {
        border-bottom: 80px solid #fff;
        top: -80px;
    }
    @include tb-screen {
        border-bottom: 80px solid #fff;
        top: -80px;
    }
    @include pc-screen {
        border-bottom: 120px solid #fff;
        border-right: calc(100vw - 80px) solid transparent;
        top: -120px;
    }
}