@use "../_setting" as *;

.form {
    display: block;
}
.form__annotation {
    font-size: max(3.7333vw,14px);
    margin: 0;
    margin-bottom: max(5.3333vw,20px);
    @include landscape {
        font-size: 14px;
        margin-bottom: 20px;
    }
    @include tb-screen {
        font-size: 15px;
        margin-bottom: 20px;
    }
}
// toaster
@keyframes toaster {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, 100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
.form__toaster {
    @include font-noto-sans;
    box-shadow: $box-shadow-base;
    border-radius: max(2.1333vw, 8px) 0 0 max(2.1333vw, 8px);
    color: #fff;
    display: inline-block;
    font-weight: 700;
    font-size: max(3.7333vw, 1.4rem);
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 0.5em 0.8333em;
    position: fixed;
    top: 20px;
    right: 0;
    z-index: 30;
    transition: all .5s ease-out;
    transform: translate3d(100%, 0, 0);
    @include landscape {
        border-radius: 8px 0 0 8px;
        font-size: 1.4rem;
        top: 60px;
    }
    @include tb-screen {
        border-radius: 8px 0 0 8px;
        font-size: 1.8rem;
    }
    &.js-success {
        background-color: rgba(58, 198, 204, .9);
        transform: translate3d(0, 0, 0);
    }
    &.js-error {
        background-color: rgba(255, 103, 83, .9);
        transform: translate3d(0, 0, 0);
    }

}
.form__row {
    margin-bottom: max(5.3333vw,20px);
    @include landscape {
        margin-bottom: 20px;
    }
    @include tb-screen {
        margin-bottom: 20px;
    }
    &:last-of-type {
        margin-bottom: max(8.5333vw,32px);
        @include landscape {
            margin-bottom: 32px;
        }
        @include tb-screen {
            margin-bottom: 32px;
        }
    }
}
// select
.form__select-wrap {
    position: relative;
    font-size: max(4.2666vw,1.6rem);
    @include landscape {
        font-size: 1.6rem;
    }
    @include tb-screen {
        font-size: 1.6rem;
    }
    &::after {
        @extend %arrow-icon-bottom;
        width: .4166em;
        height: .4166em;
        margin-right: .5em;
        position: absolute;
        top: calc(50% - .5em);
        right: max(4.2666vw,16px);
        @include landscape {
            right: 16px;
        }
        @include tb-screen {
            right: 16px;
        }
    }
    &.js-wrap-error {
        &::after {
            border-top-color: $color-attention-red;
            border-right-color: $color-attention-red;
        }
    }
}
.form__select {
    @include input;
    cursor: pointer;
    padding: 1em 2.34375em 1em .9375em;
}

// input
.form__input {
    @include input;
}
// textarea
.form__textarea {
    @include input;
    height: max(56vw,210px);
    resize: vertical;
    @include landscape {
        height: 210px;
    }
    @include tb-screen {
        height: 245px;
    }
}

// LINE 友だち追加
.line-add {
    text-align: center;
    margin-top: max(10.6666vw,40px);
    @include landscape {
        margin-top: 40px;
    }
    @include tb-screen {
        margin-top: 40px;
    }
}
.line-add__text {
    @include font-noto-sans;
    font-size: max(3.7333vw,14px);
    font-weight: 700;
    margin: 0;
    margin-bottom: max(4.5333vw,17px);
    @include landscape {
        font-size: 14px;
        margin-bottom: 17px;
    }
    @include tb-screen {
        font-size: 15px;
        margin-bottom: 17px;
    }
}
.line-add__anchor {
    display: block;
    @include pc-screen {
        transition: $transiton-base;
        &:hover {
            opacity: .75;
        }
    }
}
.line-add__image {
    display: block;
    width: 180px;
    height: auto;
    margin: 0 auto;
}