@use "../_setting" as *;

.youtube-bg {

}

.youtube-bg__video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.youtube-bg__overlay {
    background-color: rgba(0,0,0,.25);
	background-image: radial-gradient(#111 30%, transparent 31%), radial-gradient(#111 30%, transparent 31%);
	background-size: 4px 4px;
	background-position: 0 0, 2px 2px;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    @include pc-screen {
        margin-left: 80px;
        min-width: calc(100% - 80px);
    }
}