<div class="hero <%- type === 'event' ? 'hero--event' : '' %>">
    <div class="hero__image-wrap">
        <img src="../img/banner/sample-1@2x.jpg" alt="" class="hero__image <%- type === 'event' ? 'hero__image--event' : '' %>" lodaing="eager">
        <a href="" class="label <%- type === 'event' ? '' : 'label--pink' %>">
            <%- type === 'event' ? 'イベント情報' : 'ライフスタイル' %>
        </a>
    </div>
    <div class="hero__inner">
        <% if (type === 'event') { %>
        <div class="hero__schedule">
            <span class="hero__year">2021</span>
            <div class="hero__schedule-inner">
                <span class="hero__month">12</span>
                <span class="hero__date">30</span>
                <span class="hero__dateofweek">水</span>
                <span class="hero__placeholder-time">
                    <time class="hero__start-time">16:00</time><time class="hero__finish-time">18:00</time>
                </span>
            </div>
        </div>
        <% } %>
        <h1 class="hero__heading">
            タイ移住にかかる費用をざっくりまとめてみた（初期費用・生活費）
        </h1>
        <% if (type !== 'event') { %>
        <div class="hero__tag">
            <a href="" class="tag">仕事探し</a>
            <a href="" class="tag">転職エージェント</a>
        </div>
        <% } %>
        <% if (type === 'event') { %>
        <p class="hero__place">ココテル オンヌット ルーフトップバー</p>
        <% } %>
        <% if (type !== 'event') { %>
        <div class="hero__author">
            <a href="" class="hero__anchor">
                <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="hero__avater">
            </a>
            <div class="hero__caption">
                <a href="" class="hero__name">Takashi Suzuki</a>
                <time class="hero__update">2021.08.19</time>
            </div>
        </div>
        <% } %>
    </div>
</div>