<div class="share">
    <p class="share__title">SHERE</p>
    <ul class="share__list">
        <li class="share__item">
            <a href="" class="share__anchor">
                <svg class="share__icon">
                    <title>Twitter</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#twitter_circle"
                    ></use>
                </svg>
            </a>
        </li>
        <li class="share__item">
            <a href="" class="share__anchor">
                <svg class="share__icon">
                    <title>Facebook</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#facebook_circle"
                    ></use>
                </svg>
            </a>
        </li>
        <li class="share__item">
            <a href="" class="share__anchor">
                <svg class="share__icon">
                    <title>LINE</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#line_circle"
                    ></use>
                </svg>
            </a>
        </li>
    </ul>
</div>