<aside class="aside-nav" data-aside-nav>

    <%- include('./_heading.ejs', { type: 'secondary', various: 'aside', main: 'CATEGORY', sub: 'カテゴリ別新着記事' }); %>
    <h3 class="card-list-header">
        <span class="label label--green">求人情報</span>
        <%- include('./_button.ejs', { type: 'primary', various: 'in-heading', invert: false, text: 'すべて見る' }); %>
    </h3>
    <ul class="card-list card-list--aside-nav">
        <% for (var i = 0; i < 3; i++) { %>
            <%- include('./_card.ejs', { type: 'horizontal', various: null }); %>
        <% } %>
    </ul>

    <h3 class="card-list-header">
        <span class="label label--blue">就職／転職</span>
        <%- include('./_button.ejs', { type: 'primary', various: 'in-heading', invert: false, text: 'すべて見る' }); %>
    </h3>
    <ul class="card-list card-list--aside-nav">
        <% for (var i = 0; i < 3; i++) { %>
            <%- include('./_card.ejs', { type: 'horizontal', various: null }); %>
        <% } %>
    </ul>

    <h3 class="card-list-header">
        <span class="label label--pink">ライフスタイル</span>
        <%- include('./_button.ejs', { type: 'primary', various: 'in-heading', invert: false, text: 'すべて見る' }); %>
    </h3>
    <ul class="card-list card-list--aside-nav">
        <% for (var i = 0; i < 3; i++) { %>
            <%- include('./_card.ejs', { type: 'horizontal', various: null }); %>
        <% } %>
    </ul>

    <h3 class="card-list-header">
        <span class="label label--violet">海外移住</span>
        <%- include('./_button.ejs', { type: 'primary', various: 'in-heading', invert: false, text: 'すべて見る' }); %>
    </h3>
    <ul class="card-list card-list--aside-nav">
        <% for (var i = 0; i < 3; i++) { %>
            <%- include('./_card.ejs', { type: 'horizontal', various: null }); %>
        <% } %>
    </ul>

    <div class="aside-nav__sticky">
        <%- include('./_heading.ejs', { type: 'secondary', various: 'aside', main: 'POPULAR', sub: '人気の記事' }); %>
        <ol class="card-list card-list--aside-nav">
            <% for (var i = 0; i < 10; i++) { %>
                <%- include('./_card.ejs', { type: 'horizontal', various: 'popular', index: i + 1 }); %>
            <% } %>
        </ol>
    </div>

</aside>
