<% if (type === 'list' && various === 'modal' && slide === false) { %>
<li class="author author--list-item">
    <a href="javascript:void(0)" class="author__anchor" data-micromodal-trigger="modal-<%- index %>">
        <figure class="author__avater-wrap">
            <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="author__avater" loading="lazy">
            <figcaption class="author__degree">ブロガー／SEOコンサル</figcaption>
            <figcaption class="author__name">Taishi Suzuki</figcaption>
        </figure>
    </a>
</li>
<% } else if (type === 'list' && various === 'anchor' && slide === true) { %>
<li class="author author--slide-item swiper-slide">
    <a href="" class="author__anchor">
        <figure class="author__avater-wrap">
            <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="author__avater" loading="lazy">
            <figcaption class="author__degree">ブロガー／SEOコンサル</figcaption>
            <figcaption class="author__name">Taishi Suzuki</figcaption>
        </figure>
    </a>
</li>
<% } else if (type === 'list' && various === 'card') { %>
<li class="author-card">
    <figure class="author-card__avater">
        <img src="https://placeimg.com/525/281/people" alt="" class="author-card__image" loading="lazy">
        <figcaption class="author-card__detail">
            <span class="author-card__account">
                <span class="author-card__degree">ブロガー／SEOコンサル</span>
                <span class="author-card__name">Taishi Suzuki</span>
            </span>
            <span class="author-card__sns">
                <ul class="author-card__list">
                    <li class="author-card__item">
                        <a href="" class="author-card__anchor">
                            <svg class="author-card__icon">
                                <title>Twitter</title>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#twitter"
                                ></use>
                            </svg>
                        </a>
                    </li>
                    <li class="author-card__item">
                        <a href="" class="author-card__anchor">
                            <svg class="author-card__icon">
                                <title>Instagram</title>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#instagram"
                                ></use>
                            </svg>
                        </a>
                    </li>
                    <li class="author-card__item">
                        <a href="" class="author-card__anchor">
                            <svg class="author-card__icon">
                                <title>Mail</title>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#mail"
                                ></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </span>
        </figcaption>
    </figure>
    <p class="author-card__text">
        <!-- custom field -->
        タイ・バンコク在住。20代で4カ国勤務を経験し、海外（アジア）在住歴は5年目。
        立教大学経営学部を戦略的5ヶ年計画で卒業後、新卒でNTTコミュニケーションズに就職。<br>
        インドのムンバイへ1年間のトレーニー派遣を経験後、戦略コンサルティング企業ドリームインキュベータグループにて、タイ＆ベトナムに約3年間勤務。現在はアデコタイランドのマーケティング担当として当メディアの運営を行い、日本人のアジア就職・キャリアに関する支援や発信を行っている。
        <!-- /custom field -->
    </p>
</li>
<% } else if (type === 'list' && various === null) { %>
<li class="author author--list-item@about">
    <figure class="author__avater-wrap">
        <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="author__avater" loading="lazy">
        <figcaption class="author__degree">ブロガー／SEOコンサル</figcaption>
        <figcaption class="author__name">Taishi Suzuki</figcaption>
    </figure>
    <ul class="author__sns">
        <li class="author__sns-item">
            <a href="" class="author__sns-anchor">
                <svg class="author__sns-icon">
                    <title>Twitter</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#twitter"></use>
                </svg>
            </a>
        </li>
        <li class="author__sns-item">
            <a href="" class="author__sns-anchor">
                <svg class="author__sns-icon">
                    <title>Instagram</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#instagram"></use>
                </svg>
            </a>
        </li>
        <li class="author__sns-item">
            <a href="" class="author__sns-anchor">
                <svg class="author__sns-icon">
                    <title>Mail</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#mail"></use>
                </svg>
            </a>
        </li>
    </ul>
    <div class="author__info">
        <!-- custom field[short] -->
        <p>
            2015年からバンコク在住。WEBマーケティングの仕事をする傍ら、バンコクの生活情報や旅に関するブログを運営している。
        </p>
        <!-- /custom field[short] -->
    </div>
</li>
<% } else if (type === 'element' && various === 'modal') { %>
<li class="author">
    <figure class="author__avater-wrap">
        <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="author__avater" loading="lazy">
        <figcaption class="author__degree">ブロガー／SEOコンサル</figcaption>
        <figcaption class="author__name">Taishi Suzuki</figcaption>
    </figure>
</li>
<% } else if (type === 'element' && various === 'single-page') { %>
<div class="author author--single">
    <a href="" class="author__avater-wrap">
        <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;fit=crop&amp;h=200&amp;w=200&amp;ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="author__avater">
    </a>
    <div class="author--single__inner">
        <div class="author--single__placeholder">
            <div class="author--single__name-wrap">
                <span class="author__degree">ブロガー／SEOコンサル</span>
                <a href="" class="author__name">Taishi Suzuki</a>
            </div>
            <ul class="author__sns">
                <li class="author__sns-item">
                    <a href="" class="author__sns-anchor">
                        <svg class="author__sns-icon">
                            <title>Twitter</title>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="author__sns-item">
                    <a href="" class="author__sns-anchor">
                        <svg class="author__sns-icon">
                            <title>Instagram</title>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="author__sns-item">
                    <a href="" class="author__sns-anchor">
                        <svg class="author__sns-icon">
                            <title>Web</title>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#web"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="author__info">
            <!-- custom field[short] -->
            <p>
                タイ・バンコク在住。タイ、インド、ベトナムでの勤務経験あり。<br>
                立教大学経営学部卒。新卒で日本のIT企業、戦略コンサルを経て、現在はアデコタイランドのマーケティング担当として当、メディアの運営を行い、日本人のアジア就職・キャリアに関する支援や発信を行っている。
            </p>
            <!-- /custom field[short] -->
        </div>
    </div>
</div>
<% } %>