<% if (type === 'primary' && various === 'in-heading') { %>
    <a href="" class="button-primary button-primary--in-heading <%- invert === true ? 'button-primary--invert' : '' %>"><%- text %></a>
<% } else if (type === 'primary' && various === 'with-icon') { %>
    <a href="" class="button-primary button-primary--with-icon <%- invert === true ? 'button-primary--invert' : '' %>">
        <span class="button-primary__text"><%- text %></span>
        <svg class="button-primary--with-icon__image">
            <title><%- iconname %></title>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#<%- iconname %>"
            ></use>
        </svg>
    </a>
<% } else if (type === 'primary') { %>
    <a href="" class="button-primary <%- invert === true ? 'button-primary--invert' : '' %>"><%- text %></a>
<% } else if (type === 'arrow-button' && various === 'top') { %>
    <button type="button" class="arrow-button arrow-button--<%- various %>" <%- data_attribute -%>><i class="arrow-button__icon"></i></button>
<% } else if (type === 'arrow-button' && various === 'bottom' && data_attribute === 'data-infinite') { %>
    <button type="button" class="arrow-button arrow-button--<%- various %>" <%- data_attribute -%>>
        <i class="arrow-button__icon" data-infinite-icon></i>
        <span class="arrow-button__loading" data-infinite-loading>
            <% for (var i = 0; i < 8; i++) { %>
            <i></i>
            <% } %>
        </span>
    </button>
<% } else if (type === 'arrow-button' && various === 'bottom') { %>
    <button type="button" class="arrow-button arrow-button--<%- various %>" <%- data_attribute -%>><i class="arrow-button__icon"></i></button>
<% } else if (type === 'arrow-button' && various === 'left') { %>
    <button type="button" class="arrow-button arrow-button--<%- various %>" <%- data_attribute -%>><i class="arrow-button__icon"></i></button>
<% } else if (type === 'arrow-button' && various === 'right') { %>
    <button type="button" class="arrow-button arrow-button--<%- various %>" <%- data_attribute -%>><i class="arrow-button__icon"></i></button>
<% } else if (type === 'prev-next' && disabled === false) { %>
    <div class="button-set">
        <a href="" class="button-prev">
            <span>
                <i class="button-prev__icon">PREV</i>
                <%- text[0] %>
            </span>
        </a>
        <a href="" class="button-next">
            <span>
                <%- text[1] %>
                <i class="button-prev__icon">NEXT</i>
            </span>
        </a>
    </div>
<% } else if (type === 'prev-next' && disabled === true) { %>
    <div class="button-set">
        <a href="" class="button-prev is-disabled">
            <span>
                <i class="button-prev__icon">PREV</i>
                <%- text[0] %>
            </span>
        </a>
        <a href="" class="button-next is-disabled">
            <span>
                <%- text[1] %>
                <i class="button-prev__icon">NEXT</i>
            </span>
        </a>
    </div>
<% } %>