<% if (type === 'vertical') { %>
    <li class="card-vertical">
        <a href="" class="card-vertical__anchor">
            <figure class="card-vertical__image-wrap">
                <img src="https://placeimg.com/348/193/arch" alt="" class="card-vertical__image" loading="lazy">
                <% if (label === true) { %>
                <figcaption class="label label--blue">就職／転職</figcaption>
                <% } %>
            </figure>
            <dl class="card-vertical__summary">
                <dt class="card-vertical__term">
                    <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="card-vertical__avater" loading="lazy">
                    <span class="card-vertical__title">【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）</span>
                </dt>
                <dd class="card-vertical__description">
                    <span class="card-vertical__author">アジラボ編集部</span>
                    <time class="card-vertical__date">2020.11.20</time>
                </dd>
            </dl>
        </a>
    </li>
<% } else if (type === 'horizontal' && various === 'event' && slide === true) { %>
    <li class="card-event card-event--slide-item swiper-slide">
        <a href="" class="card-event__anchor">
            <div class="card-event__schedule">
                <span class="card-event__month">12</span>
                <span class="card-event__placeholder-date">
                    <span class="card-event__date">31</span><span class="card-event__dateofweek">水</span>
                </span>
                <span class="card-event__placeholder-time">
                    <time class="card-event__start-time">16:00</time><time class="card-event__finish-time">18:00</time>
                </span>
            </div>
            <figure class="card-event__image-wrap">
                <img src="https://placeimg.com/119/67/arch" alt="" class="card-event__image" loading="lazy">
            </figure>
            <dl class="card-event__sumarry">
                <dt class="card-event__title">第1回 ASIA COUPLE LABO</dt>
                <dd class="card-event__place">ココテル オンヌット ルーフトップバー</dd>
            </dl>
            <% if (close === true) { %>
            <span class="label label--attention">終了しました</span>
            <% } %>
        </a>
    </li>
<% } else if (type === 'horizontal' && various === 'event') { %>
    <li class="card-event">
        <a href="" class="card-event__anchor">
            <div class="card-event__schedule">
                <span class="card-event__month">12</span>
                <span class="card-event__placeholder-date">
                    <span class="card-event__date">31</span><span class="card-event__dateofweek">水</span>
                </span>
                <span class="card-event__placeholder-time">
                    <time class="card-event__start-time">16:00</time><time class="card-event__finish-time">18:00</time>
                </span>
            </div>
            <figure class="card-event__image-wrap">
                <img src="https://placeimg.com/119/67/arch" alt="" class="card-event__image" loading="lazy">
            </figure>
            <dl class="card-event__sumarry">
                <dt class="card-event__title">第1回 ASIA COUPLE LABO</dt>
                <dd class="card-event__place">ココテル オンヌット ルーフトップバー</dd>
            </dl>
            <% if (close === true) { %>
            <span class="label label--attention">終了しました</span>
            <% } %>
        </a>
    </li>
<% } else if (type === 'horizontal' && various === 'popular') { %>
    <li class="card-horizontal card-horizontal--popular">
        <a href="" class="card-horizontal__anchor">
            <i class="card-horizontal--popular__badge"><%- index %></i>
            <figure class="card-horizontal__image-wrap">
                <img src="https://placeimg.com/119/67/animals" alt="" class="card-horizontal__image" loading="lazy">
            </figure>
            <dl class="card-horizontal__summary">
                <dt class="card-horizontal__term">
                    【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
                </dt>
                <dd class="card-horizontal__description">
                    <figure class="card-horizontal__avater-wrap">
                        <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="card-horizontal__avater" loading="lazy">
                    </figure>
                    <div class="card-horizontal__author-wrap">
                        <span class="card-horizontal__author">アジラボ編集部</span>
                        <time class="card-horizontal__date">2020.11.20</time>
                    </div>
                </dd>
            </dl>
        </a>
    </li>
<% } else if (type === 'horizontal') { %>
    <li class="card-horizontal">
        <a href="" class="card-horizontal__anchor">
            <figure class="card-horizontal__image-wrap">
                <img src="https://placeimg.com/119/67/arch" alt="" class="card-horizontal__image" loading="lazy">
            </figure>
            <dl class="card-horizontal__summary">
                <dt class="card-horizontal__term">
                    【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
                </dt>
                <dd class="card-horizontal__description">
                    <figure class="card-horizontal__avater-wrap">
                        <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="card-horizontal__avater" loading="lazy">
                    </figure>
                    <div class="card-horizontal__author-wrap">
                        <span class="card-horizontal__author">アジラボ編集部</span>
                        <time class="card-horizontal__date">2020.11.20</time>
                    </div>
                </dd>
            </dl>
        </a>
    </li>
<% } %>