<footer class="footer <%- type === 'about' ? 'footer--about' : '' %>" data-footer>
    <div class="footer__top">
        <ul class="footer__banners">
            <li class="footer__banner">
                <a href="" class="footer__anchor">
                    <img src="../img/banner/footer_line.png" alt="" class="footer__banner-image" loading="lazy">
                </a>
            </li>
            <li class="footer__banner">
                <a href="" class="footer__anchor">
                    <img src="../img/banner/footer_youtube_001.png" alt="" class="footer__banner-image" loading="lazy">
                </a>
            </li>
            <li class="footer__banner">
                <a href="" class="footer__anchor">
                    <img src="../img/banner/footer_youtube_002.png" alt="" class="footer__banner-image" loading="lazy">
                </a>
            </li>
        </ul>
    </div>
    <div class="footer__bottom">
        <a href="" class="footer__anchor footer__anchor--logo">
            <svg class="footer__logo">
                <title>ASIA CAREER LABO</title>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#logotype"
                ></use>
            </svg>
        </a>
        <ul class="footer__list">
            <li class="footer__item">
                <a href="" class="footer__anchor">
                    運用会社
                </a>
            </li>
            <li class="footer__item">
                <a href="" class="footer__anchor">
                    利用規約
                </a>
            </li>
            <li class="footer__item">
                <a href="" class="footer__anchor">
                    プライバシーポリシー
                </a>
            </li>
            <li class="footer__item">
                <a href="" class="footer__anchor">
                    お問い合わせ
                </a>
            </li>
        </ul>
        <ul class="footer__sns">
            <li class="footer__sns-item">
                <a href="" class="footer__anchor footer__anchor--icon">
                    <svg class="footer__icon">
                        <title>Twitter</title>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#twitter"
                        ></use>
                    </svg>
                </a>
            </li>
            <li class="footer__sns-item">
                <a href="" class="footer__anchor footer__anchor--icon">
                    <svg class="footer__icon">
                        <title>Instagram</title>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#instagram"
                        ></use>
                    </svg>
                </a>
            </li>
            <li class="footer__sns-item">
                <a href="" class="footer__anchor footer__anchor--icon">
                    <svg class="footer__icon">
                        <title>LINE</title>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#line"
                        ></use>
                    </svg>
                </a>
            </li>
        </ul>
        <small class="footer__copyright">©︎ 2021 asia career labo</small>
    </div>
</footer>