<header class="header <%- type === 'simple' ? 'header--simple' : '' %><%- various === 'transparent' ? 'header--transparent' : '' %>" data-header>
    <a href="/" class="header__anchor">
        <p class="header__catchcopy">
            アジラボ <span class="header__catchcopy-line">|</span> 飛び出せ日本！海外転職応援メディア
        </p>
        <picture class="header__logo">
            <source media="(max-width: 1104px)" srcset="../img/logotype.svg" class="header__image">
            <img src="../img/logotype_vertical.svg" alt="ASIA CAREER LABO" class="header__image">
        </picture>
    </a>
    <ul class="header__sns">
        <li class="header__sns-item">
            <a href="" class="header__anchor header__anchor--icon">
                <svg class="header__icon">
                    <title>Twitter</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#twitter"
                    ></use>
                </svg>
            </a>
        </li>
        <li class="header__sns-item">
            <a href="" class="header__anchor header__anchor--icon">
                <svg class="header__icon">
                    <title>Instagram</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#instagram"
                    ></use>
                </svg>
            </a>
        </li>
        <li class="header__sns-item">
            <a href="" class="header__anchor header__anchor--icon">
                <svg class="header__icon">
                    <title>LINE</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#line"
                    ></use>
                </svg>
            </a>
        </li>
        <li class="header__sns-item">
            <a href="" class="header__anchor header__anchor--icon">
                <svg class="header__icon">
                    <title>youtube</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#youtube"
                    ></use>
                </svg>
            </a>
        </li>
    </ul>
</header>