<% if (type === 'primary' && various === 'category') { %>
    <h1 class="heading-primary heading-primary--category-page">
        <span class="heading-primary__sub"><%- sub %></span>
        <span class="heading-primary__main"><%- main %></span>
    </h1>
<% } else if (type === 'primary' && various === 'tag') { %>
    <h1 class="heading-primary heading-primary--tag-page">
        <span class="heading-primary__sub"><%- sub %></span>
        <span class="heading-primary__main"><%- main %></span>
    </h1>
<% } else if (type === 'primary') { %>
    <h1 class="heading-primary">
        <span class="heading-primary__main"><%- main %></span>
        <span class="heading-primary__sub"><%- sub %></span>
    </h1>
<% } else if (type === 'secondary' && various === 'with-button') { %>
    <h2 class="heading-secondary heading-secondary--with-button">
        <span class="heading-secondary__main"><%- main %></span>
        <span class="heading-secondary__sub"><%- sub %></span>
        <%- include('./_button.ejs', { type: 'primary', various: 'in-heading', invert: false, text: 'すべて見る' }); %>
    </h2>
<% } else if (type === 'secondary' && various === 'aside') { %>
    <h2 class="heading-secondary heading-secondary--aside-nav">
        <span class="heading-secondary__main"><%- main %></span>
        <span class="heading-secondary__sub"><%- sub %></span>
    </h2>
<% } else if (type === 'secondary' && various === 'invert' && sm_screen === 'vertical') { %>
    <h2 class="heading-secondary heading-secondary--invert heading-secondary--vertical@sm">
        <span class="heading-secondary__main"><%- main %></span>
        <span class="heading-secondary__sub"><%- sub %></span>
    </h2>
<% } else if (type === 'secondary' && various === 'invert') { %>
    <h2 class="heading-secondary heading-secondary--invert">
        <span class="heading-secondary__main"><%- main %></span>
        <span class="heading-secondary__sub"><%- sub %></span>
    </h2>
<% } else if (type === 'secondary') { %>
    <h2 class="heading-secondary">
        <span class="heading-secondary__main"><%- main %></span>
        <span class="heading-secondary__sub"><%- sub %></span>
    </h2>
<% } else if (type === 'with-avater') { %>
    <h1 class="heading-with-avater">
        <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="heading-with-avater__image">
        <span class="heading-with-avater__inner">
            <span class="heading-with-avater__degree"><%- degree %></span>
            <em class="heading-with-avater__author"><%- author %></em>
            書いた記事
        </span>
    </h1>
<% } %>