<div id="modal-<%- index %>" class="modal" aria-hidden="true">
    <div class="overlay" data-micromodal-close>
        <div class="modal__content" data-modal-content>
            <button type="button" class="close-button" data-micromodal-close>
                <i class="close-button__icon"></i>
            </button>
            <div class="modal__inner">
                <div class="author author--in-modal">
                    <figure class="author__avater-wrap">
                        <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="author__avater">
                        <figcaption class="author__degree">ブロガー／SEOコンサル</figcaption>
                        <figcaption class="author__name">Taishi Suzuki</figcaption>
                    </figure>
                    <ul class="author__sns">
                        <li class="author__sns-item">
                            <a href="" class="author__sns-anchor">
                                <svg class="author__sns-icon">
                                    <title>Twitter</title>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#twitter"
                                    ></use>
                                </svg>
                            </a>
                        </li>
                        <li class="author__sns-item">
                            <a href="" class="author__sns-anchor">
                                <svg class="author__sns-icon">
                                    <title>Instagram</title>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#instagram"
                                    ></use>
                                </svg>
                            </a>
                        </li>
                        <li class="author__sns-item">
                            <a href="" class="author__sns-anchor">
                                <svg class="author__sns-icon">
                                    <title>Web</title>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#web"
                                    ></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <!-- custom fields for user setting -->
                    <div class="author__info">
                        <!-- custom field[short] -->
                        <p>
                            タイ・バンコク在住。タイ、インド、ベトナムでの勤務経験あり。<br>
                            立教大学経営学部卒。新卒で日本のIT企業、戦略コンサルを経て、現在はアデコタイランドのマーケティング担当として当、メディアの運営を行い、日本人のアジア就職・キャリアに関する支援や発信を行っている。
                        </p>
                        <!-- /custom field[short] -->
                    </div>
                    <div class="author__info">
                        <!-- custom field[other] -->
                        <ul>
                            <li>バンコクのお部屋探し</li>
                            <li>高収益物件のみ販売（年間、数部屋のみ）</li>
                            <li>１棟・1部屋単位での物件管理</li>
                        </ul>
                        <!-- /custom fields[other] -->
                    </div>
                    <!-- /custom fields for user setting -->
                </div>
                <a href="" class="button-primary">記事を読む</a>
            </div>
        </div>
    </div>
</div>