<% if (type === 'start') { %>
<div class="post-start">
    <!-- custom field -->
    <p>
        「タイに移住の費用はどれくらいなのだろうか」「現地での生活費はいくらかかるのだろうか」
        タイへの移住を考える際、気になるポイントの一つとして、必要資金や生活費用などのお金に関する心配があると思います。
        <br><br>初めてタイに住む方であれば、どれくらいの費用を見込んでおけば良いのかが分からず、悩む方は多いのではないでしょうか。
        <br><br>そこで今回は、タイ移住に関わる費用について、実際に移住した人の体験談を含めてまとめてみました。
    </p>
    <p>タイへの移住を考える際、気になるポイントの一つとして、必要資金や生活費用などのお金に関する心配があると思います。</p>
    <ul>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
        <li>現地での生活費はいくらかかるのだろうか</li>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
    </ul>
    <ol>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
        <li>現地での生活費はいくらかかるのだろうか</li>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
    </ol>
    <!-- custom field -->
</div>
<% } else if ( type === 'close' ) { %>
<div class="post-close">
    <!-- custom field -->
    <p>
        特に乾季が始まり（11月）、気温が少し落ちる12月が最もフェスが多く、以降雨季が始まる5月まで、継続的にフェスが開催されています。
        <br><br>特に乾季が始まり（11月）、気温が少し落ちる12月が最もフェスが多く、以降雨季が始まる5月まで、継続的にフェスが開催されています。
        <br><br>特に乾季が始まり（11月）、気温が少し落ちる12月が最もフェスが多く、以降雨季が始まる5月まで、継続的にフェスが開催されています。
    </p>
    <p>
        特に乾季が始まり（11月）、気温が少し落ちる12月が最もフェスが多く、以降雨季が始まる5月まで、継続的にフェスが開催されています。
    </p>
    <ul>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
        <li>現地での生活費はいくらかかるのだろうか</li>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
    </ul>
    <ol>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
        <li>現地での生活費はいくらかかるのだろうか</li>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
    </ol>
    <!-- /custom field -->
</div>
<% } else if ( type === 'map' ) { %>
<!-- custom field -->
<figure class="post-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.6935642567123!2d100.56032504929833!3d13.73699330129278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29ee33cfb207d%3A0x1380e8861e2db80a!2sSoi%20Cowboy%2C%20Khwaeng%20Khlong%20Toei%20Nuea%2C%20Khet%20Watthana%2C%20Krung%20Thep%20Maha%20Nakhon%2010110!5e0!3m2!1sja!2sth!4v1630159480153!5m2!1sja!2sth" width="720" height="405" style="border:0;" allowfullscreen="" loading="lazy" class="post-map__iframe"></iframe>
</figure>
<!-- /custom field -->
<% } else if ( type === 'single' ) { %>
<div class="post-single">
    <h2>新卒で未経験でも求人はありますか？H2</h2>
    <h3>部屋のものを捨てまくるH3</h3>
    <h4>とりあえず航空券を予約するH4</h4>
    <p>
        タイ移住にかかる費用は、移住前と移住後の２つに分けて考えると、<strong>整理しやすい</strong>です。
        <a href="">移住前にかかる費用の例</a>としては、不用品処分代・ビザ代・渡航費などがあります。
        <br><br>
        反対に、移住後にかかる費用としては、渡航後の滞在費・住居の契約費などがあり、生活するための維持費として、家賃・光熱費・インターネット代・食費・娯楽費などもかかってきます。
    </p>
    <figure>
        <img src="../img/banner/sample-3@2x.jpg" alt="" >
        <figcaption>キャプション</figcaption>
    </figure>
    <ul>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
        <li>現地での生活費はいくらかかるのだろうか</li>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
    </ul>
    <ol>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
        <li>現地での生活費はいくらかかるのだろうか</li>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
    </ol>
    <p>
        タイ移住にかかる費用は、移住前と移住後の２つに分けて考えると、<strong>整理しやすい</strong>です。
        <a href="">移住前にかかる費用の例</a>としては、不用品処分代・ビザ代・渡航費などがあります。
        <br><br>
        反対に、移住後にかかる費用としては、渡航後の滞在費・住居の契約費などがあり、生活するための維持費として、家賃・光熱費・インターネット代・食費・娯楽費などもかかってきます。
    </p>
    <h2>新卒で未経験でも求人はありますか？H2</h2>
    <ul>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
        <li>現地での生活費はいくらかかるのだろうか</li>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
    </ul>
    <h3>部屋のものを捨てまくるH3</h3>
    <p>
        タイ移住にかかる費用は、移住前と移住後の２つに分けて考えると、<strong>整理しやすい</strong>です。
        <a href="">移住前にかかる費用の例</a>としては、不用品処分代・ビザ代・渡航費などがあります。
        <br><br>
        反対に、移住後にかかる費用としては、渡航後の滞在費・住居の契約費などがあり、生活するための維持費として、家賃・光熱費・インターネット代・食費・娯楽費などもかかってきます。
    </p>
    <h4>とりあえず航空券を予約するH4</h4>
    <p>
        タイ移住にかかる費用は、移住前と移住後の２つに分けて考えると、<strong>整理しやすい</strong>です。
        <a href="">移住前にかかる費用の例</a>としては、不用品処分代・ビザ代・渡航費などがあります。
        <br><br>
        反対に、移住後にかかる費用としては、渡航後の滞在費・住居の契約費などがあり、生活するための維持費として、家賃・光熱費・インターネット代・食費・娯楽費などもかかってきます。
    </p>
    <h2>新卒で未経験でも求人はありますか？H2</h2>
    <ol>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
        <li>現地での生活費はいくらかかるのだろうか</li>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
    </ol>
    <h3>部屋のものを捨てまくるH3</h3>
    <figure>
        <img src="../img/banner/sample-3@2x.jpg" alt="" >
        <figcaption>キャプション</figcaption>
    </figure>
    <h4>とりあえず航空券を予約するH4</h4>
    <ol>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
        <li>現地での生活費はいくらかかるのだろうか</li>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
    </ol>
    <h2>新卒で未経験でも求人はありますか？H2</h2>
    <figure>
        <img src="../img/banner/sample-3@2x.jpg" alt="" >
        <figcaption>キャプション</figcaption>
    </figure>
    <h3>部屋のものを捨てまくるH3</h3>
    <ul>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
        <li>現地での生活費はいくらかかるのだろうか</li>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
    </ul>
    <h4>とりあえず航空券を予約するH4</h4>
    <ul>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
        <li>現地での生活費はいくらかかるのだろうか</li>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
    </ul>
    <h2>新卒で未経験でも求人はありますか？H2</h2>
    <p>
        タイ移住にかかる費用は、移住前と移住後の２つに分けて考えると、<strong>整理しやすい</strong>です。
        <a href="">移住前にかかる費用の例</a>としては、不用品処分代・ビザ代・渡航費などがあります。
        <br><br>
        反対に、移住後にかかる費用としては、渡航後の滞在費・住居の契約費などがあり、生活するための維持費として、家賃・光熱費・インターネット代・食費・娯楽費などもかかってきます。
    </p>
    <h3>部屋のものを捨てまくるH3</h3>
    <ol>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
        <li>現地での生活費はいくらかかるのだろうか</li>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
    </ol>
    <h4>とりあえず航空券を予約するH4</h4>
    <ol>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
        <li>現地での生活費はいくらかかるのだろうか</li>
        <li>タイに移住の費用はどれくらいなのだろうか</li>
    </ol>
</div>
<% } else if ( type === 'page' && various ==='company' ) { %>
    <div class="post-page">
        <figure>
            <table>
                <tbody>
                    <tr>
                        <td>運営</td>
                        <td>アジラボ運営局</td>
                    </tr>
                    <tr>
                        <td>所在地</td>
                        <td>388 S.P. Building. 11th Floor, Zone A, Phaholyothin Road, Samsennai, Phayathai, Bangkok 10400 Thailand.</td>
                    </tr>
                    <tr>
                        <td>編集長</td>
                        <td>井尻 龍太</td>
                    </tr>
                    <tr>
                        <td>事業内容</td>
                        <td>
                            メディア運営事業
                            <ul>
                                <li>海外就職メディア「アジラボ」</li>
                                <li>YouTube「アジラボチャンネル」〜海外で生きるをもっと身近に〜 </li>
                                <li>YouTube「アジラボ転職」〜海外で働くための情報を発信〜 </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </figure>
    </div>
<% } else if ( type === 'page' && various ==='term' ) { %>
    <div class="post-page">
        <p>
            本ウェブサイトは株式会社xxxx（以下「当社」といいます）が運営しております。<br>
            本ウェブサイトを利用される前に以下の利用条件をお読みいただき、これらの条件にご同意された場合のみご利用ください。本ウェブサイトをご利用されることにより、以下の条件にご同意されたものとみなします。なお、以下の条件は、予告なしに変更されることがあります。本条件が変更された場合、変更後の利用条件に従っていただきます。あらかじめご了承ください。
        </p>
        <h2>1. 著作権について</h2>
        <p>
            本ウェブサイト上のすべてのコンテンツに関する著作権は、特段の表示のない限り当社に帰属しております。そのすべてまたは一部を、法律にて定められる私的使用等の範囲を超えて、無断で複製、転用、改変、公衆送信、販売などの行為を行うことはできません。
        </p>
        <h2>2. 商標について</h2>
        <p>
            本ウェブサイトで使用されている商標・ロゴマーク・商号は、当社の登録商標または商標です。商標法またはその他の法律により認められている場合を除き、当社の事前の承諾なしに、これらを使用等することはできません。
        </p>
        <h2>3. 免責事項</h2>
        <p>
            当社は、本ウェブサイトに掲載されている内容について、その正確性、有用性、確実性について保証するものではなく、一切の責任を負わないものといたします。 当社は、予告なしに、本ウェブサイトの運営を中断または中止、掲載内容を修正、変更、削除する場合がありますが、それらによって生じるいかなる損害についても一切責任を負いません。また本ウェブサイトのご利用によりお客様または第三者のハードウェアおよびソフトウェア上に生じた事故、データの毀損・滅失等の損害について一切責任を負いません。
        </p>
        <h2>4. リンクについて</h2>
        <p>
            営利、非営利、イントラネットを問わず、本ウェブサイトへのリンクは自由です。 ただし、公序良俗に反するサイトなど、当社の信用、品位を損なうサイトからのリンクはお断りします。また事前事後にかかわらず、その他の理由によりリンクをお断りする場合もあります。
        </p>
        <h2>5. ご利用環境</h2>
        <p>
            当ウェブサイトは、OSはWindows、ブラウザはInternet Explorer、Google Chromeを推奨しております。その他のブラウザでご覧になると、機能の一部が正しく動作しない場合があります。また、当ウェブサイトは、JavaScriptを使用しているページがございます。ブラウザのJavaScript設定を無効にされている場合、正しく機能しない、もしくは正しく表示されないことがあります。
        </p>
    </div>
<% } else if ( type === 'page' && various ==='privacy' ) { %>
    <div class="post-page">
        <h2>個人情報の定義</h2>
        <p>
            アジラボでは、個人情報とは、個人情報の保護に関する法律に規定される生存する個人に関する情報（氏名、生年月日、その他の特定の個人を識別することができる情報）、ならびに特定の個人と結びついて使用されるメールアドレス、ユーザーID、パスワード、クレジットカードなどの情報、および個人情報と一体となった趣味、家族構成、年齢その他の個人に関する属性情報であると認識しています。
        </p>
        <h2>クッキー・IPアドレス情報</h2>
        <p>
            クッキー及びIPアドレス情報については、それら単独では特定の個人を識別することができないため、個人情報とは考えておりません。ただしこれら情報と個人情報が一体となって使用される場合にはこれら情報も個人情報とみなします。アジラボの運営及び運用するメディアにおいては、たとえ特定の個人を識別することができなくとも、クッキー及びIPアドレス情報を利用する場合には、その目的と方法を開示してまいります。また、クッキー情報については、ブラウザの設定で拒否することが可能です。クッキーを拒否するとサービスが受けられない場合は、その旨も公表します。
        </p>
        <h2>個人情報利用目的の特定</h2>
        <p>
            アジラボは、個人情報を取り扱うにあたって、その利用の目的を出来る限り特定します。
        </p>
        <h2>個人情報利用の制限</h2>
        <p>
            アジラボは、あらかじめご本人の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報を取扱うことはありません。合併その他の理由により個人情報を取得した場合にも、あらかじめご本人の同意を得ないで、承継前の利用目的の範囲を超えて取扱うことはありません。ただし、次の場合はこの限りではありません。
            <br><br>
            （１）法令に基づく場合
            <br>（２）人の生命、身体または財産の保護のために必要がある場合であって、ご本人の同意を得ることが困難であるとき
            <br>（３）公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、ご本人の同意を得 ることが困難であるとき
            <br>（４）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協 力する必要がある場合であって、ご本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
        </p>
        <h2>個人情報の適正な取得</h2>
        <p>
            アジラボは、適正に個人情報を取得し、偽りその他不正の手段により取得することはありません。また、15歳未満の子供から親権者の同意なく個人に関する情報をみだりに収集しないよう留意します。
        </p>
        <h2>個人情報の取得に際する利用目的の通知</h2>
        <p>
            アジラボは、個人情報を取得するにあたり、あらかじめその利用目的を公表します。ただし、次の場合はこの限りではありません。
            <br><br>
            （１）利用目的をご本人に通知し、または公表することによりご本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合
            <br>（２）利用目的をご本人に通知し、または公表することによりアジラボの権利または正当な利益を 害するおそれがある場合
            <br>（３）国の機関もしくは地方公共団体が法令の定める事務を遂行することに対して協力する必要がある場合であって、利用目的をご本人に通知し、または公表することにより当該事務の遂行に支障を及ぼすおそれがあるとき
            <br>（４）取得の状況からみて利用目的が明らかであると認められる場合
            <br>個人情報利用目的の変更
            <br>アジラボは、個人情報の利用目的を変更する場合には、変更前の利用目的と相当の関連性を有すると合理的に認められる範囲を超えては行わず、変更された利用目的について、ご本人に通知し、または公表します。
        </p>
        <h2>個人情報の安全管理・従業員の監督</h2>
        <p>
            アジラボは、個人情報の漏洩、滅失またはき損の防止その他の個人情報の安全管理が図られるよう、個人情報保護規程を定め、従業員に対する必要かつ適切な監督を行います。
        </p>
        <h2>委託先の監督</h2>
        <p>
            アジラボは、個人情報の取扱いの全部又は一部を委託する場合は、委託先と機密保持を含む契約の締結、または、アジラボが定める約款に合意を求め、委託先において個人情報の安全管理が図られるよう、必要かつ適切な監督を行います。
        </p>
        <h2>第三者提供の制限</h2>
        <p>
            アジラボは、次に掲げる場合を除くほか、あらかじめご本人の同意を得ないで、個人情報を第三者に提供しません。
            <br><br>
            （１）法令に基づく場合
            <br>（２）人の生命、身体または財産の保護のために必要がある場合であって、ご本人の同意を得ることが困難であるとき
            <br>（３）公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、ご本人の同意を得ることが困難であるとき
            <br>（４）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、ご本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
            <br>（５）予め次の事項を告知あるいは公表をしている場合
            <br>1. 利用目的に第三者への提供を含むこと
            <br>2. 第三者に提供されるデータの項目
            <br>3. 第三者への提供の手段または方法
            <br>4. ご本人の求めに応じて個人情報の第三者への提供を停止すること
            <br>ただし次に掲げる場合は上記に定める第三者には該当しません。
            <br>（１）アジラボが利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合
            <br>（２）合併その他の事由による事業の承継に伴って個人情報が提供される場合
            <br>（３）個人情報を特定の者との間で共同して利用する場合であって、その旨並びに共同して利用される個人情報 の項目、共同して利用する者の範囲、利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について、あらかじめご本人に通知し、またはご本人が容易に知り得る状態に置いているとき
        </p>
        <h2>個人情報に関する事項の公表等</h2>
        <p>
            アジラボは、個人情報に関する次に掲げる事項について、ご本人の知り得る状態に置き、ご本人の求めに応じて遅滞なく回答します。
            <br><br>
            （１）個人情報の利用目的（ただし、個人情報の保護に関する法律において、その義務がないと規定されるものは除きます。ご回答しない決定をした場合は、ご本人に対して遅滞なくその旨を通知します。）
            <br>（２）個人情報に関するお問い合わせ窓口
            <br>個人情報の開示
            <br>アジラボは、ご本人から、個人情報の開示を求められたときは、ご本人に対し、遅滞なく開示します。ただし、開示することにより次のいずれかに該当する場合は、その全部または一部を開示しないこともあり、開示しない決定をした場合には、その旨を遅滞なく通知します。
            <br><br>
            （１）ご本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合
            <br>（２）アジラボの業務の適正な実施に著しい支障を及ぼすおそれがある場合
            <br>（３）他の法令に違反することとなる場合なお、アクセスログなどの個人情報以外の情報については、原則として開示いたしません。
        </p>
        <h2>個人情報の訂正等</h2>
        <p>
            アジラボは、ご本人から、個人情報が真実でないという理由によって、内容の訂正、追加または削除（以下「訂正等」といいます）を求められた場合には、他の法令の規定により特別の手続きが定められている場合を除き、利用目的の達成に必要な範囲内において、遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正等を行い、その旨ご本人に通知します。
            <br><br>
            個人情報の利用停止等
            <br>アジラボは、ご本人から、ご本人の個人情報が、あらかじめ公表された利用目的の範囲を超えて取り扱われているという理由、または偽りその他不正の手段により取得されたものであるという理由により、その利用の停止または消去（以下「利用停止等」といいます）を求められた場合には、遅滞なく必要な調査を行い、その結果に基づき、個人情報の利用停止等を行い、その旨ご本人に通知します。ただし、個人情報の利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって、ご本人の権利利益を保護するために必要なこれに代わるべき措置をとれる場合は、この代替策を講じます。
            <br><br>
            理由の説明
            <br>アジラボは、ご本人からの要求にもかかわらず、
            <br><br>
            （１）利用目的を通知しない
            <br>（２）個人情報の全部または一部を開示しない
            <br>（３）個人情報の利用停止等を行わない
            <br>（４）個人情報の第三者提供を停止しないのいずれかを決定する場合、その旨ご本人に通知する際に理由を説明するよう努めます。
        </p>
        <h2>お問い合わせ</h2>
        <p>
            アジラボのプライバシーポリシーに関するお問い合わせは、下記担当までお願い致します。
            <br><a href="mailto:info@asia-career-labo.com?subject=問い合わせ | プライバシーポリシーについて">info@asia-career-labo.com</a>
        </p>
    </div>
<% } %>