<% if ( type === 'home' ) { %>
    <div id="swiper-hero" class="slider">
        <ul class="slider__list swiper-wrapper" data-slider>
            <li class="slider__item swiper-slide">
                <a href="" class="slider__anchor">
                    <figure class="slider__image-wrap">
                        <img src="../img/banner/sample-1@2x.jpg" alt="" class="slider__image" loading="eager">
                    </figure>
                    <div class="slider__card">
                        <div class="slider__card-inner">
                            <span class="label label--pink">ライフスタイル</span>
                            <figure class="slider__avater-wrap">
                                <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="slider__avater">
                            </figure>
                            <dl class="slider__summary">
                                <dt class="slider__term">
                                    【海外在住者の婚活事情②】婚活アプリで結婚!? タイ在住の旦那さんと、遠距離恋愛を実らせた秘密に
                                </dt>
                                <dd class="slider__description">
                                    <span class="slider__author">Tkashi Suzuki</span>
                                    <time class="slider__date">2021.08.18</time>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </a>
            </li>
            <li class="slider__item swiper-slide">
                <a href="" class="slider__anchor">
                    <figure class="slider__image-wrap">
                        <img src="../img/banner/sample-2@2x.jpg" alt="" class="slider__image" loading="eager">
                    </figure>
                    <div class="slider__card">
                        <div class="slider__card-inner">
                            <span class="label label--green">求人情報</span>
                            <figure class="slider__avater-wrap">
                                <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="slider__avater">
                            </figure>
                            <dl class="slider__summary">
                                <dt class="slider__term">
                                    【海外在住者の婚活事情②】婚活アプリで結婚!? タイ在住の旦那さんと、遠距離恋愛を実らせた秘密に
                                </dt>
                                <dd class="slider__description">
                                    <span class="slider__author">Tkashi Suzuki</span>
                                    <time class="slider__date">2021.08.18</time>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </a>
            </li>
            <li class="slider__item swiper-slide">
                <a href="" class="slider__anchor">
                    <figure class="slider__image-wrap">
                        <img src="../img/banner/sample-3@2x.jpg" alt="" class="slider__image" loading="eager">
                    </figure>
                    <div class="slider__card">
                        <div class="slider__card-inner">
                            <span class="label label--blue">就職／転職</span>
                            <figure class="slider__avater-wrap">
                                <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="slider__avater">
                            </figure>
                            <dl class="slider__summary">
                                <dt class="slider__term">
                                    【海外在住者の婚活事情②】婚活アプリで結婚!? タイ在住の旦那さんと、遠距離恋愛を実らせた秘密に
                                </dt>
                                <dd class="slider__description">
                                    <span class="slider__author">Tkashi Suzuki</span>
                                    <time class="slider__date">2021.08.18</time>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="arrow-button arrow-button--next">
            <i class="arrow-button__icon"></i>
        </div>
        <div class="arrow-button arrow-button--prev">
            <i class="arrow-button__icon"></i>
        </div>
        <div class="slider__pagination swiper-pagination"></div>
    </div>
<% } else if ( type === 'about' ) { %>
    <div class="slider-about">
        <div id="swiper-hero-about" class="slider-about__inner">
            <ul class="slider-about__list swiper-wrapper" data-slider-about>
                <li class="slider-about__item swiper-slide">
                    <figure class="slider-about__image-wrap">
                        <img src="../img/about/h_01.jpg" alt="" class="slider-about__image">
                    </figure>
                </li>
                <li class="slider-about__item swiper-slide">
                    <figure class="slider-about__image-wrap">
                        <img src="../img/about/h_02.jpg" alt="" class="slider-about__image">
                    </figure>
                </li>
                <li class="slider-about__item swiper-slide">
                    <figure class="slider-about__image-wrap">
                        <img src="../img/about/h_03.jpg" alt="" class="slider-about__image">
                    </figure>
                </li>
            </ul>
        </div>
        <div class="slider-about__catchcopy">
            <h1 class="slider-about__heading">
                海外で<br class="break-sm-and-tb">生きることを<br>もっと身近に
            </h1>
            <p class="slider-about__text">
                人生やキャリアに悩めるすべての人に
                <br class="break-sm-and-tb">「海外キャリア」という選択肢を。
            </p>
        </div>
    </div>
<% } %>