<li class="youtube-frame__item  swiper-slide">
    <div class="youtube-frame__video-wrap">
        <div class="youtube-frame__video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fTfaKcL1Yb8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
        </div>
    </div>
    <a href="https://youtu.be/fTfaKcL1Yb8" target="_blank" rel="noopener noreferrer" class="youtube-frame__title">
        【タイ駐在のリアル】社員との衝突、家族との距離、孤独な戦い ~帰国する今、何を思うか~
    </a>
</li>