@use "../_setting" as *;

body.not-found {
    @include tb-screen {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        justify-content: space-between;
    }
}

.not-found__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .button-primary {
        margin-top: max(8.5333vw,32px);
        @include sm-landscape {
            margin-top: 32px;
        }
        @include tb-screen {
            margin-top: 32px;
        }
    }
}

.not-found__symbol {
    @include font-heebo;
    font-size: max(15.4666vw,5.8rem);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .03em;
    @include sm-landscape {
        font-size: 5.8rem;
    }
    @include tb-screen {
        font-size: 5.8rem;
    }
}

.not-found__text {
    @include font-noto-sans;
    font-weight: 700;
    font-size: max(4vw,1.5rem);
    line-height: 1.5;
    margin: 0;
    @include sm-landscape {
        font-size: 1.5rem;
    }
    @include tb-screen {
        font-size: 1.5rem;
    }
}