<aside class="aside-nav" data-aside-nav>
  <h2 class="heading-secondary heading-secondary--aside-nav">
    <span class="heading-secondary__main">CATEGORY</span>
    <span class="heading-secondary__sub">カテゴリ別新着記事</span>
  </h2>

  <h3 class="card-list-header">
    <span class="label label--green">求人情報</span>

    <a href="" class="button-primary button-primary--in-heading">すべて見る</a>
  </h3>
  <ul class="card-list card-list--aside-nav">
    <li class="card-horizontal">
      <a href="" class="card-horizontal__anchor">
        <figure class="card-horizontal__image-wrap">
          <img
            src="https://placeimg.com/119/67/arch"
            alt=""
            class="card-horizontal__image"
            loading="lazy"
          />
        </figure>
        <dl class="card-horizontal__summary">
          <dt class="card-horizontal__term">
            【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
          </dt>
          <dd class="card-horizontal__description">
            <figure class="card-horizontal__avater-wrap">
              <img
                src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt=""
                class="card-horizontal__avater"
                loading="lazy"
              />
            </figure>
            <div class="card-horizontal__author-wrap">
              <span class="card-horizontal__author">アジラボ編集部</span>
              <time class="card-horizontal__date">2020.11.20</time>
            </div>
          </dd>
        </dl>
      </a>
    </li>

    <li class="card-horizontal">
      <a href="" class="card-horizontal__anchor">
        <figure class="card-horizontal__image-wrap">
          <img
            src="https://placeimg.com/119/67/arch"
            alt=""
            class="card-horizontal__image"
            loading="lazy"
          />
        </figure>
        <dl class="card-horizontal__summary">
          <dt class="card-horizontal__term">
            【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
          </dt>
          <dd class="card-horizontal__description">
            <figure class="card-horizontal__avater-wrap">
              <img
                src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt=""
                class="card-horizontal__avater"
                loading="lazy"
              />
            </figure>
            <div class="card-horizontal__author-wrap">
              <span class="card-horizontal__author">アジラボ編集部</span>
              <time class="card-horizontal__date">2020.11.20</time>
            </div>
          </dd>
        </dl>
      </a>
    </li>

    <li class="card-horizontal">
      <a href="" class="card-horizontal__anchor">
        <figure class="card-horizontal__image-wrap">
          <img
            src="https://placeimg.com/119/67/arch"
            alt=""
            class="card-horizontal__image"
            loading="lazy"
          />
        </figure>
        <dl class="card-horizontal__summary">
          <dt class="card-horizontal__term">
            【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
          </dt>
          <dd class="card-horizontal__description">
            <figure class="card-horizontal__avater-wrap">
              <img
                src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt=""
                class="card-horizontal__avater"
                loading="lazy"
              />
            </figure>
            <div class="card-horizontal__author-wrap">
              <span class="card-horizontal__author">アジラボ編集部</span>
              <time class="card-horizontal__date">2020.11.20</time>
            </div>
          </dd>
        </dl>
      </a>
    </li>
  </ul>

  <h3 class="card-list-header">
    <span class="label label--blue">就職／転職</span>

    <a href="" class="button-primary button-primary--in-heading">すべて見る</a>
  </h3>
  <ul class="card-list card-list--aside-nav">
    <li class="card-horizontal">
      <a href="" class="card-horizontal__anchor">
        <figure class="card-horizontal__image-wrap">
          <img
            src="https://placeimg.com/119/67/arch"
            alt=""
            class="card-horizontal__image"
            loading="lazy"
          />
        </figure>
        <dl class="card-horizontal__summary">
          <dt class="card-horizontal__term">
            【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
          </dt>
          <dd class="card-horizontal__description">
            <figure class="card-horizontal__avater-wrap">
              <img
                src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt=""
                class="card-horizontal__avater"
                loading="lazy"
              />
            </figure>
            <div class="card-horizontal__author-wrap">
              <span class="card-horizontal__author">アジラボ編集部</span>
              <time class="card-horizontal__date">2020.11.20</time>
            </div>
          </dd>
        </dl>
      </a>
    </li>

    <li class="card-horizontal">
      <a href="" class="card-horizontal__anchor">
        <figure class="card-horizontal__image-wrap">
          <img
            src="https://placeimg.com/119/67/arch"
            alt=""
            class="card-horizontal__image"
            loading="lazy"
          />
        </figure>
        <dl class="card-horizontal__summary">
          <dt class="card-horizontal__term">
            【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
          </dt>
          <dd class="card-horizontal__description">
            <figure class="card-horizontal__avater-wrap">
              <img
                src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt=""
                class="card-horizontal__avater"
                loading="lazy"
              />
            </figure>
            <div class="card-horizontal__author-wrap">
              <span class="card-horizontal__author">アジラボ編集部</span>
              <time class="card-horizontal__date">2020.11.20</time>
            </div>
          </dd>
        </dl>
      </a>
    </li>

    <li class="card-horizontal">
      <a href="" class="card-horizontal__anchor">
        <figure class="card-horizontal__image-wrap">
          <img
            src="https://placeimg.com/119/67/arch"
            alt=""
            class="card-horizontal__image"
            loading="lazy"
          />
        </figure>
        <dl class="card-horizontal__summary">
          <dt class="card-horizontal__term">
            【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
          </dt>
          <dd class="card-horizontal__description">
            <figure class="card-horizontal__avater-wrap">
              <img
                src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt=""
                class="card-horizontal__avater"
                loading="lazy"
              />
            </figure>
            <div class="card-horizontal__author-wrap">
              <span class="card-horizontal__author">アジラボ編集部</span>
              <time class="card-horizontal__date">2020.11.20</time>
            </div>
          </dd>
        </dl>
      </a>
    </li>
  </ul>

  <h3 class="card-list-header">
    <span class="label label--pink">ライフスタイル</span>

    <a href="" class="button-primary button-primary--in-heading">すべて見る</a>
  </h3>
  <ul class="card-list card-list--aside-nav">
    <li class="card-horizontal">
      <a href="" class="card-horizontal__anchor">
        <figure class="card-horizontal__image-wrap">
          <img
            src="https://placeimg.com/119/67/arch"
            alt=""
            class="card-horizontal__image"
            loading="lazy"
          />
        </figure>
        <dl class="card-horizontal__summary">
          <dt class="card-horizontal__term">
            【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
          </dt>
          <dd class="card-horizontal__description">
            <figure class="card-horizontal__avater-wrap">
              <img
                src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt=""
                class="card-horizontal__avater"
                loading="lazy"
              />
            </figure>
            <div class="card-horizontal__author-wrap">
              <span class="card-horizontal__author">アジラボ編集部</span>
              <time class="card-horizontal__date">2020.11.20</time>
            </div>
          </dd>
        </dl>
      </a>
    </li>

    <li class="card-horizontal">
      <a href="" class="card-horizontal__anchor">
        <figure class="card-horizontal__image-wrap">
          <img
            src="https://placeimg.com/119/67/arch"
            alt=""
            class="card-horizontal__image"
            loading="lazy"
          />
        </figure>
        <dl class="card-horizontal__summary">
          <dt class="card-horizontal__term">
            【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
          </dt>
          <dd class="card-horizontal__description">
            <figure class="card-horizontal__avater-wrap">
              <img
                src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt=""
                class="card-horizontal__avater"
                loading="lazy"
              />
            </figure>
            <div class="card-horizontal__author-wrap">
              <span class="card-horizontal__author">アジラボ編集部</span>
              <time class="card-horizontal__date">2020.11.20</time>
            </div>
          </dd>
        </dl>
      </a>
    </li>

    <li class="card-horizontal">
      <a href="" class="card-horizontal__anchor">
        <figure class="card-horizontal__image-wrap">
          <img
            src="https://placeimg.com/119/67/arch"
            alt=""
            class="card-horizontal__image"
            loading="lazy"
          />
        </figure>
        <dl class="card-horizontal__summary">
          <dt class="card-horizontal__term">
            【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
          </dt>
          <dd class="card-horizontal__description">
            <figure class="card-horizontal__avater-wrap">
              <img
                src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt=""
                class="card-horizontal__avater"
                loading="lazy"
              />
            </figure>
            <div class="card-horizontal__author-wrap">
              <span class="card-horizontal__author">アジラボ編集部</span>
              <time class="card-horizontal__date">2020.11.20</time>
            </div>
          </dd>
        </dl>
      </a>
    </li>
  </ul>

  <h3 class="card-list-header">
    <span class="label label--violet">海外移住</span>

    <a href="" class="button-primary button-primary--in-heading">すべて見る</a>
  </h3>
  <ul class="card-list card-list--aside-nav">
    <li class="card-horizontal">
      <a href="" class="card-horizontal__anchor">
        <figure class="card-horizontal__image-wrap">
          <img
            src="https://placeimg.com/119/67/arch"
            alt=""
            class="card-horizontal__image"
            loading="lazy"
          />
        </figure>
        <dl class="card-horizontal__summary">
          <dt class="card-horizontal__term">
            【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
          </dt>
          <dd class="card-horizontal__description">
            <figure class="card-horizontal__avater-wrap">
              <img
                src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt=""
                class="card-horizontal__avater"
                loading="lazy"
              />
            </figure>
            <div class="card-horizontal__author-wrap">
              <span class="card-horizontal__author">アジラボ編集部</span>
              <time class="card-horizontal__date">2020.11.20</time>
            </div>
          </dd>
        </dl>
      </a>
    </li>

    <li class="card-horizontal">
      <a href="" class="card-horizontal__anchor">
        <figure class="card-horizontal__image-wrap">
          <img
            src="https://placeimg.com/119/67/arch"
            alt=""
            class="card-horizontal__image"
            loading="lazy"
          />
        </figure>
        <dl class="card-horizontal__summary">
          <dt class="card-horizontal__term">
            【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
          </dt>
          <dd class="card-horizontal__description">
            <figure class="card-horizontal__avater-wrap">
              <img
                src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt=""
                class="card-horizontal__avater"
                loading="lazy"
              />
            </figure>
            <div class="card-horizontal__author-wrap">
              <span class="card-horizontal__author">アジラボ編集部</span>
              <time class="card-horizontal__date">2020.11.20</time>
            </div>
          </dd>
        </dl>
      </a>
    </li>

    <li class="card-horizontal">
      <a href="" class="card-horizontal__anchor">
        <figure class="card-horizontal__image-wrap">
          <img
            src="https://placeimg.com/119/67/arch"
            alt=""
            class="card-horizontal__image"
            loading="lazy"
          />
        </figure>
        <dl class="card-horizontal__summary">
          <dt class="card-horizontal__term">
            【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
          </dt>
          <dd class="card-horizontal__description">
            <figure class="card-horizontal__avater-wrap">
              <img
                src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt=""
                class="card-horizontal__avater"
                loading="lazy"
              />
            </figure>
            <div class="card-horizontal__author-wrap">
              <span class="card-horizontal__author">アジラボ編集部</span>
              <time class="card-horizontal__date">2020.11.20</time>
            </div>
          </dd>
        </dl>
      </a>
    </li>
  </ul>

  <div class="aside-nav__sticky">
    <h2 class="heading-secondary heading-secondary--aside-nav">
      <span class="heading-secondary__main">POPULAR</span>
      <span class="heading-secondary__sub">人気の記事</span>
    </h2>

    <ol class="card-list card-list--aside-nav">
      <li class="card-horizontal card-horizontal--popular">
        <a href="" class="card-horizontal__anchor">
          <i class="card-horizontal--popular__badge">1</i>
          <figure class="card-horizontal__image-wrap">
            <img
              src="https://placeimg.com/119/67/animals"
              alt=""
              class="card-horizontal__image"
              loading="lazy"
            />
          </figure>
          <dl class="card-horizontal__summary">
            <dt class="card-horizontal__term">
              【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
            </dt>
            <dd class="card-horizontal__description">
              <figure class="card-horizontal__avater-wrap">
                <img
                  src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                  alt=""
                  class="card-horizontal__avater"
                  loading="lazy"
                />
              </figure>
              <div class="card-horizontal__author-wrap">
                <span class="card-horizontal__author">アジラボ編集部</span>
                <time class="card-horizontal__date">2020.11.20</time>
              </div>
            </dd>
          </dl>
        </a>
      </li>

      <li class="card-horizontal card-horizontal--popular">
        <a href="" class="card-horizontal__anchor">
          <i class="card-horizontal--popular__badge">2</i>
          <figure class="card-horizontal__image-wrap">
            <img
              src="https://placeimg.com/119/67/animals"
              alt=""
              class="card-horizontal__image"
              loading="lazy"
            />
          </figure>
          <dl class="card-horizontal__summary">
            <dt class="card-horizontal__term">
              【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
            </dt>
            <dd class="card-horizontal__description">
              <figure class="card-horizontal__avater-wrap">
                <img
                  src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                  alt=""
                  class="card-horizontal__avater"
                  loading="lazy"
                />
              </figure>
              <div class="card-horizontal__author-wrap">
                <span class="card-horizontal__author">アジラボ編集部</span>
                <time class="card-horizontal__date">2020.11.20</time>
              </div>
            </dd>
          </dl>
        </a>
      </li>

      <li class="card-horizontal card-horizontal--popular">
        <a href="" class="card-horizontal__anchor">
          <i class="card-horizontal--popular__badge">3</i>
          <figure class="card-horizontal__image-wrap">
            <img
              src="https://placeimg.com/119/67/animals"
              alt=""
              class="card-horizontal__image"
              loading="lazy"
            />
          </figure>
          <dl class="card-horizontal__summary">
            <dt class="card-horizontal__term">
              【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
            </dt>
            <dd class="card-horizontal__description">
              <figure class="card-horizontal__avater-wrap">
                <img
                  src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                  alt=""
                  class="card-horizontal__avater"
                  loading="lazy"
                />
              </figure>
              <div class="card-horizontal__author-wrap">
                <span class="card-horizontal__author">アジラボ編集部</span>
                <time class="card-horizontal__date">2020.11.20</time>
              </div>
            </dd>
          </dl>
        </a>
      </li>

      <li class="card-horizontal card-horizontal--popular">
        <a href="" class="card-horizontal__anchor">
          <i class="card-horizontal--popular__badge">4</i>
          <figure class="card-horizontal__image-wrap">
            <img
              src="https://placeimg.com/119/67/animals"
              alt=""
              class="card-horizontal__image"
              loading="lazy"
            />
          </figure>
          <dl class="card-horizontal__summary">
            <dt class="card-horizontal__term">
              【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
            </dt>
            <dd class="card-horizontal__description">
              <figure class="card-horizontal__avater-wrap">
                <img
                  src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                  alt=""
                  class="card-horizontal__avater"
                  loading="lazy"
                />
              </figure>
              <div class="card-horizontal__author-wrap">
                <span class="card-horizontal__author">アジラボ編集部</span>
                <time class="card-horizontal__date">2020.11.20</time>
              </div>
            </dd>
          </dl>
        </a>
      </li>

      <li class="card-horizontal card-horizontal--popular">
        <a href="" class="card-horizontal__anchor">
          <i class="card-horizontal--popular__badge">5</i>
          <figure class="card-horizontal__image-wrap">
            <img
              src="https://placeimg.com/119/67/animals"
              alt=""
              class="card-horizontal__image"
              loading="lazy"
            />
          </figure>
          <dl class="card-horizontal__summary">
            <dt class="card-horizontal__term">
              【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
            </dt>
            <dd class="card-horizontal__description">
              <figure class="card-horizontal__avater-wrap">
                <img
                  src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                  alt=""
                  class="card-horizontal__avater"
                  loading="lazy"
                />
              </figure>
              <div class="card-horizontal__author-wrap">
                <span class="card-horizontal__author">アジラボ編集部</span>
                <time class="card-horizontal__date">2020.11.20</time>
              </div>
            </dd>
          </dl>
        </a>
      </li>

      <li class="card-horizontal card-horizontal--popular">
        <a href="" class="card-horizontal__anchor">
          <i class="card-horizontal--popular__badge">6</i>
          <figure class="card-horizontal__image-wrap">
            <img
              src="https://placeimg.com/119/67/animals"
              alt=""
              class="card-horizontal__image"
              loading="lazy"
            />
          </figure>
          <dl class="card-horizontal__summary">
            <dt class="card-horizontal__term">
              【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
            </dt>
            <dd class="card-horizontal__description">
              <figure class="card-horizontal__avater-wrap">
                <img
                  src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                  alt=""
                  class="card-horizontal__avater"
                  loading="lazy"
                />
              </figure>
              <div class="card-horizontal__author-wrap">
                <span class="card-horizontal__author">アジラボ編集部</span>
                <time class="card-horizontal__date">2020.11.20</time>
              </div>
            </dd>
          </dl>
        </a>
      </li>

      <li class="card-horizontal card-horizontal--popular">
        <a href="" class="card-horizontal__anchor">
          <i class="card-horizontal--popular__badge">7</i>
          <figure class="card-horizontal__image-wrap">
            <img
              src="https://placeimg.com/119/67/animals"
              alt=""
              class="card-horizontal__image"
              loading="lazy"
            />
          </figure>
          <dl class="card-horizontal__summary">
            <dt class="card-horizontal__term">
              【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
            </dt>
            <dd class="card-horizontal__description">
              <figure class="card-horizontal__avater-wrap">
                <img
                  src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                  alt=""
                  class="card-horizontal__avater"
                  loading="lazy"
                />
              </figure>
              <div class="card-horizontal__author-wrap">
                <span class="card-horizontal__author">アジラボ編集部</span>
                <time class="card-horizontal__date">2020.11.20</time>
              </div>
            </dd>
          </dl>
        </a>
      </li>

      <li class="card-horizontal card-horizontal--popular">
        <a href="" class="card-horizontal__anchor">
          <i class="card-horizontal--popular__badge">8</i>
          <figure class="card-horizontal__image-wrap">
            <img
              src="https://placeimg.com/119/67/animals"
              alt=""
              class="card-horizontal__image"
              loading="lazy"
            />
          </figure>
          <dl class="card-horizontal__summary">
            <dt class="card-horizontal__term">
              【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
            </dt>
            <dd class="card-horizontal__description">
              <figure class="card-horizontal__avater-wrap">
                <img
                  src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                  alt=""
                  class="card-horizontal__avater"
                  loading="lazy"
                />
              </figure>
              <div class="card-horizontal__author-wrap">
                <span class="card-horizontal__author">アジラボ編集部</span>
                <time class="card-horizontal__date">2020.11.20</time>
              </div>
            </dd>
          </dl>
        </a>
      </li>

      <li class="card-horizontal card-horizontal--popular">
        <a href="" class="card-horizontal__anchor">
          <i class="card-horizontal--popular__badge">9</i>
          <figure class="card-horizontal__image-wrap">
            <img
              src="https://placeimg.com/119/67/animals"
              alt=""
              class="card-horizontal__image"
              loading="lazy"
            />
          </figure>
          <dl class="card-horizontal__summary">
            <dt class="card-horizontal__term">
              【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
            </dt>
            <dd class="card-horizontal__description">
              <figure class="card-horizontal__avater-wrap">
                <img
                  src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                  alt=""
                  class="card-horizontal__avater"
                  loading="lazy"
                />
              </figure>
              <div class="card-horizontal__author-wrap">
                <span class="card-horizontal__author">アジラボ編集部</span>
                <time class="card-horizontal__date">2020.11.20</time>
              </div>
            </dd>
          </dl>
        </a>
      </li>

      <li class="card-horizontal card-horizontal--popular">
        <a href="" class="card-horizontal__anchor">
          <i class="card-horizontal--popular__badge">10</i>
          <figure class="card-horizontal__image-wrap">
            <img
              src="https://placeimg.com/119/67/animals"
              alt=""
              class="card-horizontal__image"
              loading="lazy"
            />
          </figure>
          <dl class="card-horizontal__summary">
            <dt class="card-horizontal__term">
              【2021年版】タイ就職/転職の最新事情（日本人現地採用の給料相場も公開）
            </dt>
            <dd class="card-horizontal__description">
              <figure class="card-horizontal__avater-wrap">
                <img
                  src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                  alt=""
                  class="card-horizontal__avater"
                  loading="lazy"
                />
              </figure>
              <div class="card-horizontal__author-wrap">
                <span class="card-horizontal__author">アジラボ編集部</span>
                <time class="card-horizontal__date">2020.11.20</time>
              </div>
            </dd>
          </dl>
        </a>
      </li>
    </ol>
  </div>
</aside>
