<li class="author">
  <a href="" class="author__anchor">
    <figure class="author__avater-wrap">
      <img
        src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
        alt=""
        class="author__avater"
      />
      <figcaption class="author__degree">ブロガー／SEOコンサル</figcaption>
      <figcaption class="author__name">Taishi Suzuki</figcaption>
    </figure>
  </a>
</li>
