<input type="checkbox" id="menu" class="menu-toggle" autocomplete="off" />
<label for="menu" class="menu-button">
  <div class="menu-button__icon">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <small class="menu-button__text"></small>
</label>
<div class="overlay"></div>
<nav class="global-nav" data-global-nav>
  <div class="global-nav__inner">
    <ul class="global-nav__list">
      <li class="global-nav__item">
        <a href="/" class="global-nav__anchor"> TOP </a>
      </li>
      <li class="global-nav__item">
        <a href="" class="global-nav__anchor"> ABOUT </a>
      </li>
      <li class="global-nav__item">
        <a href="" class="global-nav__anchor"> WRITER </a>
      </li>
      <li class="global-nav__item">
        <a href="" class="global-nav__anchor"> EVENT </a>
      </li>
      <li class="global-nav__item">
        <a href="" class="global-nav__anchor"> YOUTUBE </a>
      </li>
      <li class="global-nav__item global-nav__item--category">
        <a
          href="javascript:void(0)"
          class="global-nav__anchor global-nav__anchor--categories"
          ><label for="accordion" class="accordion-placeholder"
            >CATEGORY</label
          ></a
        >
        <i class="global-nav__arrow"></i>
        <input
          type="checkbox"
          id="accordion"
          class="accordion-toggle"
          autocomplete="off"
        />
        <label for="accordion" class="accordion-button"></label>
        <ul class="global-nav__categories">
          <li class="global-nav__category">
            <a href="" class="global-nav__anchor global-nav__anchor--category">
              求人情報
            </a>
          </li>
          <li class="global-nav__category">
            <a href="" class="global-nav__anchor global-nav__anchor--category">
              就職／転職
            </a>
          </li>
          <li class="global-nav__category">
            <a href="" class="global-nav__anchor global-nav__anchor--category">
              ライフスタイル
            </a>
          </li>
          <li class="global-nav__category">
            <a href="" class="global-nav__anchor global-nav__anchor--category">
              海外移住
            </a>
          </li>
        </ul>
      </li>
      <li class="global-nav__item">
        <a href="" class="global-nav__anchor"> CONTACT </a>
      </li>
    </ul>
    <ul class="global-nav__sns">
      <li class="global-nav__sns-item">
        <a href="" class="global-nav__anchor global-nav__anchor--sns">
          <svg class="global-nav__icon">
            <title>Twitter</title>
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="../img/icons_sprite.svg#twitter"
            ></use>
          </svg>
        </a>
      </li>
      <li class="global-nav__sns-item">
        <a href="" class="global-nav__anchor global-nav__anchor--sns">
          <svg class="global-nav__icon">
            <title>Instagram</title>
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="../img/icons_sprite.svg#instagram"
            ></use>
          </svg>
        </a>
      </li>
      <li class="global-nav__sns-item">
        <a href="" class="global-nav__anchor global-nav__anchor--sns">
          <svg class="global-nav__icon">
            <title>LINE</title>
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="../img/icons_sprite.svg#line"
            ></use>
          </svg>
        </a>
      </li>
      <li class="global-nav__sns-item">
        <a href="" class="global-nav__anchor global-nav__anchor--sns">
          <svg class="global-nav__icon">
            <title>youtube</title>
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="../img/icons_sprite.svg#youtube"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>
