<div id="swiper-hero" class="hero-slider">
  <ul class="hero-slider__list swiper-wrapper" data-hero-slider>
    <li class="hero-slider__item swiper-slide">
      <a href="" class="hero-slider__anchor">
        <figure class="hero-slider__image-wrap">
          <img
            src="../img/banner/sample-1@2x.jpg"
            alt=""
            class="hero-slider__image"
            loading="eager"
          />
        </figure>
        <div class="hero-slider__card">
          <div class="hero-slider__card-inner">
            <span class="label label--pink">ライフスタイル</span>
            <figure class="hero-slider__avater-wrap">
              <img
                src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt=""
                class="hero-slider__avater"
              />
            </figure>
            <dl class="hero-slider__summary">
              <dt class="hero-slider__term">
                【海外在住者の婚活事情②】婚活アプリで結婚!?
                タイ在住の旦那さんと、遠距離恋愛を実らせた秘密に
              </dt>
              <dd class="hero-slider__description">
                <span class="hero-slider__author">Tkashi Suzuki</span>
                <time class="hero-slider__date">2021.08.18</time>
              </dd>
            </dl>
          </div>
        </div>
      </a>
    </li>
    <li class="hero-slider__item swiper-slide">
      <a href="" class="hero-slider__anchor">
        <figure class="hero-slider__image-wrap">
          <img
            src="../img/banner/sample-2@2x.jpg"
            alt=""
            class="hero-slider__image"
            loading="eager"
          />
        </figure>
        <div class="hero-slider__card">
          <div class="hero-slider__card-inner">
            <span class="label label--green">求人情報</span>
            <figure class="hero-slider__avater-wrap">
              <img
                src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt=""
                class="hero-slider__avater"
              />
            </figure>
            <dl class="hero-slider__summary">
              <dt class="hero-slider__term">
                【海外在住者の婚活事情②】婚活アプリで結婚!?
                タイ在住の旦那さんと、遠距離恋愛を実らせた秘密に
              </dt>
              <dd class="hero-slider__description">
                <span class="hero-slider__author">Tkashi Suzuki</span>
                <time class="hero-slider__date">2021.08.18</time>
              </dd>
            </dl>
          </div>
        </div>
      </a>
    </li>
    <li class="hero-slider__item swiper-slide">
      <a href="" class="hero-slider__anchor">
        <figure class="hero-slider__image-wrap">
          <img
            src="../img/banner/sample-3@2x.jpg"
            alt=""
            class="hero-slider__image"
            loading="eager"
          />
        </figure>
        <div class="hero-slider__card">
          <div class="hero-slider__card-inner">
            <span class="label label--blue">就職／転職</span>
            <figure class="hero-slider__avater-wrap">
              <img
                src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt=""
                class="hero-slider__avater"
              />
            </figure>
            <dl class="hero-slider__summary">
              <dt class="hero-slider__term">
                【海外在住者の婚活事情②】婚活アプリで結婚!?
                タイ在住の旦那さんと、遠距離恋愛を実らせた秘密に
              </dt>
              <dd class="hero-slider__description">
                <span class="hero-slider__author">Tkashi Suzuki</span>
                <time class="hero-slider__date">2021.08.18</time>
              </dd>
            </dl>
          </div>
        </div>
      </a>
    </li>
  </ul>
  <div class="arrow-button arrow-button--next">
    <i class="arrow-button__icon"></i>
  </div>
  <div class="arrow-button arrow-button--prev">
    <i class="arrow-button__icon"></i>
  </div>
  <div class="hero-slider__pagination swiper-pagination"></div>
</div>
