<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('./_inc/_head.ejs'); %>
    <link rel="stylesheet" href="../css/404.css">
    <script src="../js/404.js"></script>
</head>
<body class="not-found">
    <%- include('./_components/_header.ejs', { type: 'simple', various: null }); %>
    <%- include('./_components/_global_nav.ejs'); %>
    <div class="wrapper">
        <div class="wrapper__inner" data-wrapper>
            <main class="main" data-main>
                <section class="section section--404">
                    <div class="not-found__content">
                        <div class="not-found__symbol">404</div>
                        <p class="not-found__text">
                            ページが見つかりません
                        </p>
                        <%- include('./_components/_button.ejs', { type: 'primary', various: null, invert: false, text: 'トップへ戻る' }); %>
                    </div>
                </section>
            </main>
        </div>
    </div>
    <%- include('./_components/_page_scroll.ejs'); %>
    <%- include('./_components/_footer.ejs', { type: null }); %>
</body>
</html> 