
<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('./_inc/_head.ejs'); %>
    <link rel="stylesheet" href="../css/author.css">
    <script src="../js/author.js"></script>
</head>
<body>
    <%- include('./_components/_header.ejs', { type: 'simple', various: null }); %>
    <%- include('./_components/_global_nav.ejs'); %>
    <div class="wrapper">
        <div class="wrapper__inner" data-wrapper>
            <main class="main main--author" data-main>
                <section class="section">
                    <%- include('./_components/_heading.ejs', { type: 'primary', various: null, main: 'WRITER', sub: 'アジラボライター' }); %>
                    <div class="section__inner">
                        <ul class="author-list author-list--author">
                            <% for (var i = 0; i < 22; i++) { %>
                                <%- include('./_components/_author.ejs', { type: 'list', various: 'modal', slide: false, index: i + 1 }); %>
                            <% } %>
                        </ul>
                    </div>
                </section>
            </main>
        </div>
    </div>
    <%- include('./_components/_page_scroll.ejs'); %>
    <%- include('./_components/_footer.ejs', { type: null }); %>
    <% for (var i = 0; i < 22; i++) { %>
        <%- include('./_components/_modal.ejs', { type: 'author', index: i + 1 }); %>
    <% } %>
</body>
</html> 