<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('./_inc/_head.ejs'); %>
    <link rel="stylesheet" href="../css/category.css">
    <script src="../js/category.js"></script>
</head>
<body>
    <%- include('./_components/_header.ejs', { type: 'simple', various: null }); %>
    <%- include('./_components/_global_nav.ejs'); %>
    <div class="wrapper">
        <div class="wrapper__inner wrapper__inner--category" data-wrapper>
            <main class="main" data-main>
                <section class="section">
                    <%- include('./_components/_heading.ejs', { type: 'primary', various: null, main: 'EVENT', sub: 'イベント情報' }); %>
                    <div class="section__inner">
                        <ul class="card-list card-list--event-vertical" data-card-list>
                            <% for (var i = 0; i < 8; i++) { %>
                                <%- include('./_components/_card.ejs', { type: 'horizontal', various: 'event', close: true, slide: false }); %>
                            <% } %>
                        </ul>
                        <%- include('./_components/_button.ejs', { type: 'arrow-button', various: 'bottom', data_attribute: 'data-infinite' }); %>
                    </div>
                </section>
            </main>
        </div>
    </div>
    <%- include('./_components/_page_scroll.ejs'); %>
    <%- include('./_components/_footer.ejs', { type: null }); %>
</body>
</html> 