<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('./_inc/_head.ejs'); %>
    <link rel="stylesheet" href="../css/home.css">
    <script src="../js/home.js"></script>
</head>
<body>
    <%- include('./_components/home/_splash.ejs'); %>
    <%- include('./_components/_header.ejs', { type: null, various: null }); %>
    <%- include('./_components/_global_nav.ejs'); %>
    <div class="wrapper wrapper--home">
        <%- include('./_components/_slider.ejs', { type: 'home' }); %>
        <div class="wrapper__inner wrapper__inner--home" data-wrapper>
            <main class="main" data-main>
                <section class="section section--home-latest">
                    <%- include('./_components/_heading.ejs', { type: 'secondary', various: null, main: 'LATEST', sub: '新着記事' }); %>
                    <ul class="card-list card-list--main">
                        <% for (var i = 0; i < 6; i++) { %>
                            <%- include('./_components/_card.ejs', { type: 'vertical', label: true }); %>
                        <% } %>
                    </ul>
                    <%- include('./_components/_button.ejs', { type: 'primary', various: null, invert: false, text: '新着記事一覧' }); %>
                </section>
                <section class="section section--home-author">
                    <%- include('./_components/_heading.ejs', { type: 'secondary', various: 'with-button', main: 'WRITER', sub: '記事執筆者' }); %>
                    <div id="swiper-author" class="author-list-wrap">
                        <ul class="author-list author-list--slide swiper-wrapper">
                            <% for (var i = 0; i < 6; i++) { %>
                                <%- include('./_components/_author.ejs', { type: 'list', various: 'anchor', slide: true }); %>
                            <% } %>
                        </ul>
                        <div class="arrow-button arrow-button--next">
                            <i class="arrow-button__icon"></i>
                        </div>
                        <div class="arrow-button arrow-button--prev">
                            <i class="arrow-button__icon"></i>
                        </div>
                    </div>
                </section>
                <section class="section section--home-event">
                    <%- include('./_components/_heading.ejs', { type: 'secondary', various: 'with-button', main: 'EVENT', sub: 'イベント情報' }); %>
                    <div id="swiper-event" class="card-list-wrap">
                        <ul class="card-list card-list--slide swiper-wrapper">
                            <% for (var i = 0; i < 6; i++) { %>
                                <%- include('./_components/_card.ejs', { type: 'horizontal', various: 'event', slide: true, close: true }); %>
                            <% } %>
                        </ul>
                        <div class="arrow-button arrow-button--next">
                            <i class="arrow-button__icon"></i>
                        </div>
                        <div class="arrow-button arrow-button--prev">
                            <i class="arrow-button__icon"></i>
                        </div>
                    </div>
                </section>
                <section class="section section--home-youtube">
                    <%- include('./_components/_heading.ejs', { type: 'secondary', various: 'invert', sm_screen: null, main: 'YOUTUBE', sub: 'アジラボチャンネル' }); %>
                    <div id="swiper-youtube" class="youtuve-frame-wrap">
                        <ul class="youtube-frame swiper-wrapper">
                            <% for (var i = 0; i < 6; i++) { %>
                                <%- include('./_components/home/_youtube_frame.ejs') %>
                            <% } %>
                        </ul>
                        <div class="arrow-button arrow-button--next">
                            <i class="arrow-button__icon"></i>
                        </div>
                        <div class="arrow-button arrow-button--prev">
                            <i class="arrow-button__icon"></i>
                        </div>
                    </div>
                    <%- include('./_components/_button.ejs', { type: 'primary', various: 'with-icon', iconname: 'internal_link', invert: true, text: 'アジラボチャンネル' }); %>
                </section>
            </main>
            <%- include('./_components/_aside_nav.ejs'); %>
        </div>
    </div>
    <%- include('./_components/_page_scroll.ejs'); %>
    <%- include('./_components/_footer.ejs', { type: null }); %>
</body>
</html>

