<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('./_inc/_head.ejs'); %>
    <link rel="stylesheet" href="../css/page.css">
    <script src="../js/page.js"></script>
</head>
<body>
    <%- include('./_components/_header.ejs', { type: 'simple', various: null }); %>
    <%- include('./_components/_global_nav.ejs'); %>
    <div class="wrapper wrapper--pages">
        <div class="wrapper__inner wrapper__inner--pages" data-wrapper>
            <main class="main" data-main>
                <section class="section">
                    <%- include('./_components/_heading.ejs', { type: 'primary', various: null, main: 'COMPANY', sub: '運用会社' }); %>
                    <div class="section__inner">
                        <%- include('./_components/_post.ejs', { type: 'page', various: 'company' }) %>
                    </div>
                </section>
            </main>
        </div>
    </div>
    <%- include('./_components/_page_scroll.ejs'); %>
    <%- include('./_components/_footer.ejs', { type: null }); %>
</body>
</html> 