<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('./_inc/_head.ejs'); %>
    <link rel="stylesheet" href="../css/about.css">
    <script src="../js/about.js"></script>
    <script src="https://www.youtube.com/iframe_api" defer></script>
    <script defer>
        //youtube API
        let ytPlayer;
        function onYouTubeIframeAPIReady() {
            ytPlayer = new YT.Player('youtube', {//動画を表示させたいIDを指定
                videoId: '5PyZ4k0nIks',//動画のアドレスの指定
                playerVars: {
                    playsinline: 1,// インライン再生を行う
                    autoplay:1,//自動再生を行う
                    fs:0,//全画面表示ボタンを表示しない    
                    rel: 0,// 再生中の動画と同じチャンネルの関連動画を表示
                    controls: 0,// プレーヤー コントロールを表示しない
                    modestbranding: 1, // YouTubeロゴの非表示
                    iv_load_policy: 3, // アノテーションの非表示
                    start: 0,//0秒後から動画がスタート
                },    
                events: {//　イベント
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }
    
        //ミュートにしてから再生する設定
        function onPlayerReady(event) {
            event.target.mute();
            event.target.playVideo();
        }
    
        //ループ設定
        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.ENDED) {
                event.target.playVideo();
            }
        }
    </script>
</head>
<body>
    <%- include('./_components/_header.ejs', { type: null, various: 'transparent' }); %>
    <%- include('./_components/_global_nav.ejs'); %>
    <div class="wrapper wrapper--about">
        <%- include('./_components/_slider.ejs', { type: 'about' }); %>
        <div class="wrapper__inner wrapper__inner--about" data-wrapper>
            <%- include('./_components/pages/_youtube_bg.ejs') %>
            <div class="wrapper--about__placeholder">
                <svg class="wrapper--about__logo">
                    <title>ASIA CAREER LABO</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/icons_sprite.svg#logotype_vertical"></use>
                </svg>
                <main class="main main--about">
                    <%- include('./_components/pages/_about.ejs') %>
                </main>
            </div>
            <aside class="about-member">
                <div class="about-member__inner">
                    <span class="about-member__bg-triangle" data-bg-triangle></span>
                    <%- include('./_components/_heading.ejs', { type: 'secondary', various: null, main: 'MEMBER', sub: 'アジラボメンバー' }); %>
                    <ul class="author-list author-list--card">
                        <% for (var i = 0; i < 2; i++) { %>
                            <%- include('./_components/_author.ejs', { type: 'list', various: 'card' } ); %>
                        <% } %>
                    </ul>
                    <ul class="author-list author-list--vertical@sm">
                        <% for (var i = 0; i < 3; i++) { %>
                            <%- include('./_components/_author.ejs', {type: 'list', various: null} ); %>
                        <% } %>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
    <%- include('./_components/_page_scroll.ejs'); %>
    <%- include('./_components/_footer.ejs', { type: 'about' }); %>
</body>
</html> 