
<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('./_inc/_head.ejs'); %>
    <link rel="stylesheet" href="../css/single.css">
    <script src="../js/single.js"></script>
</head>
<body>
    <%- include('./_components/_header.ejs', { type: 'simple', various: null }); %>
    <%- include('./_components/_global_nav.ejs'); %>
    <div class="wrapper">
        <div class="wrapper__inner wrapper__inner--single" data-wrapper>
            <main class="main" data-main>
                <%- include('./_components/single/_hero.ejs', { type: 'event' }); %>
                <section class="section section--single">
                    <%- include('./_components/_post.ejs', { type: 'start', various: null }) %>
                    <%- include('./_components/_post.ejs', { type: 'map', various: null }) %>
                    <%- include('./_components/_post.ejs', { type: 'single', various: 'event' }) %>
                    <%- include('./_components/_post.ejs', { type: 'close', various: null }) %>
                    <%- include('./_components/single/_share.ejs') %>
                    <%- include('./_components/_button.ejs', { type: 'prev-next', disabled: false, text: [ 'プラカノン市場で買い物して料理して食べた', 'トンロー市場で買い物して料理して食べた' ] }) %>
                    <%- include('./_components/_button.ejs', { type: 'prev-next', disabled: true, text: [ '記事がありません', '記事がありません' ] }) %>
                </section>
            </main>
            <%- include('./_components/_aside_nav.ejs'); %>
        </div>
    </div>
    <%- include('./_components/_page_scroll.ejs'); %>
    <%- include('./_components/_footer.ejs', { type: null }); %>
</body>
</html> 