<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('./_inc/_head.ejs'); %>
    <link rel="stylesheet" href="../css/tag.css">
    <script src="../js/tag.js"></script>
</head>
<body>
    <%- include('./_components/_header.ejs', { type: 'simple', various: null }); %>
    <%- include('./_components/_global_nav.ejs'); %>
    <div class="wrapper wrapper--tag-posts">
        <div class="wrapper__inner wrapper__inner--tag" data-wrapper>
            <main class="main" data-main>
                <section class="section">
                    <%- include('./_components/_heading.ejs', { type: 'primary', various: 'tag', main: '転職エージェント', sub: 'TAG' }); %>
                    <div class="section__inner section__inner--tag">
                        <ul class="card-list card-list--main" data-card-list>
                            <% for (var i = 0; i < 6; i++) { %>
                                <%- include('./_components/_card.ejs', { type: 'vertical', label: false }); %>
                            <% } %>
                        </ul>
                        <%- include('./_components/_button.ejs', { type: 'arrow-button', various: 'bottom', data_attribute: 'data-infinite' }); %>
                        <div class="tag-box">
                            <%- include('./_components/_heading.ejs', { type: 'secondary', various: null, main: 'TAG', sub: 'タグ一覧' }); %>
                            <div class="tag-list">
                                <% for (var i = 0; i < 3; i++) { %>
                                    <%- include('./_components/_tag.ejs', { type: 'anchor', various: 'bg-white', text: '仕事探し' }); %>
                                <% } %>
                                <% for (var i = 0; i < 3; i++) { %>
                                    <%- include('./_components/_tag.ejs', { type: 'anchor', various: 'bg-white', text: '転職エージェント' }); %>
                                <% } %>
                                <% for (var i = 0; i < 3; i++) { %>
                                    <%- include('./_components/_tag.ejs', { type: 'anchor', various: 'bg-white', text: '移住' }); %>
                                <% } %>
                                <% for (var i = 0; i < 3; i++) { %>
                                    <%- include('./_components/_tag.ejs', { type: 'anchor', various: 'bg-white', text: '婚活' }); %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <%- include('./_components/_aside_nav.ejs'); %>
        </div>
    </div>
    <%- include('./_components/_page_scroll.ejs'); %>
    <%- include('./_components/_footer.ejs', { type: null }); %>
</body>
</html> 