<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('./_inc/_head.ejs'); %>
    <link rel="stylesheet" href="../css/template.css">
    <script src="../js/template.js"></script>
</head>
<body>
    <%- include('./_components/_header.ejs', { type: null, various: null }); %>
    <%- include('./_components/_global_nav.ejs'); %>
    <div class="wrapper">
        <div class="wrapper__inner" data-wrapper>
            <main class="main" data-main>
                <section class="section">
                    <%- include('./_components/_heading.ejs', { type: 'secondary', various: null, main: 'LATEST', sub: '新着記事' }); %>
                    <ul class="card-list card-list--main">
                        <% for (var i = 0; i < 32; i++) { %>
                            <%- include('./_components/_card.ejs', { type: 'vertical', label: true }); %>
                        <% } %>
                    </ul>
                    <%- include('./_components/_button.ejs', { type: 'primary', various: null, invert: false, text: '新着記事一覧' }); %>
                </section>
            </main>
            <%- include('./_components/_aside_nav.ejs'); %>
        </div>
    </div>
    <%- include('./_components/_page_scroll.ejs'); %>
    <%- include('./_components/_footer.ejs', { type: null }); %>
</body>
</html>
