<section class="section section--about">
  <div class="about-post-lead">
    <!-- custome field -->
    <ul>
      <li>海外で生活してみたい。</li>
      <li>今の環境・自分を変えたい。</li>
      <li>
        もっと自分の世界を広げ、
        <br />自分の可能性に挑戦してみたい。
      </li>
    </ul>
    <p>
      アジラボは、海外で新しい自分に出会いたい人や、
      <br />海外に飛び出して頑張っている人を応援するメディアです。
    </p>
    <!-- /custome field -->
  </div>
</section>
<section class="section section--about">
  <h2 class="heading-secondary heading-secondary--invert">
    <span class="heading-secondary__main">MISSION</span>
    <span class="heading-secondary__sub">アジラボのミッション</span>
  </h2>

  <div class="about-post-mission">
    <!-- custome field -->
    <ol>
      <li>
        <strong>最新の海外就職情報をお届け</strong>
        海外移住において、最も多い悩みは仕事・収入に関することです。<br />
        アジラボでは、世界最大規模の人材紹介会社とタッグを組み、最新の就職・転職情報をお届けします。
      </li>
      <li>
        <strong>最新の海外就職情報をお届け</strong>
        海外移住において、最も多い悩みは仕事・収入に関することです。<br />
        アジラボでは、世界最大規模の人材紹介会社とタッグを組み、最新の就職・転職情報をお届けします。
      </li>
      <li>
        <strong>最新の海外就職情報をお届け</strong>
        海外移住において、最も多い悩みは仕事・収入に関することです。<br />
        アジラボでは、世界最大規模の人材紹介会社とタッグを組み、最新の就職・転職情報をお届けします。
      </li>
    </ol>
    <!-- /custome field -->
  </div>
</section>
<section class="section section--about">
  <div class="about-mission">
    <h3 class="about-mission__heading">
      こんなお悩みをお持ちの方は、
      <br />ぜひ一度ご相談ください。
    </h3>
    <dl class="about-baloon">
      <dt class="about-baloon__term">BEFORE</dt>
      <dd class="about-baloon__desc">
        <h4 class="about-baloon__heading">移住前のお悩み</h4>
        <div class="about-post-before">
          <!-- custome field -->
          <ul>
            <li>海外移住してみたいけど、どうしたらいいかわからない</li>
            <li>海外移住すると、何が変わるか間きたい</li>
            <li>海外で生活できるか不安だ</li>
            <li>英語もほとんど話せないが、働けるのか</li>
          </ul>
          <!-- /custome field -->
        </div>
      </dd>
    </dl>
    <dl class="about-baloon">
      <dt class="about-baloon__term">AFTER</dt>
      <dd class="about-baloon__desc">
        <h4 class="about-baloon__heading">移住後のお悩み</h4>
        <div class="about-post-after">
          <!-- custome field -->
          <ul>
            <li>海外移住してみたけど、思ったより充実できていない</li>
            <li>友達や恋人ができずに孤独だ</li>
            <li>ずっと海外で生活するべきか迷っている</li>
            <li>別の国にも移住してみたい</li>
          </ul>
          <!-- /custome field -->
        </div>
      </dd>
    </dl>
  </div>
</section>
<section class="section section--about">
  <h2
    class="heading-secondary heading-secondary--invert heading-secondary--vertical@sm"
  >
    <span class="heading-secondary__main">MESSAGE</span>
    <span class="heading-secondary__sub">アジラボの想い</span>
  </h2>

  <div class="about-post-message">
    <!-- custome field -->
    <p>
      海外に興味を持ちながら、一歩を踏み出せない人や、海外移住を果たしながら思い描いていた生活を送れていないと感じている人。
      <br />そんなモヤモヤしている人が一歩を踏み出し、お互いにつながれる場を作れたらと思いアジラボを立ち上げました。
    </p>
    <p>
      海外に出ることはあくまで一つの手段。目的はもっと先の「自分らしく、幸せな人生を送ること」。
      <br />アジラボは海外に出たその先の、海外で生きる人の羅針盤となるような存在を目指します。
    </p>
    <p>まずはタイ、そしてアジア全域に広げていきたいと思っています。</p>
    <!-- /custome field -->
  </div>
</section>
