<%
  var categories = [
    {
        name: 'すべての記事',
        slug: 'all',
        current: true,
    },
    {
        name: 'お金／資産運用',
        slug: 'money',
        current: false,
    },
    {
        name: 'タイ移住',
        slug: 'thai-emigration',
        current: false,
    },
    {
        name: '医療／保険',
        slug: 'insurance',
        current: false,
    },
    {
        name: '子育て',
        slug: 'parenting',
        current: false,
    },
    {
        name: '恋愛／結婚',
        slug: 'marriage',
        current: false,
    },
    {
        name: '法律／制度',
        slug: 'law',
        current: false,
    },
    {
        name: '語学',
        slug: 'language',
        current: false,
    },
  ]
%>
<div class="tab">
    <ul class="tab__list">
        <% categories.forEach(function (category) { %>
            <% if (category.current === true) { %>
            <li class="tab__item is-current">
                <a href="" class="tab__anchor label label--<%- color %>">
                    <%- category.name %>
                </a>
            </li>
            <% } else { %>
            <li class="tab__item">
                <a href="" class="tab__anchor label">
                    <%- category.name %>
                </a>
            </li>
            <% } %>
        <% }) %>
    </ul>
</div>