@use "../_setting" as *;

/*
Author: LIQUID DESIGN Ltd.
Author URI: https://lqd.jp/wp/
*/
.post-single {
    .liquid-speech-balloon-avatar {
        width: 52px;
        height: 52px;
        border: 1px solid $color-pale-gray;
        border-radius: 50%;
        box-sizing: border-box;
        top: -22px;
    }
    .liquid-speech-balloon-avatar::after {
        @include font-default;
        font-size: max(3.2vw,1.2rem);
        font-weight: 700;
        color: $color-base-black;
        white-space: nowrap;
        position: absolute;
        content: '';
        display: block;
        width: unset;
        left: 0;
        top: 0;
        text-align: left;
        @include landscape {
            font-size: 1.2rem;
        }
        @include tb-screen {
            font-size: 1.2rem;
        }
    }
    .liquid-speech-balloon-text {
        border: 0;
        border-radius: max(2.1333vw, 8px);
        padding: max(3.2vw,12px) max(4.2666vw,16px) max(3.7333vw,14px);
        p {
            @include font-noto-sans;
            font-size: max(4vw,1.5rem);
            font-weight: 700;
            line-height: 1.5;
        }
        @include landscape {
            border-radius: 8px;
            padding: 12px 16px 14px;
            p {
                font-size: 1.5rem;
            }
        }
        @include tb-screen {
            border-radius: 8px;
            max-width: 429px;
            padding: 12px 16px 14px;
            p {
                font-size: 1.5rem;
            }
        }
    }
    .liquid-speech-balloon-wrap {
        margin-bottom: 42px;
        &:not(.liquid-speech-balloon-right) {
            .liquid-speech-balloon-avatar::after {
                left: 62px;
            }
            .liquid-speech-balloon-text {
                background-color: $color-pale-gray;
            }
            .liquid-speech-balloon-arrow {
                background-color: $color-pale-gray;
                border: 0;
                height: max(5.0666vw,19px);
                width: max(7.2vw,27px);
                transform: skewX(60deg);
                top: max(2.1333vw,8px);
                left: min(-0.2666vw,-1px);
                z-index: -1;
                @include landscape {
                    top: 8px;
                    left: -1px;
                    height: 19px;
                    width: 27px;
                }
                @include tb-screen {
                    top: 8px;
                    left: -1px;
                    height: 19px;
                    width: 27px;
                }
            }
        }
        &.liquid-speech-balloon-right {
            .liquid-speech-balloon-avatar::after {
                left: unset;
                right: 62px;
            }
            .liquid-speech-balloon-text {
                background-color: $color-theme-yellow;
            }
            .liquid-speech-balloon-arrow {
                background-color: $color-theme-yellow;
                border: 0;
                height: max(5.0666vw,19px);
                width: max(7.2vw,27px);
                transform: skewX(-60deg);
                top: max(2.1333vw,8px);
                right: min(-0.2666vw,-1px);
                z-index: -1;
                @include landscape {
                    top: 8px;
                    right: -1px;
                    height: 19px;
                    width: 27px;
                }
                @include tb-screen {
                    top: 8px;
                    right: -1px;
                    height: 19px;
                    width: 27px;
                }
            }
        }
    }
}
