@use "../_setting" as *;

.hero {
    @include sm-screen {
        width: calc(100% + max(8.5333vw, 32px));
        transform: translateX(min(-4.2666vw, -16px));
    }
    @include tb-screen {

    }
    @include pc-screen {

    }
}

.hero__image-wrap {
    position: relative;
    @include tb-screen {
        width: calc(100% + 48px);
        transform: translateX(-24px);
    }
    @include pc-screen {
        width: unset;
        transform: unset;
    }
}

.hero__image {
    display: block;
    width: 100%;
    height: auto;
    @include tb-screen {
        width: 100%;
        height: auto;
    }
}

.hero__inner {
    margin-bottom: max(6.4vw,24px);
    @include sm-screen {
        padding: 0 max(4.2666vw, 16px);
    }
    @include sm-landscape {
        margin-bottom: 24px;
    }
    @include tb-screen {
        margin-bottom: 24px;
    }
}

.hero__schedule {
    @include font-heebo;
    font-weight: 500;
    letter-spacing: .03em;
    margin: max(4.2666vw,16px) 0 0;
    @include sm-screen {
        margin-top: 16px;
    }
    @include tb-screen {
        margin-top: 16px;
    }
    & + .hero__heading {
        margin-top: max(2.1333vw,8px);
        @include sm-landscape {
            margin-top: 8px;
        }
        @include tb-screen {
            margin-top: 8px;
        }
    }
}

.hero__year {
    font-size: max(3.7333vw,1.4rem);
    line-height: 1;
    letter-spacing: .03em;
    @include sm-screen {
        font-size: 1.4rem;
    }
    @include tb-screen {
        font-size: 1.4rem;
    }
}

.hero__schedule-inner {
    display: flex;
    align-items: baseline;
    margin-top: max(1.0666vw,4px);
    @include sm-screen {
        margin-top: 4px;
    }
    @include tb-screen {
        margin-top: 4px;
    }
}

.hero__month {
    font-size: max(7.4666vw,2.8rem);
    line-height: 1;
    &::after {
        content: '/';
        padding: 0 .1em;
    }
    @include sm-screen {
        font-size: 2.8rem;
    }
    @include tb-screen {
        font-size: 2.8rem;
    }
}

.hero__date {
    font-size: max(7.4666vw,2.8rem);
    line-height: 1;
    @include sm-screen {
        font-size: 2.8rem;
    }
    @include tb-screen {
        font-size: 2.8rem;
    }
}

.hero__dateofweek {
    @include font-noto-sans;
    font-weight: 700;
    font-size: max(4.2666vw,1.6rem);
    line-height: 1;
    letter-spacing: .02em;
    margin-left: .375em;
    @include sm-screen {
        font-size: 1.6rem;
    }
    @include tb-screen {
        font-size: 1.6rem;
    }
}

.hero__placeholder-time {
    line-height: 1;
    margin-left: auto;
}

.hero__start-time {
    font-size: max(5.3333vw,2rem);
    letter-spacing: .03em;
    @include sm-screen {
        font-size: 2rem;
    }
    @include tb-screen {
        font-size: 2rem;
    }
    &::after {
        @include font-noto-sans;
        font-weight: 700;
        content: '～';
    }
}

.hero__finish-time {
    font-size: max(5.3333vw,2rem);
    letter-spacing: .03em;
    @include sm-screen {
        font-size: 2rem;
    }
    @include tb-screen {
        font-size: 2rem;
    }
}

.hero__heading {
    @include font-noto-sans;
    font-size: max(5.3333vw,2rem);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .03em;
    margin: max(6.4vw,24px) 0 0;
    @include sm-screen {
        font-size: 2rem;
        margin-top: 24px;
    }
    @include tb-screen {
        font-size: 2.8rem;
        margin-top: 24px;
    }
    & + .hero__anchor {
        margin-top: max(2.6666vw,10px);
        @include sm-landscape {
            margin-top: 10px;
        }
        @include tb-screen {
            margin-top: 12px;
        }
    }
}

.hero__tag {
    display: flex;
    flex-wrap: wrap;
    margin-top: max(2.6666vw,10px);
    @include sm-landscape {
        margin-top: 10px;
    }
    @include tb-screen {
        margin-top: 12px;
    }
}

.hero__place {
    color: $color-base-black;
    font-size: max(3.7333vw,1.4rem);
    line-height: 1.75;
    margin: max(1.6vw,6px) 0 0;
    @include sm-landscape {
        font-size: 1.4rem;
        margin-top: 6px;
    }
    @include tb-screen {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    &::before {
        content: '@';
        display: inline;
    }
}

.hero__author {
    align-items: center;
    display: flex;
    margin: max(1.0666vw,4px) 0 0;
    @include sm-landscape {
        margin-top: 4px;
    }
    @include tb-screen {
        margin-top: 8px;
    }
}

.hero__anchor {
    @include reset-anchor;
}

.hero__avater {
    border-radius: 50%;
    display: block;
    width: max(11.7333vw,44px);
    height: max(11.7333vw,44px);
    @include sm-landscape {
        width: 44px;
        height: 44px;
    }
    @include tb-screen {
        width: 44px;
        height: 44px;
    }
}

.hero__caption {
    color: $color-base-black;
    font-size: max(3.7333vw,1.4rem);
    font-weight: 700;
    line-height: 1.75;
    @include sm-landscape {
        font-size: 1.4rem;
    }
    @include tb-screen {
        font-size: 1.4rem;
    }
}

.hero__name {
    @include reset-anchor;
    color: $color-base-black;
    margin-left: 1em;
}

.hero__update {
    margin-left: 0.7142em;
}