@use "../_setting" as *;

.post-single {
    .related {
        @include reset-anchor;
        @include font-noto-sans;
        box-sizing: border-box;
        border: 2px solid $color-light-gray;
        border-radius: 0 max(2.1333vw, 8px) max(2.1333vw, 8px) max(2.1333vw, 8px);
        font-size: max(3.7333vw,1.4rem);
        line-height: 1.5;
        color: $color-base-black;
        display: flex;
        padding: 1em;
        position: relative;
        width: 100%;
        @include landscape {
            border-radius: 0 8px 8px 8px;
            font-size: 1.4rem;
        }
        @include tb-screen {
            border-radius: 0 8px 8px 8px;
            font-size: 1.4rem;
            margin: 0 auto;
            width: 47.6388%;
        }
        &__label {
            box-sizing: border-box;
            border: 2px solid $color-light-gray;
            border-radius: max(2.1333vw, 8px) max(2.1333vw, 8px) 0 0;
            display: block;
            background-color: $color-theme-yellow;
            font-weight: 700;
            padding: .4285em .8571em;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-2px,-100%);
            @include landscape {
                border-radius: 8px 8px 0 0;
            }
            @include tb-screen {
                border-radius: 8px 8px 0 0;
            }
        }
        &__label {

            @include tb-screen {
                font-size: 1.4rem;
            }
        }
        &__image {
            aspect-ratio: 119 / 67;
            display: block;
            width: max(31.7333vw,119px);
            height: max(17.8666vw,67px);
            margin-right: max(3.2vw,12px);
            object-fit: cover;
            @include landscape {
                width: 119px;
                height: 67px;
                margin-right: 12px;
            }
            @include tb-screen {
                width: 119px;
                height: 67px;
                margin-right: 12px;
            }
        }
        &__detail {
            
        }
        &__title {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: max(1.6vw,6px);
            @include landscape {
                margin-bottom: 6px;
            }
            @include tb-screen {
                margin-bottom: 6px;
            }
        }
        &__author-wrap {
            align-items: center;
            display: flex;
        }
        &__avater {
            border-radius: 50%;
            display: block;
            margin-left: 0;
            margin-right: max(1.0666vw, 4px);
            width: max(5.3333vw, 20px);
            height: max(5.3333vw, 20px);
            @include landscape {
                width: 20px;
                height: 20px;
            }
            @include tb-screen {
                width: 20px;
                height: 20px;
            }
        }
        &__author {
            display: block;
            font-size: max(2.6666vw,1rem);
            margin-right: 1em;
            @include landscape {
                font-size: 1rem;
            }
            @include tb-screen {
                font-size: 1rem;
            }
        }
        &__date {
            display: block;
            font-size: max(2.6666vw,1rem);
            @include landscape {
                font-size: 1rem;
            }
            @include tb-screen {
                font-size: 1rem;
            }
        }
    }
}