@use "../_setting" as *;

.share {
    margin-top: max(10.6666vw,40px);
    @include sm-landscape {
        margin-top: 40px;
    }
    @include tb-screen {
        margin-top: 40px;
    }
}
.share__title {
    @include font-heebo;
    font-size: max(3.7333vw,1.4rem);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .03em;
    text-align: center;
    margin: 0 0 max(3.7333vw,1.4rem);
    @include sm-landscape {
        font-size: 1.4rem;
        margin-bottom: 14px;
    }
    @include tb-screen {
        font-size: 1.4rem;
        margin-bottom: 14px;
    }
}
.share__list {
    @include reset-list;
    display: flex;
    justify-content: center;
}
.share__item {
    margin-right: max(4.2666vw,16px);
    &:last-child {
        margin-right: 0;
    }
    @include sm-landscape {
        margin-right: 16px;
    }
    @include tb-screen {
        margin-right: 16px
    }
}
.share__anchor {
    @include reset-anchor;
}
.share__icon {
    width: max(10.6666vw,40px);
    height: max(10.6666vw,40px);
    @include sm-landscape {
        width: 40px;
        height: 40px;
    }
    @include tb-screen {
        width: 40px;
        height: 40px;
    }
}