@use "../_setting" as *;

// レンダリングサンプル：
// <div id="toc_container" class="no_bullets">
//     <p class="toc_title">INDEX</p>
//     <ul class="toc_list">
//         <li><a href="#i">タイで中古車を買う前に知っておきたいこと</a></li>
//         <li><a href="#i-2">タイの中古車相場の特徴とは</a></li>
//         <li><a href="#i-3">中古車サイトの情報をメインに購入を行うのは危険…！？</a></li>
//         <li><a href="#i-4">試乗をせず購入することは危険！</a></li>
//         <li><a href="#i-5">最後に</a></li>
//     </ul>
// </div>

.post-single {
    #toc_container {
        margin-bottom: max(10.6666vw,40px);
        @include sm-landscape {
            margin-bottom: 40px;
        }
        @include tb-screen {
            margin-bottom: 40px;
        }
    }
    .toc_title {
        @include font-heebo;
        font-weight: 700;
        font-size: max(5.8666vw,2.2rem);
        display: flex;
        align-items: center;
        letter-spacing: .03em;
        line-height: 1.6363;
        margin-bottom: .4545em;
        &::after {
            @include font-default;
            font-size: max(3.2vw,1.2rem);
            content: '目次';
            line-height: 1.5;
            letter-spacing: 0;
            padding-left: 1em;
            @include sm-landscape {
                font-size: 1.2rem;
            }
            @include tb-screen {
                font-size: 1.2rem;
            }
        }
        @include sm-landscape {
            font-size: 2.2rem;
        }
        @include tb-screen {
            font-size: 2.2rem;
        }
    }
    .toc_list {
        @include font-noto-sans;
        font-size: max(3.7333vw,1.4rem);
        font-weight: 700;
        line-height: 1.5;
        list-style: none;
        margin-top: 0;
        margin-left: 0;
        @include sm-landscape {
            font-size: 1.4rem;
        }
        @include tb-screen {
            font-size: 1.5rem;
        }
        li {
            counter-increment: num;
            border-bottom: 1px solid $color-light-gray;
            padding: .7142em 0;
            position: relative;
            padding-left: 1.5em;
            &::before {
                content: counter(num) '.';
                display: block;
                position: absolute;
                top: .7142em;
                left: 0;
            }
            &:first-child {
                border-top: 1px solid $color-light-gray;
            }
            @include tb-screen {
            
            }
        }
        a {
            color: $color-base-black;
            display: inline-block;
            text-decoration: none;
            @include tb-screen {
            
            }
        }
    }
}