<div class="post-lead">
  <!-- custom field -->
  <p>
    「タイに移住の費用はどれくらいなのだろうか」「現地での生活費はいくらかかるのだろうか」
    タイへの移住を考える際、気になるポイントの一つとして、必要資金や生活費用などのお金に関する心配があると思います。
    <br /><br />初めてタイに住む方であれば、どれくらいの費用を見込んでおけば良いのかが分からず、悩む方は多いのではないでしょうか。
    <br /><br />そこで今回は、タイ移住に関わる費用について、実際に移住した人の体験談を含めてまとめてみました。
  </p>
  <!-- custom field -->
</div>
