<div class="tab">
  <ul class="tab__list">
    <li class="tab__item">
      <a href="" class="tab__label is-current"> すべての記事 </a>
    </li>

    <li class="tab__item">
      <a href="" class="tab__label"> お金／資産運用 </a>
    </li>

    <li class="tab__item">
      <a href="" class="tab__label"> タイ移住 </a>
    </li>

    <li class="tab__item">
      <a href="" class="tab__label"> 医療／保険 </a>
    </li>

    <li class="tab__item">
      <a href="" class="tab__label"> 子育て </a>
    </li>

    <li class="tab__item">
      <a href="" class="tab__label"> 恋愛／結婚 </a>
    </li>

    <li class="tab__item">
      <a href="" class="tab__label"> 法律／制度 </a>
    </li>

    <li class="tab__item">
      <a href="" class="tab__label"> 語学 </a>
    </li>
  </ul>
</div>
